[2021-08-10 18:23] wdprice commented on #434
Honestly, easiest way to get a custom role is to choose a single skill in the "Input Skills" flow. Choose something that isn't a part of any role and search on it. For example, I added only a single skill: `Amazon Alexa` and searched.

This got me to the custom role screen. Then click on "Continue this Search" to add the custom role to your cart and proceed to the deposit.

[2021-08-10 18:42] wdprice commented on #401
Check this ticket as it is related : https://github.com/topcoder-platform/taas-app/issues/435

we want to use regSource=taasApp instead of tcbusiness

[2021-08-11 03:17] arpitchaudhari commented on #445
TCConnCopilot is defined as external user.

Can you verify whether this user is external or internal in Auth0?

<img width="1900" alt="Screenshot 2021-08-11 at 8 41 51 AM" src="https://user-images.githubusercontent.com/29978858/128964149-484d063f-616c-41a6-8255-17a449c2bf0d.png">

[2021-08-11 03:26] arpitchaudhari commented on #446
Issue Resolved.

https://user-images.githubusercontent.com/29978858/128964858-64bc1073-a523-4ce9-92c1-1f934f1d16fa.mov

[2021-08-11 03:44] arpitchaudhari commented on #443
Issue Resolved.

![Image 11-08-21 at 9 04 AM](https://user-images.githubusercontent.com/29978858/128966294-6658cf9b-2046-4b50-9400-fa58ff1fbf9f.jpg)

[2021-08-11 03:53] sdgun commented on #445
@arpitchaudhari

![image](https://user-images.githubusercontent.com/4592712/128966890-3b2c729e-0961-47fa-a19f-4bc5c4783361.png)

[2021-08-11 04:03] arpitchaudhari commented on #445
Don't goto checkout page. The data is deleted. Check before checkout page.

[2021-08-11 04:22] sdgun commented on #445
@arpitchaudhari

![image](https://user-images.githubusercontent.com/4592712/128969241-9c099ff1-1ae4-418b-9356-4aa147d5b623.png)

[2021-08-11 04:44] sdgun commented on #442
@nikolay83 I tested this with TCConnCopilot

[2021-08-11 05:08] sdgun commented on #412
Removing Ready for Dev QA label since https://github.com/topcoder-platform/taas-app/issues/412#issuecomment-894264477 is pending

[2021-08-11 05:23] sdgun commented on #442
@nikolay83 The counts are not getting updated when modifying them from the Team details page

https://user-images.githubusercontent.com/4592712/128973918-733ec4a2-4ec3-4761-b3d4-7f720061211b.mp4

[2021-08-11 05:31] sdgun opened #449 "Empty page when proceeding from JD page and from Skills page"
**Steps**
**Scenario 1**
Enter below description in JD page and continue by selecting all the skills or one skill on the pop up
'database java'

Shows an empty page

https://user-images.githubusercontent.com/4592712/128974580-02ab16bf-cc92-4098-be29-46c9ee00f8a4.mp4

**Scenario 2**
Select some skills which are existing in a selected roles and select 3 of them
continue

https://user-images.githubus

[2021-08-11 05:44] arpitchaudhari commented on #441
Issue Fixed

<img width="1899" alt="Screenshot 2021-08-11 at 11 02 09 AM" src="https://user-images.githubusercontent.com/29978858/128975723-e1326155-4886-4476-9430-828c3873d854.png">

[2021-08-11 05:45] arpitchaudhari commented on #434
Fixed #441

[2021-08-11 05:58] sdgun opened #451 "The selected 'Full or Part Time' option is changing to default when switch to Rate details tab"
**Steps**
Search for a role/skill
On the matching profiles page, select a different value in the Full or Part Time field
Click Rate details tab
Now come back to Overview

The selected 'Full or Part Time' option is changing to default when switch to Rate details tab

![image](https://user-images.githubusercontent.com/4592712/128977158-59c92734-f7b6-4fbf-a07f-c8583b139b08.png)

[2021-08-11 06:04] sdgun commented on #446
Verified in Dev, this issue is fixed.

https://user-images.githubusercontent.com/4592712/128977764-8bd4f4f8-5873-4d46-880e-91ffe4fa64cd.mp4

[2021-08-11 06:27] nikolay83 commented on #449
@sdgun any chance you tested it during deployment?
Both JD and Skills flow work fine for me, leading to either normal or custom role found page.

[2021-08-11 06:30] yoution commented on #435
@nikolay83 please review https://github.com/topcoder-platform/micro-frontends-navbar-app/pull/29

[2021-08-11 06:47] arpitchaudhari commented on #444
Issue Resolved.

<img width="955" alt="Screenshot 2021-08-11 at 12 15 54 PM" src="https://user-images.githubusercontent.com/29978858/128982303-36b1cc1b-9259-4eeb-ada6-e956a08605f1.png">

[2021-08-11 06:53] arpitchaudhari commented on #445
@nikolay83

I have found out that by default, app is considering member is external. When the internal member login in between the flow, the auth logic is not updating the `isExternalMember`. Due to this, checkout page is shown.

[2021-08-11 06:57] sdgun commented on #449
@nikolay83 I checked these again and seeing the issue still. It happens in the mentioned scenarios and also when skills searched (skills page or JD):
docker aws database
NGINX Photoshop Docker database

Mostly when database skill is there. Please check with the exact inputs given in this issue.

I also double checked this in prod and this issue is not there.

[2021-08-11 07:17] sdgun opened #453 "When there is a validation error on the checkout page, even after correcting the error the Pay button is not working"
Steps
Go till checkout page
Enter all the data and delete some field OR enter some invalid data in one field(ex- incomplete CVC)
Click Pay button(it will show an error message)
Correct the invalid data and click Pay again

Pay button is not working, nothing happens when clicking pay

https://user-images.githubusercontent.com/4592712/128986066-9a50c8ae-c8f7-4d6b-b640-b7b733817fa9.mp4

[2021-08-11 07:24] sdgun opened #454 "No validation errors when card number, expiry date and CVC are not entered or deleted. Pay button is enabled"
**Steps**
Go till checkout page
Enter all the data and except  card number, expiry date and CVC

Pay button is enabled, when click it only the validation errors appear

![image](https://user-images.githubusercontent.com/4592712/128987773-6431fd3c-cbfb-4845-bd0d-e05a5eb8d330.png)

Also when a card number is less than 16 digits, we should display the below message. But in the implementation no messa

[2021-08-11 07:38] sdgun commented on #434
Not sure if there will be roles without rate values, but if there is no rate set, NaN is still displayed on the checkout page

![image](https://user-images.githubusercontent.com/4592712/128988988-431ab4e7-d559-47ca-9f7b-7fba63155f95.png)

[2021-08-11 08:08] sdgun opened #455 "Full time/part time availability is incorrectly shown on the checkout page if the user select a part time option and then change it to full time on the profile matching page"
**Steps**
Proceed to matching profile found page in any flow
Select a part time option and then select full time option again
continue
on the team details page enter team name and continue

Shows Part-Time availability under the position

https://user-images.githubusercontent.com/4592712/128993521-6276a341-3157-4768-b891-feb5475137f1.mp4

[2021-08-11 08:14] sdgun opened #456 "[info]Taas Platform - Roles Intake - Checkout page and Stripe integration"
Challenge - https://www.topcoder.com/challenges/1a87f10b-eab4-46d8-be74-3f86118575af

[2021-08-11 08:16] nikolay83 commented on #412
@yoution
Will's request was : for "Select Roles" path only can we use the new screen and show all the skills related to the Role.

[2021-08-11 08:18] yoution commented on #412
ok, I will add it

[2021-08-11 08:19] sdgun commented on #440
@arpitchaudhari I found in the latest design requirements, the page title is 'Confirm your request', so please do not change it. I am modifying the description now.

[2021-08-11 08:38] sdgun commented on #443
Verified in Dev, the amounts are correctly calculated.

![image](https://user-images.githubusercontent.com/4592712/128997818-100c12da-f020-409f-ad79-d4d6d6c6ddd9.png)

[2021-08-11 09:52] sdgun commented on #441
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/129008967-fe83deca-f4b4-435c-8cf6-9b6cf76e1fa3.png)

[2021-08-11 09:57] sdgun commented on #412
Verified both disable skills with match rate .66 and the role flow showing all skills highlighted.

![image](https://user-images.githubusercontent.com/4592712/129009575-23da425f-9509-4f1d-a99a-2ded91e0fa71.png)

![image](https://user-images.githubusercontent.com/4592712/129009698-10d27a95-c634-4bb1-b312-b2835b41d060.png)

[2021-08-11 10:08] sdgun commented on #406
Verified in Dev.

https://user-images.githubusercontent.com/4592712/129011226-b46a99cb-a8a7-4f55-9107-206af98e337c.mp4

[2021-08-11 12:14] arpitchaudhari commented on #449
Try with filling job title.

![Screenshot 2021-08-11 at 5 43 38 PM](https://user-images.githubusercontent.com/29978858/129026716-dba85134-f772-4375-a452-aed323fdcebf.png)

[2021-08-11 17:18] nikolay83 commented on #449
@arpitchaudhari
1. The job title is not mandatory, so the flow must go on even if it's empty
2. I tried with the job title, it's still an empty page.

[2021-08-11 17:24] nikolay83 commented on #445
@arpitchaudhari
Yes, that's correct logic.
Before displaying the Checkout page, you must check (by member ID) if the user is external or not. Use the same service that the Auth logic does.

[2021-08-11 19:14] wdprice opened #459 "Confirmation Popup after Payment"

[2021-08-11 19:31] wdprice opened #460 "Insert Chatbot Code Snippet"
The following code needs to be added for a chatbot to appear on the page:

`<script type="text/javascript">
    window._chatlio = window._chatlio||[];
    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure",

[2021-08-11 19:46] nikolay83 commented on #459
Do you mean payment confirmation, not the Commitment popup? Because if the latter, it'll be a bit impertinent to ask for commitment after the client has paid the deposit :)

[2021-08-11 20:11] wdprice commented on #434
We shouldn't display a role without a global rate ever.

[2021-08-11 20:22] wdprice commented on #460
All pages @nikolay83

[2021-08-11 20:23] wdprice commented on #435
@yoution @nikolay83 - is this updating the sign-in in link for all MFE users, or only users who enter the signup process from TaaS experiences?

[2021-08-11 20:33] wdprice opened #461 "Redirect & Popup Edit after successful credit card transaction"
Upon completion successful of a payment, the user currently gets a popup modal say "Creating Team" and then is directed to "My Teams".

Replace the Popup Modal with the design linked here:
https://marvelapp.com/prototype/89c7i66/screen/81180793

Use the following text:
Title: WE'VE RECEIVED YOUR DEPOSIT
Subtitle:  Thanks for trusting us with your talent needs! You will be redirected to your Team p

[2021-08-11 20:33] wdprice commented on #461
@nikolay83 - this is a late breaking bit of feedback. Let me know if this will take more than one day to deliver and we may need to push it back to a later release.

[2021-08-11 20:44] nikolay83 opened #462 "Don't display a role without a global rate"
Is there is a role in the database that has a global rate (the full-time one) empty or null, then this role shouldn't
- be displayed in the Roles list
- be found when searching via Skills or Job Description flow

[2021-08-11 20:46] nikolay83 commented on #434
@wdprice @sdgun
sounds like a new requirement, so I've created a separate issue: https://github.com/topcoder-platform/taas-app/issues/462 and changed the status to Ready for QA here.

[2021-08-11 22:19] yoution commented on #435
@wdprice maybe all user，is anything wrong？

[2021-08-11 22:58] wdprice commented on #435
We would only want to use that regSource if they are in a taas experience.
If someone was in the “Earn” experience they’d register as a community
member. It’s about attributing it to the right place.

On Wed, Aug 11, 2021 at 6:19 PM yoution ***@***.***> wrote:

[2021-08-12 04:54] yoution commented on #462
@nikolay83 please review
https://github.com/topcoder-platform/taas-apis/pull/479
https://github.com/topcoder-platform/taas-app/issues/462

[2021-08-12 04:56] yoution commented on #459
@wdprice please confirm, and what will be showed in the popup?

[2021-08-12 05:15] sdgun opened #464 "Empty page when searching for some roles"
**Steps**
Go to https://platform.topcoder-dev.com/taas/createnewteam/role
Select ANGULAR DEVELOPER 2 role
Click search

sendRoleSearchRequest API responds with the data, but UI is blank

https://user-images.githubusercontent.com/4592712/129141739-ec5f77f4-c4a2-4bce-84c4-7be39ad75082.mp4

[2021-08-12 05:22] sdgun opened #466 "The pay amounts are all shown as 'NaN' on checkout page"
**Steps**
Go to checkout page by selecting a few roles which have global rates

The pay amounts are not NaN

![image](https://user-images.githubusercontent.com/4592712/129142163-c5303e59-0c55-4810-9306-226cee09365a.png)

[2021-08-12 05:26] sdgun commented on #455
@yoution This issue is not fixed, now it always show part time on the checkout page.

https://user-images.githubusercontent.com/4592712/129142700-ff3725df-5e72-48c1-99c1-b3d35dfb66f3.mp4

[2021-08-12 05:28] yoution commented on #455
I will check

[2021-08-12 05:41] sdgun opened #467 "Pay button is enabled when email is incorrect"
**Steps**
Go till checkout page
Fill all fields with valid data but keep email incorrect

Pay button should be disabled, but it is enabled now.

![image](https://user-images.githubusercontent.com/4592712/129143906-f72f1a73-28a3-4c8e-82bb-e866c2e98463.png)

[2021-08-12 06:14] sdgun commented on #453
Verified in Dev.

[2021-08-12 06:31] arpitchaudhari commented on #442
Issue Resolved

Uploading Screen Recording 2021-08-12 at 11.52.21 AM.mov…

[2021-08-12 06:31] arpitchaudhari commented on #442
Issue Resolved

https://user-images.githubusercontent.com/29978858/129148771-9691933b-cbe7-41cd-925d-9105fea65b37.mov

[2021-08-12 07:05] nikolay83 commented on #459
@yoution
For now just uncomment the existing popup. Will may be offline for the next 3-4 hours.

[2021-08-12 07:34] sdgun commented on #455
Verified in Dev, fixed.

[2021-08-12 08:24] sdgun commented on #462
@nikolay83 @wdprice Should this only be applied to Global rate (full time)? In my comment on issue [434](https://github.com/topcoder-platform/taas-app/issues/434#issuecomment-896575895), it's missing part time global rate which cause the amount to be displayed as 'NaN'

[2021-08-12 08:34] cagdas001 commented on #449
@sdgun could you please re-check if it's still an issue? It's working on my side (with the database skill added)

[2021-08-12 08:45] sdgun commented on #449
@cagdas001 This is not reproducible to me too now. I will close it after some more testing if it works.

[2021-08-12 09:08] yoution commented on #466
@sdgun  maybe can not reproduce
on the other hand, can you tell me how can I go to the payment page? when I click `submit` button, it will go to `taas app` list

[2021-08-12 09:25] sdgun commented on #466
@yoution You have to log in from an external user to see payment page. I also do not see this issue now.

[2021-08-12 09:34] yoution commented on #466
fixed with https://github.com/topcoder-platform/taas-app/issues/455

[2021-08-12 10:11] sdgun commented on #451
Verified in Dev, fixed.

https://user-images.githubusercontent.com/4592712/129179719-e100d45d-1a6b-4867-a46e-ae09d71f1517.mp4

[2021-08-12 10:36] sdgun commented on #435
regSource is set to taasApp in the url when continuing to sign in/up from intake app as an anonymous user

![image](https://user-images.githubusercontent.com/4592712/129182907-89be8c0e-45dc-481b-92f0-7fb9329f4e66.png)

[2021-08-12 10:40] sdgun commented on #460
Verified in Dev, Chatbot is there on all pages for logged in or anonymous users except on checkout page. Observed the below:

1. On the Chatbot UI, the fields are not clearly visible
2. After sending some feedback/query, it doesn't show the form again when click on chatbot(shows the message 'Thanks for your...', until the page is refreshed

[2021-08-12 10:59] #344 closed

[2021-08-12 11:01] sdgun commented on #401
Verified in Dev, the user is not redirected to connect anymore, but since in dev the user is taken to start page after sign up, cannot verify proceeding to role intake submission after new user signs in while processing role selection.

[2021-08-12 11:06] sdgun commented on #466
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/129186804-161944e9-2110-4c45-8b6c-8517caab379e.png)

[2021-08-12 11:16] sdgun commented on #464
Verified in Dev, fixed.

[2021-08-12 11:40] sdgun opened #475 "Payment page gets stuck, 'null' is appended to the url instead of create-taas-payment"
**Steps**
Select a role/skill or enter JD and proceed to checkout page from an external user
Stay for a few seconds on the page

The Url shows null and page is stuck. Unable to proceed with the payment

https://user-images.githubusercontent.com/4592712/129190700-1de476ef-5c89-4588-a4d8-39189ababa7b.mp4

[2021-08-12 11:51] sdgun commented on #461
Verification is blocked due to https://github.com/topcoder-platform/taas-app/issues/475

[2021-08-12 12:05] sdgun commented on #445
Verified in Dev, fixed.

[2021-08-12 12:16] sdgun commented on #475
Sometimes the payment page goes blank and shows the below:

![image](https://user-images.githubusercontent.com/4592712/129195134-dbb78ba5-8580-4636-b792-d0b14e98bed9.png)

[2021-08-12 12:33] sdgun commented on #442
Verified in Dev, fixed.

https://user-images.githubusercontent.com/4592712/129197317-2e6fbd99-574c-49e2-a258-7416b15a85af.mp4

[2021-08-12 12:37] sdgun commented on #440
Verified in Dev(all mentioned browsers), fixed.

![image](https://user-images.githubusercontent.com/4592712/129197665-96f6e5ed-4f89-488f-8955-b418defca20c.png)

[2021-08-12 12:52] arpitchaudhari commented on #475
Fixed

[2021-08-12 12:53] arpitchaudhari commented on #467
Issue Resolved

https://user-images.githubusercontent.com/29978858/129199911-bbd5c5f9-876d-4c69-a17e-a50c8606007d.mov

[2021-08-12 14:16] wdprice commented on #475
![image](https://user-images.githubusercontent.com/6014049/129212766-b635a49c-1d22-4be7-abab-b80a2b8e12a5.png)

This is happening after a few seconds on the checkout page with no interaction from the user.

[2021-08-12 14:42] sdgun commented on #461
Adding Blocked label since https://github.com/topcoder-platform/taas-app/issues/475 is still failing

[2021-08-12 14:47] wdprice commented on #462
Ah OK, so we need Global Part time rates added? That is easy enough to fix - it is a data issue.

[2021-08-12 15:35] arpitchaudhari commented on #475
Its working.

https://user-images.githubusercontent.com/29978858/129225187-7f370bf3-1881-4074-983d-3faa4b7a1ac7.mov

[2021-08-12 15:37] nikolay83 commented on #475
@wdprice @sdgun
I can't reproduce it either, works fine for me on dev, both with the custom and/or normal roles, both skills and roles flow.

[2021-08-12 15:39] arpitchaudhari commented on #475
Same here. I am also not able to reproduce it.

[2021-08-12 15:46] nikolay83 commented on #439
@wdprice
do you want to set the minimum weekly rate in Admin Roles UI?

[2021-08-12 16:06] cagdas001 commented on #439
Just following on the discussion. Did you mean "default" values, as discussed above? Or you're talking about another thing and "minimum" is the correct term?

[2021-08-12 16:18] nikolay83 commented on #439
I think the default can be a minimum. Anyway, rates as low as $10/week don't make sense and if displayed to a customer may be even more confusing than "N/A".

[2021-08-12 16:22] sdgun commented on #475
Verified in Dev, this issue is fixed.

https://user-images.githubusercontent.com/4592712/129232507-b1bc89b7-9cc0-4736-9ab7-083d6d6aa153.mp4

[2021-08-12 16:26] sdgun commented on #461
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/129233002-9482c803-2690-4ac2-b334-f7c11304bb17.png)

[2021-08-12 16:31] sdgun commented on #459
@nikolay83 Is this issue a duplicate of https://github.com/topcoder-platform/taas-app/issues/461?

[2021-08-12 16:38] nikolay83 commented on #462
@yoution
2 extra requirements:
1) global20 and global30 rates also shouldn't be empty or null. So display only the roles that have all 3 global rates not empty.
2) display the part-time rate for the custom role (the full-time rate is in config) as
30 hour rate = Global Rate * .75
20 hour rate = Global Rate * .5

[2021-08-12 19:10] wdprice opened #479 "Add Trusted By on checkout page"
Marvelapp design updated to include a Trusted By element: https://marvelapp.com/prototype/89c7i66/screen/81201237

[2021-08-13 01:05] yoution commented on #462
@nikolay83 `the full-time rate is in config`, does it already exist?I can not found the config value

[2021-08-13 05:44] sdgun opened #481 "The title entered by the user in JD page is not displayed in the next page"
Steps
Go to JD page
Enter a job description
Enter a job title
Click search and continue to the next page

Expected: If the user has entered a title, it should be displayed on the next page instead of the text "WHAT HAPPENS NEXT"

Actual: "WHAT HAPPENS NEXT" is always displayed irrespective of the title entered by the user

![image](https://user-images.githubusercontent.com/4592712/129310537-baa00d

[2021-08-13 06:02] sdgun commented on #462
@yoution The rate is set incorrectly. For 30 hrs it should be Global Rate * .75 and for 20hrs Global Rate * .5, but it is vice versa now.

https://user-images.githubusercontent.com/4592712/129312002-b73fcc32-0c35-44e0-bf3d-1735dcb0fb7d.mp4

[2021-08-13 06:03] yoution commented on #462
@sdgun I will check

[2021-08-13 06:12] sdgun commented on #415
Verified in Dev, fixed.

[2021-08-13 06:16] nikolay83 commented on #462
@yoution
customRole.rates[0].rate20Global = customRole.rates[0].global * 0.75
  customRole.rates[0].rate30Global = customRole.rates[0].global * 0.5

Should be vice versa, 0.75 for 30 hours

[2021-08-13 06:23] yoution commented on #462
@nikolay83 please review

[2021-08-13 06:47] sdgun commented on #361
@nikolay83 This issue is not fixed still. On both flows(internal/external user)

Internal user:

https://user-images.githubusercontent.com/4592712/129314583-05d2afac-f0f3-424e-bebf-6a7e10e2084a.mp4

External User:

After payment completes, the 'OPEN POSITIONS' on Teams page doesn't show all added positions until the page is refreshed

[2021-08-13 07:03] nikolay83 commented on #481
@sdgun
I think it's intentionally overridden by the static title when updating labels.

[2021-08-13 07:03] sdgun opened #482 "Rate details doesn't show all the rates to the internal user, when user signs in after proceeding from an anonymous user"
**Steps**
Go to https://platform.topcoder-dev.com/taas/createnewteam without logging in
Proceed from any flow until sign in is prompted
Sign in as an internal user
Close the pop up and check the Rate details tab

Actual Behavior
All rates are not displayed

Expected behavior
Internal user should see all rates

https://user-images.githubusercontent.com/4592712/129317823-52bd2c9e-d1ed-41c2-99ff-e1f5

[2021-08-13 07:25] sdgun commented on #481
@nikolay83 I thought the requirement was to show the title when coming from JD page by entering a title.

![image](https://user-images.githubusercontent.com/4592712/129320263-e0cc7968-93b8-47fd-aa0a-d8a550a1e7a2.png)

[2021-08-13 07:34] nikolay83 commented on #481
@sdgun
right you are!

@mbaghel is on it.

[2021-08-13 07:37] wdprice commented on #459
Dupe ticket. Closing.

[2021-08-13 07:37] #459 closed

[2021-08-13 08:01] sdgun commented on #462
Verified in Dev, fixed.

[2021-08-13 08:36] sdgun opened #483 "Internal members should not see the last step(Refundable deposit payment) on the completeness box"
Steps
Go to intake app sign in as Tcconncopilot user
Search for a role
Check the step 4 on the completeness box

Internal members should not see this step

![image](https://user-images.githubusercontent.com/4592712/129329262-618ac9c5-9f7c-4be0-b915-f665c3738483.png)

[2021-08-13 09:51] sdgun commented on #481
@nikolay83 I took the description of No matching profile as an example, this behavior(replacing role name with user entered title) should be there even if a matching role is found in JD flow(I didn't find any requirement change to this behavior). This fix is only adding the title when there is no matching profile.

[2021-08-13 11:52] mbaghel commented on #481
@nikolay83 @sdgun  I made a PR to add the job title to matching role card as well. Please see #485

[2021-08-13 12:14] wdprice opened #486 "Small Update to v5/projects POST after successful payment"
Add to the `details` section of the POST a key/value pair to identify this is sourced from TaaS Intake.

key: utm.intakeSource
value: taasAppIntake

[2021-08-13 14:38] nikolay83 commented on #439
Requirement: just auto-populate all the rates with $1000.

[2021-08-14 04:44] arpitchaudhari commented on #482
`niche` is not present in data.

UI Code:
[code]

JSON Data:
[code]

[2021-08-14 05:05] sdgun commented on #481
@mbaghel @nikolay83 When a title is entered while there is a matching role to the entered skills, the position added does not show the title in the position list.

https://user-images.githubusercontent.com/4592712/129434733-b372465c-6bf6-455d-9e3f-10ae1173794c.mp4

[2021-08-14 05:35] sdgun commented on #439
Verified in Dev, fixed.

https://user-images.githubusercontent.com/4592712/129435256-4d5fdacf-295d-45d2-a1c8-0abce5b0bcce.mp4

[2021-08-14 05:40] sdgun commented on #486
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/129435362-5e7170ec-7536-4566-b6fe-5e6396012351.png)

[2021-08-14 05:49] sdgun commented on #482
@arpitchaudhari Nothing to do with missing niche value here, you can see in the video the view of rate details is totally different when the user first sees the rate details after sign in and when the user checks it by selecting a role the second time. The first view is the view of the external user(less details) second view is the view we have to show to the internal user(show all rates)

[2021-08-14 06:04] arpitchaudhari commented on #482
I was just informing it. I know the issue. I am working on it.

[2021-08-15 07:34] mbaghel commented on #481
I found the original specification from when I added the ability to insert a custom job title. At the time it was only intended to replace the job title for "custom roles". Did this requirement change? I think it makes sense to keep the title of the found role rather than to replace it with the user's arbitrary job title.

Relevant part of challenge overview from challenge [Taas Platform - Roles I

[2021-08-15 12:36] nikolay83 commented on #481
@sdgun I think there is no best solution for it, and I doubt it'd prevent us from going live. So I suggest we accept it as it is.
@wdprice WDYT?

[2021-08-15 12:51] sdgun commented on #481
@nikolay83 I don't think this issue should prevent the go live, it's a P3. But the behavior in current production is this.

[2021-08-15 13:47] nikolay83 commented on #483
@sdgun @lakshmiathreya
The impact analysis for this and #482 may be
- external users/anonymous viewing something they are not authorized to see, e.g. internal rates
- external users not viewing what they should, e.g. payment page
- internal viewing what they should not see, e.g. payment page

[2021-08-15 16:27] sdgun commented on #483
@nikolay83 It shows 'Overview of the Results' step as the 3rd and 4th step now for both internal/external users. At the checkout page 4th step changes to 'Refundable Deposit Payment'

![image](https://user-images.githubusercontent.com/4592712/129485309-c34bc273-2215-4b8e-a18c-1033be5a2b75.png)

[2021-08-15 16:37] sdgun commented on #482
Verified in Dev, this issue is fixed. Also tested the [impacted area](https://github.com/topcoder-platform/taas-app/issues/483#issuecomment-899053022)

[2021-08-15 17:07] nikolay83 commented on #483
@yoution @sdgun
I suggest an internal user doesn't see any 4th step in this list.

[2021-08-16 04:46] sdgun commented on #483
Verified in Dev, this issue is fixed.

![image](https://user-images.githubusercontent.com/4592712/129512536-79c78c10-75c2-4e89-99a0-3815351abb86.png)

[2021-08-16 07:42] sdgun commented on #483
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129528526-e408c9db-f828-4f1e-bb38-31e2ad079a11.png)

[2021-08-16 07:42] #483 closed

[2021-08-16 07:43] sdgun commented on #460
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129528756-f07df5cc-337e-416b-913b-014a2d7c930a.png)

[2021-08-16 07:43] #460 closed

[2021-08-16 07:51] sdgun commented on #400
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129529800-2be74e72-d9ad-49b8-90b1-5b93c1838454.png)

![image](https://user-images.githubusercontent.com/4592712/129529816-9170c130-29a9-4c49-92f9-ff78bfcb871b.png)

[2021-08-16 07:51] #400 closed

[2021-08-16 07:59] sdgun commented on #402
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129530941-9874948d-4ec3-4712-a6f9-b548c8b919f7.png)

[2021-08-16 08:00] #402 closed

[2021-08-16 08:01] sdgun commented on #404
Overridden by changes in https://github.com/topcoder-platform/taas-app/issues/411

[2021-08-16 08:01] #404 closed

[2021-08-16 08:04] sdgun commented on #411
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129531485-70428215-0b11-4941-a08a-74a08e2726b5.png)

[2021-08-16 08:04] #411 closed

[2021-08-16 08:05] sdgun commented on #416
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129531586-0541178a-2db2-4454-ad4f-bda901956fba.png)

[2021-08-16 08:05] #416 closed

[2021-08-16 08:06] sdgun commented on #410
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129531702-4ee77949-b30d-4edb-8200-5e3409f728e5.png)

[2021-08-16 08:06] #410 closed

[2021-08-16 08:13] sdgun commented on #390
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129532548-cdf386a6-cab1-44c0-8c0a-2741e22fb083.png)

[2021-08-16 08:13] #390 closed

[2021-08-16 08:34] lakshmiathreya commented on #403
<img width="1680" alt="Screenshot 2021-08-16 at 1 42 20 PM" src="https://user-images.githubusercontent.com/51733042/129535084-4b320792-595f-4eac-ac13-44b509cd5afc.png">
<img width="1680" alt="Screenshot 2021-08-16 at 1 51 01 PM" src="https://user-images.githubusercontent.com/51733042/129535130-c988995d-5e9b-4a62-b122-6c0f7754e952.png">
<img width="1680" alt="Screenshot 2021-08-16 at 1 57 42 PM" sr

[2021-08-16 08:36] lakshmiathreya commented on #403
-- Create and Edit of Role is verified
-- Default Rate is set to 10
-- Global Rates- removal is being allowed
Pls clarify @nikolay83 @sdgun

[2021-08-16 08:36] lakshmiathreya commented on #403
-- Create and Edit of Role is verified
-- Default Rate is set to 10
-- Global Rates- removal is being allowed
Pls clarify @nikolay83 @sdgun

[2021-08-16 08:40] sdgun commented on #407
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129535870-7e844fa8-6611-4c54-b07a-c3f71adba70b.png)

![image](https://user-images.githubusercontent.com/4592712/129535920-a869b989-84d7-424d-95c8-7df7ec5eb71f.png)

[2021-08-16 08:40] #407 closed

[2021-08-16 08:47] sdgun commented on #434
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129536877-3f78c09b-4c06-4457-b23f-6f287d826fde.png)

[2021-08-16 08:47] #434 closed

[2021-08-16 08:50] sdgun commented on #396
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129537211-1fda8249-1144-4450-b0cc-b851c1c50658.png)

[2021-08-16 08:50] #396 closed

[2021-08-16 08:51] sdgun commented on #397
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129537405-14d24aa6-93a9-4ea7-8496-e9721e826682.png)

[2021-08-16 08:51] #397 closed

[2021-08-16 08:53] sdgun commented on #444
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129537564-16d07c92-8d5d-4da3-8efa-dda522cc4871.png)

[2021-08-16 08:53] #444 closed

[2021-08-16 08:54] sdgun commented on #443
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129537744-5f2656c2-434b-46be-8ee5-23d374311473.png)

[2021-08-16 08:54] #443 closed

[2021-08-16 08:55] sdgun commented on #441
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129537865-c1c42919-949a-4dae-a4b7-f01603c0f656.png)

[2021-08-16 08:55] #441 closed

[2021-08-16 08:56] sdgun commented on #467
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129537997-e4688608-ea98-4fff-b91c-0ede7a67a07d.png)

[2021-08-16 08:56] #467 closed

[2021-08-16 08:57] sdgun commented on #415
Verified in production.

[2021-08-16 08:57] #415 closed

[2021-08-16 08:59] sdgun commented on #406
Verified in production.

[2021-08-16 08:59] #406 closed

[2021-08-16 09:10] cagdas001 commented on #403
Default rate should be set to 1000. Make sure the latest taas-admin-app is deployed to production

[2021-08-16 09:13] sdgun commented on #401
Verified in production

![Screenshot (1)](https://user-images.githubusercontent.com/4592712/129539930-d0d2543f-b0ce-4749-b2aa-d41f437a33a5.png)

[2021-08-16 09:13] #401 closed

[2021-08-16 09:30] sdgun commented on #435
Verified in production.

![Screenshot (1)](https://user-images.githubusercontent.com/4592712/129542327-e84a94fc-68a7-4f54-ab41-e233eebaac9f.png)

[2021-08-16 09:30] #435 closed

[2021-08-16 09:34] sdgun commented on #412
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129542947-24df4ba9-028b-47ab-8af7-19d6efb211ba.png)

[2021-08-16 09:34] #412 closed

[2021-08-16 09:43] sdgun commented on #439
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129544257-9d6e83bb-04f2-469b-ab64-d8ff8a96cbcf.png)

![image](https://user-images.githubusercontent.com/4592712/129544319-37b6621d-b36c-45d2-a69f-91d8c64ac89d.png)

[2021-08-16 09:43] #439 closed

[2021-08-16 09:52] sdgun commented on #475
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129545450-e797b03b-650d-4b1a-bb41-0612501fc902.png)

[2021-08-16 09:52] #475 closed

[2021-08-16 09:57] sdgun commented on #486
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/129546092-75d28f03-4f8c-4cd8-b355-8aa4e8130683.png)

[2021-08-16 09:57] #486 closed

[2021-08-16 09:58] sdgun commented on #461
Verified in production.

https://user-images.githubusercontent.com/4592712/129546248-4654ef38-4af0-480b-9191-697c2973cd79.mp4

[2021-08-16 09:58] #461 closed

[2021-08-16 10:00] sdgun commented on #446
Verified in production.

https://user-images.githubusercontent.com/4592712/129546482-f8be4d13-314e-4eb0-ae61-5eac33c919b5.mp4

[2021-08-16 10:00] #446 closed

[2021-08-16 10:33] sdgun commented on #462
Verified in production.

[2021-08-16 10:33] #462 closed

[2021-08-16 10:34] sdgun commented on #456
Tested in production.

[2021-08-16 10:34] #456 closed

[2021-08-16 10:39] lakshmiathreya commented on #426
Verified in Prod. However, the error message needs to be improved. @sdgun pls link the Issue for that here.

[2021-08-16 10:39] lakshmiathreya commented on #426
<img width="1680" alt="Screenshot 2021-08-16 at 4 04 45 PM" src="https://user-images.githubusercontent.com/51733042/129551345-f01cd1f0-02a2-43a1-9727-5cf4641a2c8a.png">

[2021-08-16 10:43] sdgun commented on #426
Created issue https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/102

[2021-08-16 10:43] #426 closed

[2021-08-18 07:40] SathyaJayabal opened #490 "Skill Retrieval on Team detail page vs Job Detail Page"
While testing the skills api upgrade we came across the following :

1. On the team details page, skills associated with a job are displayed. If the skills include skills from other skills providers other topcoder, they are retrieved fine and dsiplayed correctly.
<img width="1440" alt="Screenshot 2021-08-18 at 10 03 17 AM" src="https://user-images.githubusercontent.com/58783823/129857456-13009b09-

[2021-08-18 11:19] vikasrohit commented on #490
Root cause of this is that we are [fetching skills by id](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L338) in API when we are listing the whole team with all jobs in it while when we are listing a particular job, we are fetching the skills on frontend (routed via taas-apis to skills api) which in turn fetches only Topcoder Skills. So, when we fetch the skil

[2021-08-18 17:55] wdprice opened #491 "Change of UI Terminology - Selected to Accepted"
Update the Tab name from "Selected" to "Accepted"

Update menu option from "Select Candidate" to "Accept Candidate"

[2021-08-18 18:00] maxceem opened #492 "[$40] Resume link support token with redirect"
### background

We have a page where we are showing Job Candidate resume link https://platform.topcoder-dev.com/taas/myteams/18361/positions/684d1d9b-32b5-4e0c-bb2c-e031db694c75/candidates/to-review

![image](https://user-images.githubusercontent.com/146016/129949053-7071bed6-042a-40d3-80d8-dfae79b9de1f.png)

This is some third-party link, when we click it, the download is started.

Though we need

[2021-08-19 09:30] maxceem commented on #492
Current approach appeared to have some drawbacks, so we have to find a better to handle it in general and implement it a different way in the API too.

`maxRedirects` defines the maximum number of redirects to follow in node.js

[2021-08-19 09:30] maxceem commented on #492
paid via https://www.topcoder.com/challenges/d3268b32-ad9a-486a-90e8-194eb5f326f4

[2021-08-20 14:47] maxceem opened #495 "Improve logic of the Download Resume Link"
Follow up form https://github.com/topcoder-platform/taas-app/issues/492#issuecomment-901760303

[2021-08-20 14:47] maxceem commented on #492
For now I've merged the current implementation, but we will try come up with a better solution during cool down period. Will track it via https://github.com/topcoder-platform/taas-app/issues/495

[2021-08-23 09:19] #481 closed

[2021-08-23 09:20] #482 closed

[2021-08-23 09:22] #466 closed

[2021-08-23 09:23] #464 closed

[2021-08-23 09:25] sdgun commented on #455
Verified in prod

[2021-08-23 09:25] #455 closed

[2021-08-23 09:26] sdgun commented on #454
Verified in prod

[2021-08-23 09:26] #454 closed

[2021-08-23 09:26] sdgun commented on #453
Verified in prod

[2021-08-23 09:26] #453 closed

[2021-08-23 09:27] sdgun commented on #451
Verified in prod

[2021-08-23 09:27] #451 closed

[2021-08-23 09:27] sdgun commented on #449
Verified in prod

[2021-08-23 09:27] #449 closed

[2021-08-23 09:27] sdgun commented on #445
Verified in prod

[2021-08-23 09:27] #445 closed

[2021-08-23 09:28] sdgun commented on #442
Verified in prod

[2021-08-23 09:28] #442 closed

[2021-08-23 09:28] sdgun commented on #440
Verified in prod

[2021-08-23 09:28] #440 closed

[2021-08-23 09:29] sdgun commented on #311
Verified in prod

[2021-08-23 09:29] #311 closed

[2021-08-23 09:29] sdgun commented on #334
Verified in prod

[2021-08-23 09:29] #334 closed

[2021-08-23 09:41] sdgun commented on #492
Verified resume downloading in dev and prod.

[2021-08-23 09:41] #492 closed

[2021-08-24 17:56] wdprice opened #497 "Redesign Intake No Match Page"
Current page when no match is found is discouraging and unclear.

Revised version should:
- show a range of costs
- More prominently display the ETA for followups
- Offer clear paths to the Role screen.

[2021-08-24 17:59] wdprice opened #498 "Ordering of Skills in Skill Select list"
Display skills which appear in roles at the top of the Select Skill list, while skills which do not appear in roles are placed underneath.

[2021-09-03 05:21] sdgun opened #499 "Blank page when searching with skills that do not match all the skills in existing roles(skill and JD flows)"
**Steps**
Go to https://platform.topcoder-dev.com/taas/createnewteam/
On skills flow or JD flow select/enter skills that do not match all existing skills of any given role(ex- .NET, ASP.NET, Ab initio)
Select the skills from the identified skills pop up
Click search

Shows a blank page with console error

![image](https://user-images.githubusercontent.com/4592712/131954172-2344470f-f206-452b-8c81-

[2021-09-09 06:20] sdgun opened #502 "Customer logos are not displayed on the landing page when navigating from My Teams"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams
Click create new team link from the left navigation

Customer logos are not displayed on the landing page, but it should be there

![image](https://user-images.githubusercontent.com/4592712/132633435-6c1feb08-ed62-4375-badf-cb265c76e71a.png)

[2021-09-14 14:54] yoution commented on #498
@wdprice edit in this page? I can not understand `skills which appear in roles` and `skills not appear in roles`?
![image](https://user-images.githubusercontent.com/3863914/133281043-a76edf4a-e2ab-4158-ab67-904fc929cca6.png)

[2021-09-14 14:58] yoution commented on #497
@wdprice can you provide the marvel file for this page,currently the page is
![image](https://user-images.githubusercontent.com/3863914/133281736-180cfcc7-120f-49b2-86e3-81684a1645c8.png)

[2021-09-14 15:14] yoution commented on #479
@wdprice can you provide the `svg` format image? currently the format is `png`
![image](https://user-images.githubusercontent.com/3863914/133284606-fe49df4a-2335-4952-88df-a1ce5c8b00f8.png)

[2021-09-14 16:50] wdprice commented on #497
New marvel handoff is here @yoution
https://marvelapp.com/prototype/89c7i66/screen/82013113/handoff

[2021-09-14 16:54] wdprice opened #504 "Remove Deposit Requirement for Custom Role"
When a user submits a custom role request, do not include the cost of that resource in the deposit amount, and do not show it to the end user on the checkout page:

Revised design when the user has a normal role and custom role in the "cart": https://marvelapp.com/prototype/89c7i66/screen/82013112/handoff

Revised design when the user only has custom roles in the "cart": TBD

[2021-09-14 16:55] wdprice commented on #479
@yoution just for the adobe logo or for all?

[2021-09-15 09:02] yoution commented on #504
@wdprice @nikolay83 we should set the price to 0, or we need to hide the `custom role`?
![image](https://user-images.githubusercontent.com/3863914/133403781-55a479ff-b3fa-4d58-bfba-d83660884912.png)
when can you provide the design only has custom roles?

[2021-09-15 16:01] wdprice commented on #504
If it makes implementation easier we can set the Custom Role price to $0.

The redesigned "No Match" page removes the pricing display as well, so this
could be an option.

On Wed, Sep 15, 2021 at 5:02 AM yoution ***@***.***> wrote:

[2021-09-16 04:53] sdgun commented on #408
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/133551706-7d273e46-de90-4c08-97be-5905c0b23d30.png)

[2021-09-16 04:59] sdgun commented on #479
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/133552218-5c3b41cc-2c9a-4cfe-843c-ad155641a2d0.png)

[2021-09-16 06:01] sdgun commented on #497
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/133556448-c176ff7c-ca2b-4c7d-b03d-30bc9444a165.png)

[2021-09-16 07:16] sdgun commented on #504
@yoution If the user sets a title on the Job description page, we still show the deposit amount for the custom role on the checkout page.

https://user-images.githubusercontent.com/4592712/133567076-9a4b13f4-2148-4923-be52-a9ba38b11efe.mp4

[2021-09-16 08:10] sdgun commented on #498
Verified in Dev, the skills in the input skills page are ordered by the skills of the available roles. Verified by adding/removing skills to roles.

[2021-09-17 04:03] sdgun commented on #504
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/133722334-daae9c9a-f950-459e-90ca-f8eba3b439e7.png)

[2021-09-17 06:23] sdgun commented on #504
@wdprice In the design I see this page https://marvelapp.com/prototype/89c7i66/screen/82043216/handoff which we haven't implemented yet. Are we going to have a separate ticket for this?

[2021-09-27 14:31] wdprice commented on #504
@sdgun - that design is the one was was marked as TBD in the initial design. I have updated the parent ticket.

CC: @nikolay83

[2021-09-28 04:20] sdgun commented on #504
@wdprice Thanks. Just FYI, if the user only selects a custom role, there is no way to submit in the current implementation since the amount is 0.

[2021-09-29 22:12] wdprice commented on #504
The point of the new design is to allow them to submit custom role only.

[2021-09-30 03:50] sdgun commented on #504
We have not implemented this part yet "Revised design when the user only has custom roles in the "cart":", so submitting only custom roles is not possible @nikolay83

[2021-10-11 07:55] SathyaJayabal opened #512 "Job start date is one day behind the actual date in TAAS(sometimes) #507"
https://github.com/topcoder-platform/taas-apis/issues/507

[2021-10-19 05:08] sdgun opened #516 "When a custom role is added, the job description is not saved"
**Steps**
Go to JD flow and make a search with a job description which doesn't have skills matching any existing roles
Proceed and create the team
check the created position in TAAS TEAMS page

The job description is missing

![image](https://user-images.githubusercontent.com/4592712/137847084-ea83894d-01bf-404b-9690-d60a268c3873.png)

CC @nikolay83

[2021-10-20 20:05] maxceem commented on #516
### Summary

The `Job Description` should depend on way customer creates a talent request https://platform.topcoder-dev.com/taas/createnewteam:

![image](https://user-images.githubusercontent.com/146016/138162697-4da84c99-1f0f-423a-bf44-cdf3282d90a5.png)

- `Search by Role` - Should be the canned job description provided for the Roles (Java Spring, React, Data Engineer, Salesforce, etc)
- `Search

[2021-10-21 10:35] maxceem opened #518 "Scheduling 2nd meeting fails"
Steps to repdocue:
- Setup TaaS APP and TaaS Api locally as per [this guide](https://github.com/topcoder-platform/taas-app/wiki/Run-TaaS-App-with-TaaS-API-locally-to-test-Interview-Scheduling-using-Nylas).
- Run `npm run local:init` in taas api and create Job and Job Candidate
- Schedule 1st meeting with this job candidate, it would work good (internally it would create UserMeetingSettings for thi

[2021-10-21 11:00] maxceem opened #519 "Integrate Connect Calendar feature"
Recently we've implemented Connect Calendar feature in API in this challenge https://www.topcoder.com/challenges/af9a1041-7a78-484d-87d3-5aec9e87b578?tab=details

Now we would like to integrate it with UI.

To work on this task you would have to run locally TaaS API and TaaS App as per [this guide](https://github.com/topcoder-platform/taas-app/wiki/Run-TaaS-App-with-TaaS-API-locally-to-test-Interv

[2021-10-21 19:12] deblasis commented on #519
Hi @maxceem! I am happy to work on this if you agree

[2021-10-21 19:15] maxceem commented on #519
Sure, assigned you @deblasis.

[2021-10-22 04:13] sdgun commented on #516
Verified all the 3 flows in Dev, the Job description is saved as expected.

[2021-10-22 14:30] maxceem opened #523 "[$60] Integrate Job Candidate Time Selection Page"
Branch: `feature/interview-update`

#### Background

See this [challenge](https://www.topcoder.com/challenges/ff6dec7b-db8b-4687-bd28-c393a59712dd?tab=details) "CHALLENGE CONTEXT", to get idea about interview workflow.

When Customer starting scheduling meeting with Job Candidate, Job Candidates gets email with link to the page where Job Candidate may select availability time, such link has the ne

[2021-10-25 10:49] maxceem opened #526 "[$15] Invited user handle in success message"
This issue is on the `confirm` step and on the success message step:

![image](https://user-images.githubusercontent.com/146016/138682496-da03c1ef-0dc8-42b0-b61f-31cc64abfd5b.png)

![image](https://user-images.githubusercontent.com/146016/138706279-20d0a7b4-f27d-46af-9cd0-4f94d7faabd0.png)

[2021-10-29 04:11] sdgun opened #541 "[$30] UI issue in the Full or Part Time drop down"
**Steps**
Go to intake app and select some roles
Proceed and check the 'Full or Part Time' drop down on the 'YOU'VE GOT MATCHES' page
Also check the same drop down on the Team details pop up

The down arrow overlaps with the content

![image](https://user-images.githubusercontent.com/4592712/139374265-307e3597-a814-473e-b334-b8975179482e.png)

![image](https://user-images.githubusercontent.com/459

[2021-10-29 05:11] sdgun opened #542 "[$20] If the user select an end time first, the same time can be selected in the start time"
**Steps**

- Select 'Schedule interview' action from CANDIDATES TO REVIEW page for a candidate
- Click Add availability
- Click on a date(ex-M)
- Select an end time and select the same time from start time

If the user select an end time first, the same time can be selected in the start time

![image](https://user-images.githubusercontent.com/4592712/139378879-046077fd-6dbc-492c-9c16-935ebbd619fb.

[2021-10-29 05:14] sdgun opened #543 "[$15] Some UI issues in Manage availability pop up"
**Steps**

- Select 'Schedule interview' action from CANDIDATES TO REVIEW page for a candidate
- Click Add availability
- Check the times in start time and end time drop downs

all times look like disabled and the drop downs go above the address bar

![image](https://user-images.githubusercontent.com/4592712/139379449-27aef2fc-09f4-4545-a28a-ee0a25908b30.png)

[2021-10-29 05:51] sdgun opened #544 "[$80] Empty page and console error when click view previous interviews"
**Steps**

- Select 'Schedule interview' action from CANDIDATES TO REVIEW page for a candidate who has multiple interview rounds scheduled. example candidate [here](https://platform.topcoder-dev.com/taas/myteams/18961/positions/da5e3de0-4937-484f-869b-10b628bfd0bd/candidates/interviews)
- Click Actions drop down and select 'View previous interviews'

Empty page and console error when click view pr

[2021-10-29 05:58] sdgun opened #545 "[$50] When 3 interview rounds are scheduled UI still shows schdule another interview"
**Steps**

- Select 'Schedule interview' action from CANDIDATES TO REVIEW page for a candidate who has 3 interview rounds scheduled. example candidate [here](https://platform.topcoder-dev.com/taas/myteams/18961/positions/da5e3de0-4937-484f-869b-10b628bfd0bd/candidates/interviews)
- Click Actions drop down and select 'Schedule another interview'
- Proceed and confirm

API throws an error saying all

[2021-10-29 10:44] sdgun opened #548 "Test"
Test

[2021-10-29 11:12] sandhiyakavi opened #549 "The availability time is not getting saved once changed."
Description:

The availability time chosen in the Manage availability modal is not getting saved (updated) once changed. The first chosen availability time is shown each time.

![image](https://user-images.githubusercontent.com/55895538/139424899-a6fa058a-d7da-4cef-a194-24d29f9e6b89.png)

[2021-10-30 07:33] maxceem commented on #549
Sum up:
- This issue is at backend TaaS API https://github.com/topcoder-platform/taas-apis
- Branch to work `dev`❗️
- Expected behaviour: when create new interview meeting, we have to update `defaultTimezone` and `defaultAvailableTime` inside UserMeetingSettings for the current user.

[2021-10-30 08:18] maxceem opened #550 "Create Virtual Calendar if we have UserMeetingSettings with all deleted calendars"
If we connect Google/Microsoft calendar using the same `email` as logged-in user `email` and then remove it the meeting would be created anyway using some calendar.

1. Use user who doesn't have yet UserMeetingSettings record
2. Connect Google or Microsoft calendar **using the same `email` as logged-in user `email`**
3. Remove connected calendar. So the UserMeetingSettings for the user would look

[2021-10-30 09:57] maxceem commented on #545
Sum up:
When 3 round of interview for Job Candidate has been already scheduled, then:
- disable option to schedule one more interview (make it gray color)
- when user hover mouse on this option, show tooltip which says `You've reached the maximum allowed number (3) of interviews for this candidate.`
- we already have a Tooltip component which must be reused

![image](https://user-images.githubuser

[2021-10-30 10:01] maxceem commented on #543
@sdgun is it always for you like this? I mean disabled? Are there any steps how to make all the fields disabled?

this dropdown is native browser dropdown, so browser decides how to display it, we cannot control and it's native behaviour, so I suggest not treat it as an issue

[2021-10-30 10:04] maxceem commented on #542
@sandhiyakavi I'm not sure what should be desired behaviour in this case? should we show validation error? I just think that showing validation error in such case might make the UI more cluttered, as there is already many elements in UI there. So maybe we just allow use to add rows with the same data? I think it should not bring any issue.
Or is there any good way to handle this case?

[2021-10-30 10:07] maxceem commented on #541
Sum UP:
- Expected behaviour, it should look like before (under the arrow there is white color):

   ![image](https://user-images.githubusercontent.com/146016/139528679-af42d641-1a51-4818-bea4-e77905d1cd39.png)

- Make sure that timezone select, or any other selects are not get broken after the fix:

    ![image](https://user-images.githubusercontent.com/146016/139528704-d93186cb-9c76-4c6d-b414-ad

[2021-10-30 11:59] maxceem commented on #549
Fixed by https://github.com/topcoder-platform/taas-apis/commit/70db75ff6eaaeb77d2ab77a638d12c55334bb9f5

[2021-10-30 12:01] maxceem commented on #550
Fixed by https://github.com/topcoder-platform/taas-apis/commit/70db75ff6eaaeb77d2ab77a638d12c55334bb9f5

QA note: it's hard to test it without checking code and DB state, so we would not pass it to QA.

[2021-10-30 12:42] yoution commented on #544
@maxceem please assign to me

[2021-10-30 12:58] yoution commented on #545
@maxceem please assign to me

[2021-10-30 13:04] maxceem commented on #545
Assigned @yoution

[2021-10-30 13:04] maxceem commented on #544
@yoution unassigned

[2021-10-30 13:56] yoution commented on #545
@maxceem please review

[2021-10-30 13:57] yoution commented on #544
@maxceem please assign to me

[2021-10-30 13:58] maxceem commented on #544
@yoution assigned

[2021-10-30 15:13] yoution commented on #544
@maxceem in order to get the email info, I copy the code https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/NotificationsSchedulerService.js#L83
but I found the host detail info will be broken
![image](https://user-images.githubusercontent.com/3863914/139538916-5a6ff71e-254d-485d-b6c3-23364d42d944.png)

[2021-10-30 15:21] yoution commented on #541
@maxceem please assign to me

[2021-10-30 15:40] maxceem commented on #544
@yoution hmm, maybe that user data is broken on DEV.

I also check this issue for my user `maxceem-dev`, still get this issue but I believe DEV data should be good. https://monosnap.com/file/HH4t6flgGZIXGqSQj1ZdThwdMqXGqV

Could you try it with my use `maxceem-dev` on this page? https://platform.topcoder-dev.com/taas/myteams/16786/positions/c1f3e159-729e-4eae-a9db-4f445a37e968/candidates/interview

[2021-10-30 15:41] maxceem commented on #541
@yoution assigned

[2021-10-30 15:42] yoution commented on #541
@maxceem please review

[2021-10-30 15:42] yoution commented on #544
@maxceem please assign to me

[2021-10-30 15:54] yoution commented on #544
@maxceem please review

[2021-11-01 04:09] sdgun opened #557 "Error when opening the interviews page"
**Steps**
I had scheduled an interview on last Friday and when opening it today I am seeing the below error

Interview - https://platform.topcoder-dev.com/taas/myteams/18969/positions/93bc000c-426e-4658-aca0-d85f9557c54e/candidates

![image](https://user-images.githubusercontent.com/4592712/139620434-d094dc07-3578-40e9-9562-ef091754e3ed.png)

CC @maxceem

[2021-11-01 04:24] sdgun commented on #519
@mahidulalvi-bonic @maxceem Seeing the below error when trying to connect the calender

https://user-images.githubusercontent.com/4592712/139621417-cf97c8c1-413b-4005-8b50-0d1b1f739314.mp4

[2021-11-01 04:33] sdgun commented on #549
Verified, this issue is fixed. The changed time is saved and loaded the next time.

[2021-11-01 04:52] #548 closed

[2021-11-01 04:57] sdgun commented on #543
@maxceem This only happens the first time for a user without settings saved

[2021-11-01 05:59] sandhiyakavi commented on #519
@maxceem While trying the same above scenario, I am getting a different error "{"message":"Could not verify JWT token."}"
at the api level.
![image](https://user-images.githubusercontent.com/55895538/139628054-2836d166-22d5-4d10-af49-b986ac17b744.png)

[2021-11-01 06:33] sandhiyakavi commented on #542
@maxceem Yes, I expected some validation error but since it will complicate things and functionality wise there is no problem even if it is duplicated. We can allow adding rows with the same data

[2021-11-01 07:06] sdgun opened #558 "The start time/end time is not restricted based on the connected calender"
**Steps**
User connect a google calender
Try to schedule an interview for a time which is already booked in the calender

Expected behavior
Should not allow to select a busy time

Actual behavior
Allows selecting any time

https://user-images.githubusercontent.com/4592712/139634406-ff0d2ef7-85f0-484b-8231-b0f38008f8ac.mp4

[2021-11-01 07:35] sandhiyakavi opened #559 "Reminder mail not sent to Job candidates if the candidate hasn't chosen time."
Description:

Reminder mail not sent to Job candidates if the candidate hasn't chosen time.

![image](https://user-images.githubusercontent.com/55895538/139637264-196cd478-86cb-4e7f-834b-997412659ef2.png)
![image](https://user-images.githubusercontent.com/55895538/139637309-70aae69c-3616-4973-9811-00d4fd4a57cc.png)

[2021-11-01 07:46] sandhiyakavi opened #560 "[$40] Interview status not getting changed to completed after the interview is over."
Description:

Interview status not getting changed to completed after 1 hour of interview start time.

![image](https://user-images.githubusercontent.com/55895538/139638584-bf4afc07-6e12-4a51-a7af-3d0156989068.png)

[2021-11-01 07:58] maxceem commented on #519
Thank you @sdgun @sandhiyakavi

We would try to debug it. If happen to have such issues again, could you please, copy/paste the URL from the browser which you had when error happens. It might help debugging it.

[2021-11-01 08:09] sandhiyakavi opened #561 "Remove button is still present even after the Email account is removed."
Description:
Remove button is still present even after the Email account is removed.

https://user-images.githubusercontent.com/55895538/139641014-083945be-079a-449b-a0e5-3e3fa3f52969.mp4

![image](https://user-images.githubusercontent.com/55895538/139640939-5d281361-a00c-4216-8e02-0786a3601cd7.png)

[2021-11-01 08:32] maxceem commented on #543
Hmm @sdgun. Doesn't happen to me even with user who doesn't have settings.

If you happen to reproduce it for any other user, could you please don't create interview using that user and share the credentials with me, so I could try it.

[2021-11-01 08:40] maxceem commented on #542
Sum up:
- Only the part which is mentioned in the issue description is in scope https://github.com/topcoder-platform/taas-app/issues/542#issue-1039175590
- we **should not** allow selecting the same time in start time and end time, options has to be disable
- exception: we **should be** able to select 12:00 AM in start time and 12:00 AM in end time - it would mean any time

[2021-11-01 08:41] maxceem commented on #542
@yoution feel free to pick up if you like.

[2021-11-01 08:42] yoution commented on #542
@maxceem please assign to me

[2021-11-01 08:51] sdgun opened #562 "[$60] Allowing to go back after confirming a time for an interview"
Steps
Click 'Select Interview Time' link from an email
Select a date and submit
click back button

User can select another date and submit but it doesn't send out any email on the second or third time and also the name and email fields are empty when going back

Is there any point in letting them to go back to the initial page on this screen?

[2021-11-01 08:56] sdgun opened #563 "When scheduling an interview by selecting the next week day it only shows one option to the user"
Steps
Send an interview request from TAAS app by selecting the next week day from the 'MANAGE AVAILABILITY' pop up
From the JC's email click 'Select Interview Time' link and see the available dates

It only shows tommorrow

https://user-images.githubusercontent.com/4592712/139646971-b6b0d305-35aa-460b-9454-917b3dcc5f65.mp4

[2021-11-01 09:42] sdgun commented on #543
You can use taasintake12/Appirio123

[2021-11-01 10:06] sandhiyakavi commented on #519
@maxceem tried again, Getting TokenExpiredError with url https://api.topcoder-dev.com/v5/taas-teams/user-meeting-settings/callback?state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI3MWM1ZTZhOC01MWQ5LTRmYjUtOTFjZS1kOTc0NjQyNTMxYWYiLCJyZWRpcmVjdFRvIjoiaHR0cHM6Ly9wbGF0Zm9ybS50b3Bjb2Rlci1kZXYuY29tL3RhYXMvbXl0ZWFtcy8xODk2Mi9wb3NpdGlvbnMvYTY4MTUyNTUtNWQ4MC00NGIwLTkzMmItODM4OWU4Njc1NjBiL2NhbmRpZG

[2021-11-01 10:34] sandhiyakavi opened #564 "Error shown if user didn't grant calendar access to Nylas"
Description:

If user doesn't grant access to Google calendar and click Continue, 400 Error shown "Requested Google scopes denied by end user. Please retry the authentication process and ensure you tick the boxes to enable the specific scopes." and there is no option to go back to previous page and grant access.

It would be better if there is some information like granting access to Google calend

[2021-11-01 10:35] maxceem commented on #543
Sum up:
- I can reproduce this issue in FireFox on macOS using provided user `taasintake12/Appirio123`:

   ![image](https://user-images.githubusercontent.com/146016/139658574-042c8801-f167-408f-80a3-88a02db558d3.png)
    - the items look disabled, but the should look enabled

- when I select some start time, then some options look disabled in end time, but it should be vice-verse:

   ![image](ht

[2021-11-01 10:48] maxceem commented on #557
@sdgun this is some issue with DEV data, in particular with U-bahn data.

We either can ignore it as data inconsistency, or if you need this demo data, I may try remove the broken skill from this user to fix this demo JC for you.

#### Details

When getting skills for users from U-bahn it now returns errors as if skills assigned to users are missing:
- JS is a user with id `fe38eed1-af73-41fd-85a2

[2021-11-01 10:52] sdgun commented on #557
@maxceem Closing since we know the root cause.

[2021-11-01 10:52] #557 closed

[2021-11-01 10:57] sandhiyakavi opened #565 "Getting Error if user tries to connect another Google account."
Description:

Getting Error ""Failed to connect calendar: coud not find any writable calendar"" if user tries to connect another Google account  .
Steps to Reproduce:

1. Connect a Google account to the user. (Google account: testsaar28@gmail.com)
2. Without removing the account, try to connect another Google account. (kavinaya14a@gmail.com)

api: GET/taas-teams/user-meeting-settings/71c5e6a8-51d9

[2021-11-01 11:00] maxceem commented on #519
@sdgun regarding your issue during connecting calendar. I see that you are using email `taasintake3@gmail.com`. I wonder if you every used the same email with `+` sign like `taasintake3+something@gmail.com`?

I've noticed that if we use with Nylas email with `+` then if we try to connect calendar with the same email with `+` or without `+` it got broken.

So we always have to use real different em

[2021-11-01 11:39] maxceem commented on #519
@sandhiyakavi could you, please, try testing it one more time. Your issue has to be resolved now.

[2021-11-01 15:30] sdgun commented on #519
@maxceem So far I only had this issue with taasintake3 which I have used with a + to create another user. I will check with some more users tommorrow.

[2021-11-02 03:33] sandhiyakavi commented on #253
This issue is no longer applicable as x.ai is replaced by Nylas now.

[2021-11-02 03:33] #253 closed

[2021-11-02 03:34] sandhiyakavi commented on #252
This issue is no longer applicable as x.ai is replaced by Nylas now.

[2021-11-02 03:34] #252 closed

[2021-11-02 04:01] sdgun commented on #541
Verified in Dev, the issue is fixed.

![image](https://user-images.githubusercontent.com/4592712/139784999-08a3d8a9-14f6-4205-8e27-b36ce480b640.png)

![image](https://user-images.githubusercontent.com/4592712/139785014-c147128a-a806-400d-9a23-0201074d9504.png)

[2021-11-02 04:11] sdgun commented on #542
Verified in Dev, this issue is fixed.

[2021-11-02 04:20] sandhiyakavi commented on #519
@maxceem Verified. I am not getting TokenExpiredError now.

[2021-11-02 04:44] sdgun commented on #545
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/139788125-07bc2ac3-9683-4b20-9fb2-d717b2886169.png)

[2021-11-02 05:00] sdgun commented on #519
@maxceem Tried with a fresh user today and I am seeing these errors

https://user-images.githubusercontent.com/4592712/139788948-e7bbfc78-df1b-4fb0-8a51-01005a559d03.mp4

[2021-11-02 05:20] sdgun opened #567 "Getting internal server error from the requestInterview API when scheduling an interview for the first time from a user"
**Steps**
Log in from a user who hasn't scheduled any interviews yet
When submitting getting Internal server error

![image](https://user-images.githubusercontent.com/4592712/139789789-c697b412-1069-450e-819c-c1e0d3589f86.png)

https://user-images.githubusercontent.com/4592712/139790724-21dd587b-fe48-4fd4-8d5f-e48ea57a2881.mp4

URL: https://api.topcoder-dev.com/v5/jobCandidates/e0753154-3cc4-47d0-

[2021-11-02 06:52] maxceem commented on #541
Challenge https://www.topcoder.com/challenges/5f60ab4f-df35-4e3f-8b44-a49e6a23d4eb has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:52] maxceem commented on #541
Challenge https://www.topcoder.com/challenges/5f60ab4f-df35-4e3f-8b44-a49e6a23d4eb has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:52] maxceem commented on #541
Payment task has been updated: https://www.topcoder.com/challenges/5f60ab4f-df35-4e3f-8b44-a49e6a23d4eb
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `5f60ab4f-df35-4e3f-8b44-a49e6a23d4eb` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:53] maxceem commented on #542
Challenge https://www.topcoder.com/challenges/e5ecf392-81c9-4cfc-9d84-9bd168f96e4a has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:53] maxceem commented on #542
Challenge https://www.topcoder.com/challenges/e5ecf392-81c9-4cfc-9d84-9bd168f96e4a has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:53] maxceem commented on #542
Payment task has been updated: https://www.topcoder.com/challenges/e5ecf392-81c9-4cfc-9d84-9bd168f96e4a
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `e5ecf392-81c9-4cfc-9d84-9bd168f96e4a` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:54] maxceem commented on #545
Challenge https://www.topcoder.com/challenges/62f65ab8-c3b9-43f1-ba32-02d51c3f00e6 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:54] maxceem commented on #545
Challenge https://www.topcoder.com/challenges/62f65ab8-c3b9-43f1-ba32-02d51c3f00e6 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 06:54] maxceem commented on #545
Payment task has been updated: https://www.topcoder.com/challenges/62f65ab8-c3b9-43f1-ba32-02d51c3f00e6
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `62f65ab8-c3b9-43f1-ba32-02d51c3f00e6` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-02 07:02] maxceem commented on #519
@sdgun does this error happen if you select calendar permissions from the first time without going back?

[2021-11-02 07:05] maxceem commented on #550
Closing, as it cannot be tested by QA.

[2021-11-02 07:05] #550 closed

[2021-11-02 07:19] sdgun commented on #519
@maxceem Yes

[2021-11-02 09:43] yoution commented on #544
@maxceem you said you will increase to $80

[2021-11-02 09:45] maxceem commented on #544
@sdgun fixed and ready for QA.

Instead of emails we are showing user full names because we don't allow adding additional users to interview by emails. And in all other places we are showing attendees full names. Also, it feels more private then exposing user emails.

Actually, it seems that this feature of see history is not that valuable anymore, as we would always have the same 2 users in the i

[2021-11-02 09:46] maxceem commented on #544
yes, sure @yoution, increased in the ticket, I would process payment as soon as QA is done.

[2021-11-02 11:15] maxceem commented on #543
@yoution feel free to pick if you like.

I can only reproduce it in FireFox using user `taasintake12/Appirio123`. Please, don't schedule interview with this user, so we can reproduce this issue, just open the window but don't schedule.

[2021-11-02 11:17] yoution commented on #543
@maxceem please assign to me

[2021-11-02 11:18] maxceem commented on #558
@sdgun it doesn't take into account connected calendar here. Calendar time it taken into account when JC choose time:

![image](https://user-images.githubusercontent.com/146016/139836896-6b106ce4-65eb-4995-a828-18e8354bb634.png)

On this screen JC can only choose time which is:
- not occupied in the Customer's calendar
- selected as available during interview scheduling

[2021-11-02 11:20] maxceem commented on #561
@mahidulalvi-bonic would you like to handle this issue?

[2021-11-02 11:21] maxceem commented on #567
I think this is because of the our Nylas trial account reached limitation: `"This organization has reached the maximum number of free accounts. Please add a payment method in the Nylas dashboard to proceed."`.

Waiting for the billing account to get attached to it for lifting this limitation.

[2021-11-02 11:25] maxceem commented on #563
@sdgun you've selected only 1 hour from 1 till 2 on Tuesday. Could it be that you've already scheduled meeting for this user on the 2nd of November from 1 till 2 so there is not time available on Tuesday 2nd from 1 till 2?

Could you try to make available time for the whole day to see if some slots show up on 2nd Tuesday?

[2021-11-02 11:31] mahidulalvi-bonic commented on #561
@maxceem, yes, when do you need it?

[2021-11-02 11:33] maxceem commented on #561
@mahidulalvi-bonic preferable within 24 hours. But 48 would be also fine for this one.

[2021-11-02 11:54] mahidulalvi-bonic commented on #561
Okay, should be done in 24. Thanks.

[2021-11-02 13:56] maxceem commented on #543
@sdgun fixed and ready for QA.

[2021-11-03 04:36] sdgun commented on #526
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/140010509-5daab82b-7714-4308-8c39-81b73697ef1d.png)

[2021-11-03 04:59] sdgun commented on #543
Verified in Dev, the issue with displaying times in disabled form is fixed.

![image](https://user-images.githubusercontent.com/4592712/140011851-a1f58dac-42b0-40f4-bb00-3a23f9c0e822.png)

[2021-11-03 06:46] maxceem commented on #543
Challenge https://www.topcoder.com/challenges/dee37344-fdb5-4125-94fe-1684910854c1 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-03 06:46] maxceem commented on #543
Challenge https://www.topcoder.com/challenges/dee37344-fdb5-4125-94fe-1684910854c1 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-03 06:47] maxceem commented on #543
Payment task has been updated: https://www.topcoder.com/challenges/dee37344-fdb5-4125-94fe-1684910854c1
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `dee37344-fdb5-4125-94fe-1684910854c1` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-03 06:54] maxceem commented on #567
@sdgun now we've got good Nylas account, could you please try this one more time, I believe it should work good now.

[2021-11-03 07:02] sdgun commented on #567
Verified in Dev, not getting this error any more.

[2021-11-03 07:08] maxceem commented on #544
@sdgun just in case, this is ready for QA as per https://github.com/topcoder-platform/taas-app/issues/544#issuecomment-957274680

[2021-11-03 07:18] sdgun commented on #544
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/140021612-b745cc0e-f237-41ff-9279-76394acddc83.png)

[2021-11-03 07:19] maxceem commented on #544
Challenge https://www.topcoder.com/challenges/6f21a086-43bf-451b-b56e-4dd083ec08e1 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-03 07:19] maxceem commented on #544
Challenge https://www.topcoder.com/challenges/6f21a086-43bf-451b-b56e-4dd083ec08e1 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-03 07:19] maxceem commented on #544
Payment task has been updated: https://www.topcoder.com/challenges/6f21a086-43bf-451b-b56e-4dd083ec08e1
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `6f21a086-43bf-451b-b56e-4dd083ec08e1` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-03 08:12] sdgun commented on #519
@maxceem Don't see any of the errors seen in the above comment video anymore, but the first time a new user connecting calender, always got the below error and it didn't connect the calender. But it worked second time.

Error: Could not find any writable calender

https://user-images.githubusercontent.com/4592712/140027082-6dcbe21f-9719-4a40-a32e-60ee31056629.mp4

[2021-11-03 12:43] sdgun commented on #563
@maxceem I cannot reproduce this anymore, but I haven't scheduled any interviews for the user before. In this video I am scheduling the interview and selecting the time. When I select a range of time it shows up on the next week too.

[2021-11-03 12:45] sdgun opened #569 "Sporadically getting network errors while scheduling interviews"
Steps
While scheduling interviews observed network errors sporadically

https://user-images.githubusercontent.com/4592712/140062322-5763dab1-019e-4803-bf1e-ea121406e89f.mp4

[2021-11-03 16:11] mahidulalvi-bonic commented on #519
Hi @maxceem,  just saw this, I encountered this issue when creating new users in Exchange and it used to go away after some time but usually happened just after creating Exchange account.

[2021-11-03 16:14] maxceem commented on #519
@mahidulalvi-bonic I did some debugging and it looks likes a Nylas issue. At the moment when it redirects us to API the calendar is not yet returned by Nylas API. But if we try to get it after some time it’s there. I’ve reported it to Nylas support and waiting for response.

[2021-11-04 01:13] mahidulalvi-bonic commented on #561
Hi @maxceem, I couldn't reproduce the issue using a Gmail & an Exchange account. From the video, it seems the screen still works like it used to before I worked on the delete functionality. And I also saw new changes in the dev branch, is it possible this is a regression?

I tried with dev branch of taas-app & taas-apis.

[2021-11-04 05:40] sdgun opened #570 "[$100] Issues with interview schedule reminder notification"
Observed the below issues in in interview schedule reminder notification:

**Issue 1**
------------
**All reminder emails related to different interviews were sent at the same time irrespective of their start time, is there a scheduled time to send this or is it ssent after like 1 hour of the selected start time?**

https://user-images.githubusercontent.com/4592712/140261218-0c15e2c1-81ae-439b-913

[2021-11-04 07:04] maxceem commented on #561
hi @mahidulalvi-bonic I'm not sure if this is regression issue or existent issue which started showing up.

Did you try this on DEV https://platform.topcoder-dev.com/taas/myteams/16786/positions/e7c0d8c0-3e88-46ab-babf-55699bc7a8e6/candidates/interviews without running it locally?

I can see some warning in browser console which might be related:
`react-dom.development.js:82 Warning: Can't perform

[2021-11-04 08:41] sdgun opened #571 "Issues in expired email"
1. Noticed below issue in the subject of the expired email sent to the customer:

![image](https://user-images.githubusercontent.com/4592712/140283127-60b10c2f-29cc-473b-a385-4254a8e9654b.png)

2. 'Minutes' is missing in the expired email

![image](https://user-images.githubusercontent.com/4592712/140280844-0bbf48a2-dc03-4b77-90ad-cd361942c9e1.png)

[2021-11-04 08:48] sdgun opened #572 "Expired email is sent even after all 3 interviews are completed and candidate is selected"
Expired email is sent even after all 3 interviews are completed and candidate is selected

Ex- https://platform.topcoder-dev.com/taas/myteams/18961/positions/f52acfaa-53e5-426e-8068-4d695a97ed47/candidates/selected

https://user-images.githubusercontent.com/4592712/140284298-0782866f-0c67-4d8f-a8b9-3767e4f559ac.mp4

[2021-11-04 09:51] mahidulalvi-bonic commented on #561
@maxceem, I just tried in dev with an Exchange account in the URL you gave above. Couldn't reproduce the issue.

[2021-11-04 09:52] mahidulalvi-bonic commented on #561
I did try in incognito, could it be that you have an older version of the app installed?

[2021-11-04 09:56] maxceem commented on #561
Not sure which app you mean, when we use link https://platform.topcoder-dev.com/taas/myteams/16786/positions/e7c0d8c0-3e88-46ab-babf-55699bc7a8e6/candidates/interviews we (I mean you and me) use the same version of TaaS App. Strange that it happens to me, but not to you.

If you cannot reproduce this issue, I guess you might leave it as I don't have other ideas why it is reproducible for me, but n

[2021-11-04 10:08] mahidulalvi-bonic commented on #561
Here is a recording how I saw

https://user-images.githubusercontent.com/92695808/140295492-601903e1-c3fe-485a-a89c-f66242f6b194.mp4

:

[2021-11-04 10:11] mahidulalvi-bonic commented on #561
It could be a cached version of the web app.. Maybe try deleting all app data & cache from application tab in dev tools?

[2021-11-04 10:18] maxceem commented on #561
It seems that for me it also doesn't happen every time. I tried it one more time and it worked good this time (even without cleaning cache), though I could still see warning in the browser console:
[code]

[2021-11-04 12:23] mahidulalvi-bonic commented on #561
@maxceem, it would be great if you could make a short video of it, with the console and network tabs shown in dev tools. I still couldn't reproduce it.

[2021-11-05 11:28] maxceem commented on #558
@sdgun I'm closing it as it looks like not an issue. But feel free to reopen it if needed.

[2021-11-05 11:28] #558 closed

[2021-11-05 11:30] maxceem commented on #256
Sum up:
- Show status of passed interview
- Don't need color, use some `grey` color for showing status.

[2021-11-05 11:30] maxceem commented on #256
@yoution feel free to pick up if you like.

[2021-11-05 11:31] yoution commented on #256
@maxceem please assign to me

[2021-11-05 11:35] maxceem commented on #561
@mahidulalvi-bonic unassigning you for now as I also cannot reproduce it now.

@sdgun could you please try one more time? It seems that this issue has been fixed by fixing some other issue.

[2021-11-05 11:40] maxceem commented on #560
Sum up:
- The main logic is like this: if some interview were scheduled, we have to mark it as completed after 1 hour. Because interview cannot be longer then 1 hour. But now it doesn't work.
- It works like this:
   - using cron we check if there are any interviews which were scheduled or rescheduled 1 hour ago
   - we mark all such issues as completed
   - see logic source code https://github.co

[2021-11-05 11:41] maxceem commented on #560
@yoution feel free to pick up

[2021-11-05 11:42] maxceem commented on #562
This is a built-in functionality of the Nylas. I'll ask them if we can disable this functionality somehow.

[2021-11-05 11:44] yoution commented on #560
@maxceem please assign to me

[2021-11-05 12:10] maxceem commented on #564
This is internal Nylas behaviour, so I'm contacting Nylas to clarify if there is any workaround.

[2021-11-05 12:15] maxceem commented on #565
Sum up:
- As per debugging and clarifying with Nylas this happens for all accounts when they connect to Nylas the first time. It takes time from Nylas to sync calendars, so after we connect account first time it might take up to 20 seconds for Nylas to sync (as per Nylas support response).
- So to fix this issue we have to improve logic which handles calendar connection https://github.com/topcoder

[2021-11-05 12:21] maxceem commented on #569
@nkumar-topcoder

There is a couple of TaaS Api endpoints which depend on Nylas API and it may take more time to execute then our Topcoder Gateway allows.

Could we increase timeout for some TaaS API endpoints to 1 minute?
- `PATCH /jobCandidates/:jobCandidateId/requestInterview`
- `PATCH /jobCandidates/:jobCandidateId/updateInterview/:round`

[2021-11-05 12:24] sdgun commented on #561
@maxceem Tried with few users, this is not reproduced.

[2021-11-05 12:29] maxceem commented on #570
Sum up:
- Issue 2 would be fixed in Sendgrid.
- Only issue 1 is in scope
- This happens because the logic we use is not correct.
   - `sendInterviewScheduleReminderNotifications` is triggered each day the same time. so all notification are send at the same time.
   - instead of it these notification has to be sent 24 hours after `interview.startTimestamt`
- Solution:
   - update logic, to be simil

[2021-11-05 12:32] sdgun commented on #519
I got this sporadically again, here is the url:

https://api.nylas.com/oauth/callback?state=7zfb3l5qmnreyoft6kb55j76i&code=4/0AX4XfWiRH2Mn7Iqvhr69FYBwAxubQZTa-Ry4LL1xmAuvUGcFJmFsS4bPaJMQye-0oD-6zA&scope=email%20profile%20https://www.googleapis.com/auth/calendar%20openid%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/userinfo.email&authuser=4&prompt=consent

ht

[2021-11-05 12:33] maxceem commented on #561
Ok marking it as passing QA for now, but feel free to fail it again if you see this issue happen again.

[2021-11-05 12:34] maxceem commented on #570
@yoution this is also ready to pick up.

[2021-11-05 12:43] maxceem commented on #571
@sdgun should be fixed now and ready for QA.

[2021-11-05 12:52] maxceem commented on #519
Thank you for the demo video @sdgun. By any chance did you ever use the same email with `+` sign? like `taasintake11+somthing@gmail.com`.

[2021-11-05 12:54] sdgun commented on #519
@maxceem As far as I remember I haven't used it

[2021-11-05 12:55] yoution commented on #570
@maxceem pleaae assign to me

[2021-11-05 13:06] maxceem commented on #559
This issue would be fixed as a part of https://github.com/topcoder-platform/taas-app/issues/559 so I'm marking it as a dpulicate.

[2021-11-05 13:40] maxceem commented on #570
@yoution it appears that this issue is blocked by another one https://github.com/topcoder-platform/taas-apis/issues/618.

Please, hold on working on this issue until the other one is fixed, we are working on that.

[2021-11-08 05:53] sdgun commented on #571
This issue is fixed, verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/140690973-6e846637-2056-4942-beb6-06e6065786c9.png)

![image](https://user-images.githubusercontent.com/4592712/140691022-1c7fd9c6-8726-4661-8655-2ddba4add02c.png)

[2021-11-08 08:32] maxceem commented on #256
@sdgun Implemented and ready for QA

![image](https://user-images.githubusercontent.com/146016/140709158-58ee6707-7d84-4e52-9153-a95d40f36cc1.png)

[2021-11-08 08:33] maxceem commented on #256
Challenge https://www.topcoder.com/challenges/02f9cb1b-7f32-49ea-a86e-05a67532c455 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-08 08:33] maxceem commented on #256
Challenge https://www.topcoder.com/challenges/02f9cb1b-7f32-49ea-a86e-05a67532c455 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-08 16:02] maxceem commented on #570
@yoution you may keep working on this issue, as blocking issue https://github.com/topcoder-platform/taas-apis/issues/618 has been fixed.

[2021-11-08 16:03] maxceem commented on #569
@sdgun this should no longer happen as Nagendra increase timeout on the Gateway.

If you come across this issue again, please, let us know.

[2021-11-09 02:25] yoution commented on #570
@maxceem you said we should seach the interviews by `startTimestampt`,
but the  status of current interview is `scheduling`, I think we should search by `createdAt `, please confirm?

[2021-11-09 03:30] sdgun commented on #560
Verified in Dev, issue is fixed.

![image](https://user-images.githubusercontent.com/4592712/140856997-9d49a5d2-ac17-4268-8fd1-6b9a86a7d214.png)

[2021-11-09 03:35] sdgun commented on #256
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/140857488-fe75d948-afb6-40af-bd79-781c3effe635.png)

[2021-11-09 03:51] sdgun commented on #569
Verified by scheduling multiple interviews, didn't observe this issue again.

[2021-11-09 08:08] maxceem commented on #256
Payment task has been updated: https://www.topcoder.com/challenges/02f9cb1b-7f32-49ea-a86e-05a67532c455
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `02f9cb1b-7f32-49ea-a86e-05a67532c455` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-09 08:11] maxceem commented on #570
@yoution you are right we have to use `createdAt` - updated task description.

[2021-11-09 09:44] yoution commented on #570
@maxceem can we don't work on these two tasks
* `Update demo script`: we should update the `createdAt` to currentTime, but it seems we can't modify this field, is it readonly?
* `Update Postman`: I think `create interview` is enough

[2021-11-09 10:32] maxceem commented on #570
ok @yoution, no need

[2021-11-09 13:19] maxceem commented on #570
Hey, @yoution I've checked your PR, I think my task was not clear.

- We still have to send reminders only after 1 day (`INTERVIEW_REMINDER_DAY_AFTER`) after the interview was created. So if the user was invited but didn't reply - we send a reminder.
- After `INTERVIEW_REMINDER_DAY_AFTER` we have to send this reminder every day (configured by `INTERVIEW_REMINDER_FREQUENCY`)

Previously it was impl

[2021-11-20 11:43] maxceem commented on #562
When Job Candidate schedules or reschedule interview they can click the `Back` button and choose another time.

![image](https://user-images.githubusercontent.com/146016/142724392-46443da9-d28c-42c5-9183-9044b2d8d641.png)

We don't want user to be able to select another time, once they already selected one. Nylas doesn't allow to hide the `back` button. But what we can do is show our own custom co

[2021-11-20 12:08] maxceem opened #575 "[$80] Don't allow selecting another time after interview is cancelled"
When the user cancels an event then the next page is shown see [screenshot](https://monosnap.com/file/YWUPNRCgl0IubPUGGl5eJfISeYHHC7). On this page, the user may click the "Done" button and schedule a new meeting, see [screenshot](https://monosnap.com/file/YYjAwnj5JmswDFG1Rr6iXkDTjCDidC).

But we don't want to allow users to schedule another interview once the interview was canceled. Unfortunately

[2021-11-23 08:52] maxceem commented on #564
At the moment we cannot fix this as this is how Nylas works at the moment. Though they logged this as a feature request and maybe would implement it. So we can keep this open as reminder to come back later for this.

[2021-11-23 09:05] maxceem commented on #575
@yoution would you like to pick up this one?

This is only a frontend issue, no need to set up TaaS API locally.

[2021-11-23 09:11] yoution commented on #575
@maxceem please assign to me

[2021-11-23 11:46] maxceem commented on #562
Half of the task above has been done. API has been updated, and now when Job Candidate select time to schedule or reschedule interview it shows custom thank you page:

![image](https://user-images.githubusercontent.com/146016/143017584-db676fb5-9ca7-4da7-aef0-04c8701e14b0.png)

What is left to do:
- Update the design of this custom page so it look the same as Nylas page button without "back" butto

[2021-11-23 12:03] maxceem commented on #562
@yoution this is also open for pick up.

The initial task was https://github.com/topcoder-platform/taas-app/issues/562#issuecomment-974637623.
But I've made all server-side changes, so now we only need to implement UI as described here https://github.com/topcoder-platform/taas-app/issues/562#issuecomment-976435253.

So no need to local setup TaaS API, only TaaS App.

[2021-11-23 16:05] maxceem opened #576 "Confirm New Email Notifications Texts"

[2021-11-24 02:46] yoution commented on #575
@maxceem how can I get this value?
![image](https://user-images.githubusercontent.com/3863914/143162345-68ed7584-3253-40fd-99bb-d761e4b947ad.png)

[2021-11-24 08:43] maxceem commented on #575
This is the `title` of the job. Can be retrieved by `jobId` using https://github.com/topcoder-platform/taas-app/blob/dev/src/services/jobs.js#L14.

[2021-11-24 09:25] yoution commented on #575
@maxceem how can we get the  `jobId`?

[2021-11-24 09:28] maxceem commented on #575
Ah, to get `jobId` we can get Job Candidate object by `GET ${config.API.V5}/jobCandidates/${jobCandidateId}`.

[2021-11-24 11:10] yoution commented on #562
@maxceem we should use vanilla js, and write code in one file?

[2021-11-24 11:16] maxceem commented on #562
Yes @yoution it's better to use vanilla js in this file.

[2021-11-24 11:17] maxceem commented on #562
@yoution actually, I think we don't need js in this file. It just has to render HTML with CSS.

[2021-11-24 12:16] yoution commented on #562
@maxceem  this value is from  url query?
![image](https://user-images.githubusercontent.com/3863914/143236824-fc7bbdae-e5f0-4cff-a9cf-853d217429f0.png)

[2021-11-24 12:37] maxceem commented on #562
hmm @yoution, let me see where we can get it. We don't have it in `query`.

[2021-11-24 12:41] yoution commented on #562
@maxceem please ignore, I find it
![image](https://user-images.githubusercontent.com/3863914/143240320-389ab6b0-eed9-4bef-a75d-dcd539512242.png)

[2021-11-24 12:45] maxceem commented on #562
@yoution not, that's different. `Maksym Dev` is name of user who was invited for the interview, but not the title.

I found one way to get it using 1 ajax query:
- Get `https://schedule.nylas.com/{page_slug}` for example https://schedule.nylas.com/tc-taas-interview-4c7877e0-bbb5-44ec-904f-1eb8f42ac0e5
- And inside the source code of this page we can find `name` https://monosnap.com/file/raq9QuHHLV

[2021-11-25 05:58] sdgun opened #579 "Interview is not getting cancelled when host cancels the interview"
Steps
Host schedules an interview
Guest select an available time
Host cancels the interview
Check the interview status

Interview status is still 'scheduled' and no emails on cancellation are sent too

Ex - https://platform.topcoder-dev.com/taas/myteams/18933/positions/b64547a6-8433-42c3-9609-cbe6fef5da93/candidates/interviews

https://user-images.githubusercontent.com/4592712/143387742-3a326928-5

[2021-11-25 07:36] sdgun commented on #519
@maxceem We still have https://github.com/topcoder-platform/taas-app/issues/519#issuecomment-958729774, I guess this has not been addressed yet

[2021-11-25 07:58] maxceem opened #580 "Cannot find calendar when connecting it first time"
Follow up from https://github.com/topcoder-platform/taas-app/issues/519#issuecomment-958729774

the first time a new user connecting calender, always got the below error and it didn't connect the calender. But it worked second time.

Error: Could not find any writable calender

https://user-images.githubusercontent.com/4592712/140027082-6dcbe21f-9719-4a40-a32e-60ee31056629.mp4

[2021-11-25 07:58] maxceem commented on #519
Yeah, it still has to be fixed. I created a separate issue to track it https://github.com/topcoder-platform/taas-app/issues/580.

Is this the only one thing which left not working here?

[2021-11-25 08:22] sdgun commented on #519
@maxceem We are waiting for connect Microsoft calender testing, if it is handled in a separate ticket that's all the issues for this

[2021-11-25 08:23] maxceem opened #581 "Support connecting Microsoft calendar"
Follow up from https://github.com/topcoder-platform/taas-app/issues/519#issuecomment-978941042

[2021-11-25 08:25] maxceem commented on #519
@sdgun got it. I've created a separate issue for Microsoft calendar for easier tracking, so it's clear what has to be done https://github.com/topcoder-platform/taas-app/issues/581

[2021-11-25 15:24] maxceem commented on #575
@sdgun this is ready for QA.

[2021-11-26 06:44] sdgun opened #582 "JC cannot cancel/reschedule the interviews since he is not a member of project"
Steps
Customer schedule an interview
JC selects a time
JC cancel/reschedule interview

Shows the message "userId: 88778061 the user is not a member of project 18989"

Team - https://platform.topcoder-dev.com/taas/myteams/18989
Interview - https://platform.topcoder-dev.com/taas/myteams/18989/positions/222cceef-0c46-4548-89f5-e2c9487e2d55/candidates/interviews

Host - taasintake500
JC - taasintake10

[2021-11-26 06:53] sdgun commented on #575
Verified in Dev.

https://user-images.githubusercontent.com/4592712/143539146-1faa8b43-ab02-45ca-8a16-1fa1354130bf.mp4

[2021-11-26 07:57] sdgun commented on #570
The issues are fixed.

![image](https://user-images.githubusercontent.com/4592712/143546549-17402036-6ba8-43d3-8de0-a6358317f3c1.png)

[2021-11-26 07:58] sdgun commented on #559
Observed the reminder email being sent

![image](https://user-images.githubusercontent.com/4592712/143546703-6c687e3f-a3f9-4a56-a9b7-93d5baf1224c.png)

[2021-11-26 08:05] maxceem commented on #565
I've implemented the retry 30 seconds as recommended by Nylas support, but it didn't help. Even 30 seconds is not enough, while Nylas support recommended to wait up to 20 seconds, see log:
[code]

[2021-11-26 13:42] maxceem commented on #582
@sdgun this has to be fixed by https://github.com/topcoder-platform/taas-apis/commit/a8c5445d3134378ecf81c8ae7f5f40a05153b1c5. Ready for QA.

[2021-11-26 13:42] maxceem commented on #579
@sdgun this has to be fixed now. Ready for QA.

[2021-11-26 13:43] maxceem commented on #570
Challenge https://www.topcoder.com/challenges/cd80fe0a-4073-42bd-8e24-7257d82ffd4a has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-26 13:43] maxceem commented on #570
Challenge https://www.topcoder.com/challenges/cd80fe0a-4073-42bd-8e24-7257d82ffd4a has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-26 13:44] maxceem commented on #570
Payment task has been updated: https://www.topcoder.com/challenges/cd80fe0a-4073-42bd-8e24-7257d82ffd4a
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `cd80fe0a-4073-42bd-8e24-7257d82ffd4a` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-26 14:10] maxceem commented on #562
@sdgun this is ready for testing/

[2021-11-26 15:20] maxceem commented on #576
@yoution would you like to handle the first part of this issue: "Generate all new email notifications examples for email notification types:"? The payment is $50.

I would provide a guide on how to trigger some of these notifications in a comment below, though you might do it some other way.

[2021-11-26 15:23] maxceem commented on #576
## How to Schedule Interview using API only

Here I would show the steps on how to schedule, reschedule or cancel an interview, so you may start quickly.

0. Setup TaaS API as per guide https://github.com/topcoder-platform/taas-apis/blob/dev/docs/guides/Setup-Interview-Workflow-Locally.md.

1. Import Postman [collection and environemnt](https://github.com/topcoder-platform/taas-apis/tree/dev/docs)

[2021-11-26 15:29] yoution commented on #576
@maxceem please assign to me

[2021-11-26 15:35] maxceem commented on #576
Assigned. If you like, you can create a screenshot and subject for a couple of notifications and I would confirm if the format is good. So you could do the same for other notification types.

[2021-11-29 04:35] sdgun commented on #562
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/143809566-1cf463ac-88d4-47cf-b9d6-41667df13cdf.png)

[2021-11-29 04:41] sdgun commented on #582
@maxceem Tested with a newly created team, when JV clicks cancel in the email, still opens the page with the same error.

![image](https://user-images.githubusercontent.com/4592712/143809770-1eb34c4c-2e02-4142-887f-bc6906ee8dfa.png)

Team - https://platform.topcoder-dev.com/taas/myteams/19029/positions/fc08dfdb-6255-471c-9700-ba2debe78693
JC -  taasintake300
Host - taasintake1000

![image](https:/

[2021-11-29 05:08] sdgun commented on #579
@maxceem This issue still exists, when cancelling the interview, it doesn't get canceled.  When trying cancel again seeing an error. The video below shows my 2nd attempt to cancel, it didn't do anything in the first try

Interview - https://platform.topcoder-dev.com/taas/myteams/19029/positions/fc08dfdb-6255-471c-9700-ba2debe78693/candidates/interviews

JC - taasintake300

Host - taasintake1000

h

[2021-11-29 07:59] yoution commented on #576
@maxceem I think we only need to create the email notification and create the screenshot for all these types
but why do we need to do these ?
`3.Update email templates inside the repository files` and `4.Update email templates inside Sendgrid`?

[2021-11-29 08:34] maxceem commented on #576
In this task we only need to make part 1: "Generate all new email notifications examples for email notification types:". No need to make part 3 and 4 now.

After you create screenshots, I would send them to the manager to get an updated text. And after we have updated text we could do 3 and 4.

[2021-11-29 09:27] yoution commented on #576
1. taas.notification.interview-invitation
![image](https://user-images.githubusercontent.com/3863914/143841840-258f3c36-9a1d-4562-a973-d3ce420fe286.png)

[2021-11-29 09:27] maxceem commented on #579
@sdgun all the interviews which were scheduled previously before fixing the issue might be broken and we cannot cancel them anymore. So the only way to test the fix for this issue is to create a new interview and try to test it.

[2021-11-29 09:27] maxceem commented on #582
Thanks @sdgun I've got the issue this time, would work on the fix.

[2021-11-29 09:30] maxceem commented on #576
@yoution and also we need the `subject` which we set as a file name. For example, the subject for this email would be `Please select your available time`. Sometimes subject matches the text we have inside the email (near icon), but sometimes it's different like for this email.

[2021-11-29 09:43] yoution commented on #576
@maxceem this api is down?
![image](https://user-images.githubusercontent.com/3863914/143844242-38527fd2-5a23-41b7-88ee-260ed95e8266.png)

[2021-11-29 10:17] maxceem commented on #576
@yoution it works for me. Could you try with this user id `077fd578-7463-457f-b6ef-22c02178d7f5`?

[2021-11-29 10:25] sdgun commented on #579
@maxceem This is a new team and a new interview I created today for testing

[2021-11-29 11:18] maxceem opened #583 "[$30] Fix cancelling for JC who is not in the team"
We implemented a custom cancel page in this issue https://github.com/topcoder-platform/taas-app/issues/575.

As a part of that task we are loading Job Title to show it on the page
![image](https://user-images.githubusercontent.com/146016/143858231-e70cdffd-49e3-4b18-bfa1-34d8e464f385.png)

Internally, to do this we are calling 2 endpoints:
- Get Job Candidate
- Get Job

But JC users who are not a

[2021-11-29 11:21] maxceem commented on #583
@yoution feel free to pick up if you like.

[2021-11-29 11:21] yoution commented on #583
@maxceem please assign to me

[2021-11-29 11:32] yoution commented on #576
2.taas.notification.interview-schedule-reminder
filename: Reminder_ Please select your available time for interview-1638185321879.html

![image](https://user-images.githubusercontent.com/3863914/143860551-688f64f2-bcc1-4d62-95f0-87372d6383a5.png)

[2021-11-29 11:59] maxceem commented on #576
@yoution looks good.

Could you please, continue adding them to this Google Document https://docs.google.com/document/d/1XTTnUSxWJeLN6pd-w6rj_k_-K9z2E5_CF0UGflFcmLQ/edit#

Also, the file name has some escaped symbols. It's better to provide it unescaped, you may also get it from this file https://github.com/topcoder-platform/taas-apis/blob/dev/config/email_template.config.js#L131 but combine it wi

[2021-11-29 12:03] maxceem commented on #579
@sdgun got it. May I know if you rescheduled this interview before canceling?

Or you just scheduled it and then directly tried to cancel without rescheduling?

[2021-11-29 12:18] sdgun commented on #579
@maxceem just scheduled it and then directly tried to cancel without rescheduling

[2021-11-29 13:58] maxceem commented on #579
@sdgun I'm trying to reproduce it by myself using my users, but with no luck. To help me debugging it, may I ask you to repeat these steps one more time using the same users?
- create a new Job with a different name
- create a new Job Candidate
- schedule interview
- wait some time around 10 minutes (I guess you waited sometime before, right?)
- cancel interview

[2021-11-29 15:07] sdgun commented on #579
@maxceem I executed the above step for the same users, in the 1st interview cancellation, I waited for 10 mins and it worked, 2nd I cancelled immediately without issues right after scheduling, but the 3rd one(which I cancelled without waiting) had the same issue.

Interview: https://platform.topcoder-dev.com/taas/myteams/19029/positions/d5f777b6-14a3-4ca9-b20d-7b1f4172c2c4/candidates/interviews

h

[2021-11-29 15:12] maxceem commented on #579
Thanks a lot @sdgun this should help.

[2021-11-29 15:40] maxceem commented on #579
@sdgun I can see that 3rd time when you've got error you clicked "cancel" button 2 times:
- first time you clicked "cancel" button, it return success, but in reality it didn't cancel the meetings
- the second time you clicked "cancel" button it returned error

When first time you get this error here https://github.com/topcoder-platform/taas-app/issues/579#issuecomment-981296284. Did you click "can

[2021-11-29 15:55] sdgun commented on #579
@maxceem No I only clicked cancel once in first time.

[2021-11-30 01:11] yoution commented on #576
@maxceem please review
https://docs.google.com/document/d/1XTTnUSxWJeLN6pd-w6rj_k_-K9z2E5_CF0UGflFcmLQ/edit#

[2021-11-30 07:36] maxceem commented on #576
Thank you @yoution. A couple of emails were mixed up for host and guest, but it was easy to fix. The payment is processed https://www.topcoder.com/challenges/20265992-95b7-4ccb-93d8-7dca871af9e5.

[2021-11-30 07:38] yoution commented on #576
I hardcode the uuid , so the guest and host are same

[2021-11-30 07:40] maxceem commented on #576
Ohh, I haven't noticed that. That could be confusing for someone who would prepare texts for emails. It would be better at least hardcode 2 different users for host and guest.

Would it be hard to do?

[2021-11-30 07:43] yoution commented on #576
a little hard😅

[2021-11-30 07:49] maxceem commented on #582
@sdgun this should be fixed now https://monosnap.com/file/WSoOWE8vpJ1LRa8IB1mQCtb9hS5yrH.

The actual canceling functionality may still fail sometimes due to https://github.com/topcoder-platform/taas-app/issues/579

[2021-11-30 07:50] maxceem commented on #583
Challenge https://www.topcoder.com/challenges/360fc3f6-95fa-4e17-8412-be133538cd6b has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-30 07:50] maxceem commented on #583
Challenge https://www.topcoder.com/challenges/360fc3f6-95fa-4e17-8412-be133538cd6b has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-30 07:53] yoution commented on #576
do we have to discriminate between guest and host? I have deleted the local templates
if you think we must do ,I can work on it

[2021-11-30 07:56] maxceem commented on #576
Let's do it like this. I would send this document as it is for now. And if the manager got confused that names are the same, I would ask you to make it different.

[2021-11-30 09:28] sdgun opened #585 "[$15] The area outside of the text is also linked to the 'MANAGE CONNECTED CALENDAR'"
Steps
Click 'Schedule an interview' for any JC
Check the 'MANAGE CONNECTED CALENDAR' linked area

The area outside of the text is also linked to the 'MANAGE CONNECTED CALENDAR'

https://user-images.githubusercontent.com/4592712/144020978-6cb8bb8f-57ce-4ace-ab93-4d56359c81fc.mp4

[2021-11-30 09:55] sdgun commented on #582
Verified, JC could cancel/reschdule interviews successfully.

[2021-11-30 09:56] maxceem commented on #583
Payment task has been updated: https://www.topcoder.com/challenges/360fc3f6-95fa-4e17-8412-be133538cd6b
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `360fc3f6-95fa-4e17-8412-be133538cd6b` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-11-30 09:58] maxceem commented on #583
This is basically a duplicate of https://github.com/topcoder-platform/taas-app/issues/582. So I'm closing it.

[2021-11-30 09:58] #583 closed

[2021-12-01 09:36] maxceem opened #586 "[$35] Hide interview functionality on PROD"
At the moment we have interview functionality on PROD. Though the third party tool which we are using for the interview was sunset so the interview scheduling would not work on PROD.

For the time being, I suggest disabling buttons to schedule interviews on PROD:
- Hide button to schedule interview

   ![image](https://user-images.githubusercontent.com/146016/144209243-07ba0f85-7033-47ff-806b-3114

[2021-12-01 09:44] lakshmiathreya commented on #586
cc @SathyaJayabal @sandhiyakavi

[2021-12-03 06:06] sdgun commented on #572
Verified in Dev.

[2021-12-03 10:28] maxceem commented on #586
@yoution this issue is open for pick up.

Branch to work `master`!

[2021-12-03 10:31] yoution commented on #586
@maxceem please assign to me

[2021-12-05 12:43] maxceem commented on #575
Challenge https://www.topcoder.com/challenges/b59cb664-ac80-49fc-b631-73a590a68c4c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-05 12:43] maxceem commented on #575
Challenge https://www.topcoder.com/challenges/b59cb664-ac80-49fc-b631-73a590a68c4c has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-05 12:44] maxceem commented on #575
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-05 12:44] maxceem commented on #575
Payment task has been updated: https://www.topcoder.com/challenges/b59cb664-ac80-49fc-b631-73a590a68c4c
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `b59cb664-ac80-49fc-b631-73a590a68c4c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-05 12:45] maxceem commented on #562
Challenge https://www.topcoder.com/challenges/d3eb505b-a0d7-436f-8395-f9d7db2a7cd6 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-05 12:45] maxceem commented on #562
Challenge https://www.topcoder.com/challenges/d3eb505b-a0d7-436f-8395-f9d7db2a7cd6 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-05 12:45] maxceem commented on #562
Payment task has been updated: https://www.topcoder.com/challenges/d3eb505b-a0d7-436f-8395-f9d7db2a7cd6
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `d3eb505b-a0d7-436f-8395-f9d7db2a7cd6` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-06 10:07] maxceem opened #588 "Show syncing message and wait if calendar is not yet synced when scheduling interview"
We can schedule an interview with a connected Google/Microsoft calendar or without connected calendar (it would use Nyals virtual calendar internally).

When we connect Google/Microsoft calendar successfully it might still take time to sync it in the background, and until then we cannot schedule an interview. So when we schedule interview we have to check if calendar was already synced, and if no,

[2021-12-07 14:02] maxceem commented on #586
Challenge https://www.topcoder.com/challenges/5a1a53db-07c0-4b3b-a6a3-1d50a12c4e98 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-08 06:49] sdgun commented on #586
Verified in dev

![image](https://user-images.githubusercontent.com/4592712/145161348-a0637dff-d3c3-4af8-850e-d77ebd94db00.png)

[2021-12-08 09:27] maxceem commented on #588
@yoution @mahidulalvi-bonic feel free to pick up this issue if you could work on it during the next 24 hours.

Please, note, we would have to create some way to verify it locally. If something is not clear, please, let me know.

[2021-12-08 09:31] maxceem commented on #576
We are ready to make part 3 of this issue.

- We've got updates to email text in this document https://docs.google.com/document/d/1XTTnUSxWJeLN6pd-w6rj_k_-K9z2E5_CF0UGflFcmLQ/edit#heading=h.4zmbo0c8c5q9
- We have to update all the email templates as per comments of the manager https://monosnap.com/file/KQIjje73VpdYVY9Hhx4YqylEHtkFT0
   - please, read the comments carefully
   - follow all the comm

[2021-12-08 09:32] maxceem commented on #576
@yoution @mahidulalvi-bonic feel free to pick up this issue if you could work on it during the next 24 hours.

The task is in this comment https://github.com/topcoder-platform/taas-app/issues/576#issuecomment-988645142

[2021-12-08 09:34] yoution commented on #576
@maxceem please assign to me

[2021-12-08 09:35] maxceem commented on #576
Sure @yoution it's on you.

[2021-12-08 23:37] mahidulalvi-bonic commented on #588
@maxceem, I can work on it. Seeing the message just now, how long do I have to finish this?

[2021-12-09 07:56] maxceem commented on #576
@yoution
- for the `taas.notification.interview-expired-host`: `[Schedule a new interview] or contact Ops [here]`. [Schedule a new interview] should be a link to the `https://platform.topcoder-dev.com/taas/myteams/{teamId}/positions/{jobId}/candidates/interviews`
- for `taas.notification.interview-expired-guest`: Keep like for all `Need help? Please, contact us [here]`.

[2021-12-09 07:57] maxceem commented on #588
@mahidulalvi-bonic 2 days would be good, or let me know how long do you think it would take for you?

[2021-12-09 08:32] yoution commented on #576
@maxceem how can I get `teamId` from `interview` object

[2021-12-09 08:36] maxceem commented on #576
@yoution it looks like you can use `{{interviewLink}}` inside the email and it would insert the full link.

- here we trigger sending expired email for host https://github.com/topcoder-platform/taas-apis/blob/feature/interview-update-part-3/src/services/NotificationsSchedulerService.js#L752
- and this function returns `data` https://github.com/topcoder-platform/taas-apis/blob/feature/interview-upd

[2021-12-10 00:20] mahidulalvi-bonic commented on #588
@maxceem, Monday is more ideal for me. I can work long during the weekend. Please let me know if it works.

[2021-12-10 07:32] maxceem commented on #588
Ok, @mahidulalvi-bonic by Monday works for us.

[2021-12-13 06:16] sdgun opened #591 "[$25] Internal server error when zoom link in the interview email is clicked after cancelling the interview"
Steps
Schedule an interview
Cancel it
Click the zoom link in the Candidate confirmed meeting on... email

Internal server error when zoom link in the interview email is clicked after cancelling the interview

Interview: https://platform.topcoder-dev.com/taas/myteams/19320/positions/eef4ac23-5ca8-46ed-be05-4c0ee034432e/candidates/interviews
JC: taasintake1000
Customer: taasintake200

https://user-i

[2021-12-13 07:01] sdgun opened #592 "After rescheduling an intrerview, the zoom link of the previous interview still works"
Steps
Schedule an interview
Reschedule it
Click the zoom link in the previous interview email

This link still works, do we want to keep it active?

[2021-12-13 08:27] maxceem commented on #576
@yoution payment [updating email templates](https://github.com/topcoder-platform/taas-app/issues/576#issuecomment-988645142) for has been processed https://www.topcoder.com/challenges/5517cc9c-84ee-4f28-ac42-27898ed291ee

[2021-12-13 11:43] sdgun opened #593 "[$50] When trying to connect to zoom, an incorrect interview time is shown"
Steps
Schedule an interview
Go to JC's email
Click the zoom link in the Candidate confirmed meeting on... email
Check the time

 incorrect interview time is shown

All Interviews here: https://platform.topcoder-dev.com/taas/myteams/19320/positions/c8511efd-af2d-46ee-a86d-59d291bee61e/candidates/interviews

https://user-images.githubusercontent.com/4592712/145806325-192532ee-41fb-416b-937d-7f5acbe5

[2021-12-13 11:48] maxceem commented on #592
This is fine. Actually for the same interview zoom link is always the same even after we reschedule as this link it attached to the interview, not to a certain time. We just update it internally.

For now, I don't see any issue with this. As soon as we cancel the interview, such a link would get disabled.

[2021-12-13 11:48] #592 closed

[2021-12-13 11:54] maxceem commented on #593
@sdgun just to confirm. `Asia/Colombo` is your current timezone when testing, right?
So when it says interview is scheduled for 2pm Asia/Colombo you are expecting that Zoom would also show the same `2pm` because you are now in `Asia/Colombo` timezone, right?

[2021-12-13 11:58] maxceem commented on #591
@sdgun if we replace the error message with `Zoom link is no longer available for this interview because the current status of the interview is "{interview.status}".` would this work for us? What do you think?

[2021-12-13 12:06] sdgun commented on #593
@maxceem yeah, I was expecting to see 2pm.

[2021-12-13 12:08] sdgun commented on #591
I think this message change solves this issue

[2021-12-16 01:59] xxcxy commented on #591
Created a MR https://github.com/topcoder-platform/taas-apis/pull/643 to fix this.

[2021-12-16 02:23] xxcxy commented on #593
Created a MR https://github.com/topcoder-platform/taas-apis/pull/644 to fix this.

[2021-12-16 07:21] maxceem commented on #591
@sdgun this issue has been fixed and is ready for testing on DEV.

[2021-12-16 07:22] maxceem commented on #593
@sdgun this issue has been fixed and is ready for testing on DEV.

Here is a comment regarding the fix:

[2021-12-16 10:10] sdgun commented on #591
Verified.

![image](https://user-images.githubusercontent.com/4592712/146351953-ae457abe-535e-41f4-999e-fb4a6e5e1180.png)

[2021-12-16 10:15] maxceem commented on #593
@xxcxy it looks like this issue is not yet fixed, could you please have a look https://github.com/topcoder-platform/taas-app/issues/593#issuecomment-995625140

[2021-12-16 10:15] maxceem commented on #591
Challenge https://www.topcoder.com/challenges/17afc0bd-92b6-467a-9578-5489e4a62cb0 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-16 10:15] maxceem commented on #591
Challenge https://www.topcoder.com/challenges/17afc0bd-92b6-467a-9578-5489e4a62cb0 has been assigned to xxcxy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-16 10:15] maxceem commented on #591
Payment task has been updated: https://www.topcoder.com/challenges/17afc0bd-92b6-467a-9578-5489e4a62cb0
*Payments Complete*
Winner: xxcxy
Copilot: maxceem
Challenge `17afc0bd-92b6-467a-9578-5489e4a62cb0` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-16 10:17] xxcxy commented on #593
Sure, I will check it. I want to confirm is the new meeting is fine? looks the video is a rescheduled meeting.

[2021-12-17 05:47] sdgun commented on #593
The new meetings has the same issue @xxcxy

[2021-12-17 08:50] xxcxy commented on #593
Sorry, I don't understand. I check it and looks it show correct. https://monosnap.com/file/ROrXOUIFzX3gAIwxJHd56mDIzksd3O

[2021-12-17 08:53] xxcxy commented on #593
In the second video, you computer timezone is different from email timezone. The zoom client will show the time from your computer timezone.

[2021-12-17 09:28] sdgun commented on #593
@xxcxy
There is no TZ named 'Asia/colombo time zone' in windows, what I use is 'Sri Jayawardenapura' which is also
 GMT+5:30(same as IST)

[2021-12-17 10:21] xxcxy commented on #593
I'm not sure whether  it's the zoom client issue, could you try `Asia/Kolkata` timezone, if windows has timezone like this.

[2021-12-18 02:25] sdgun commented on #593
@xxcxy I checked by changing the TZ to Asia/Kolkata, still see a different time

https://user-images.githubusercontent.com/4592712/146625943-24b55331-fea1-41a7-a004-df8fba28fb77.mp4

[2021-12-18 02:47] xxcxy commented on #593
My last MR, I forgot to update the reschedule code, so the reschedule process may have timezone problem. I fix it in this MR https://github.com/topcoder-platform/taas-apis/pull/646 .
But this just determine the timezone of start time we send to zoom. How to show this time depends on zoom client. I tried `Asia/Shanghai` and `Europe/London` in my computer and it shows correctly.

[2021-12-19 09:54] maxceem commented on #593
hmm, @xxcxy, so what you are saying is, that we actually don't have to use any specific timezone when creating a zoom meeting? We just can avoid setting timezone, pass time in UTC+0, and it should adjust to the client timezone of the one who opens the link?

[2021-12-19 09:57] maxceem commented on #593
As from Zoom API docs:

![image](https://user-images.githubusercontent.com/146016/146670846-6654dd63-0321-48c8-9aa4-a845c86c02cf.png)

So it looks like we just have to pass the time in the correct format `yyyy-MM-ddTHH:mm:ssZ` which means GMT 0, and Zoom client would show the correct date depend on the computer timezone.

Is that right?

[2021-12-19 10:28] xxcxy commented on #593
Yes, I tried if I set different timezone in my computer and restart the zoomMeeting client, it shows different time like the doc said. But if i don't set timezone when sending api, the client shows the time different from the email even they have same timezone. So i think we should set the timezone.

[2021-12-19 10:57] maxceem commented on #593
Ok. So I guess **sdgun** still can reproduce the issue because in this:

![image](https://user-images.githubusercontent.com/146016/146672478-ac67d174-41ae-43b4-93be-61acfe62c0b2.png)

But it seems that we there could be easier solution then using candidate timezone:
- we can set time in UTC using specific time format `yyyy-MM-ddTHH:mm:ss`
- and set timezone as `UTC`

And then the client would rend

[2021-12-19 11:05] xxcxy commented on #593
No, I tried "UTC", at least it can't work in my computer. The time showed different from email.

[2021-12-19 11:08] maxceem commented on #593
Hmm, could it be that `toISOString` returns date not in the same format that is expected by Zoom?
- `2011-10-05T14:48:00.000Z`
- if we set timezone, then there should not be `.000Z`

[2021-12-19 11:15] xxcxy commented on #593
I'm not sure. Since I can't reproduce it in my computer and my zoomAccount.
I need confirm something to infer what's the problem.
1. if sdgun change the computer timezone, the zoom client shows different time?
2. what the actual time sdgun set and whether the email show time is right?

[2021-12-20 09:53] maxceem commented on #593
@sdgun there are some details which might help to find the root cause of the issue https://github.com/topcoder-platform/taas-app/issues/593#issuecomment-997373702.

I guess a video showing the whole process including scheduling, selecting time and opening the final zoom link might help.

[2021-12-20 09:56] yoution commented on #585
@maxceem please assign to me

[2021-12-20 09:59] maxceem commented on #580
This issue was fixed using this issue https://github.com/topcoder-platform/taas-app/issues/588:
- when user connects calendar the first time, it could take time for Nulas to sync, that's why we get this error that calendar is not found
- so the solution implemented in this ticket https://github.com/topcoder-platform/taas-app/issues/588 is:
  - when we connect calendar but we cannot find it, we sti

[2021-12-20 10:00] maxceem commented on #565
This was fixed together with https://github.com/topcoder-platform/taas-app/issues/580 and https://github.com/topcoder-platform/taas-app/issues/588 and ready for QA.

[2021-12-20 10:17] maxceem commented on #585
Challenge https://www.topcoder.com/challenges/73414c89-d560-473e-aae6-f97bf4def436 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-20 10:17] maxceem commented on #585
Challenge https://www.topcoder.com/challenges/73414c89-d560-473e-aae6-f97bf4def436 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-20 10:17] maxceem commented on #585
Payment task has been updated: https://www.topcoder.com/challenges/73414c89-d560-473e-aae6-f97bf4def436
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `73414c89-d560-473e-aae6-f97bf4def436` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-20 10:33] sdgun commented on #593
@maxceem @xxcxy Here is the video

Uploading Interview zoom time.mp4…

[2021-12-21 03:47] sdgun commented on #585
Verified in Dev env, issue is fixed.

[2021-12-21 05:43] sdgun commented on #593
@xxcxy Looks like the time is shown in GMT in Nylas and zoom, for example in the timeslots payload, the starttime and endtime stamps are sent when the user schedules the interview, for example in the below interview, JC scheduled the interview to 1pm-1.30pm on 25th Dec in IST, which is 7.30am-8am in GMT and that is what the Nylas/zoom shows to the JC while trying to connect the meeting.

https://u

[2021-12-21 05:49] xxcxy commented on #593
Yes. I think the request parameters is very helpful, I will try to reproduce this issues in my local, If i can reproduce it, i think i can resolve it.

[2021-12-21 06:05] sdgun commented on #579
Verified in Dev env, this issue is fixed.

[2021-12-21 06:35] sdgun commented on #580
Verified in Dev, this issue didn't occur again.

https://user-images.githubusercontent.com/4592712/146880345-1433fe56-88e2-40d8-9a77-7e39f001c142.mp4

[2021-12-21 07:04] sdgun commented on #565
Verified in dev env, issue is fixed.

https://user-images.githubusercontent.com/4592712/146886242-0feea76c-6cce-409c-86d3-e506327170b7.mp4

[2021-12-21 07:57] xxcxy commented on #593
Yes, You are right.
Fixed in this MR https://github.com/topcoder-platform/taas-apis/pull/649

[2021-12-21 08:40] sdgun commented on #588
Verified in  Dev

https://user-images.githubusercontent.com/4592712/146897880-49776d6b-ca16-4d7b-b5a1-718f114ddd80.mp4

[2021-12-21 09:16] maxceem commented on #588
Paid via https://www.topcoder.com/challenges/75a2e757-7651-42e7-8a0d-f0baeed7710c

[2021-12-21 09:19] maxceem commented on #593
@sdgun a new fix has been deployed to DEV and is ready for testing.

[2021-12-22 06:13] sdgun opened #596 "Interviews are not getting scheduled"
**Steps**
When the JC schedules the interview using the link sent in the email, the interview is not getting scheduled and no emails on interview are received

https://user-images.githubusercontent.com/4592712/147044288-2e7d5448-7996-4267-b9e4-9eafa43d332c.mp4

[2021-12-22 06:14] sdgun commented on #593
Unable to verify due to https://github.com/topcoder-platform/taas-app/issues/596

[2021-12-22 07:47] maxceem commented on #596
@sdgun I wonder if you used Google calendar to schedule this meeting or no calendar?

[2021-12-22 07:57] maxceem commented on #596
@sdgun the interview looks scheduled now, maybe it just took a bit longer to complete scheduling, could you please check one more time if got the email?

![image](https://user-images.githubusercontent.com/146016/147056585-c296b8a5-660f-456c-9024-c24a7357ba04.png)

[2021-12-22 08:02] sdgun commented on #596
@maxceem Tried with google calender, but I see the interview in scheduled status and emails received after 1.5 hours of scheduling though. I tried scheduling now and it seems to be working now.

[2021-12-22 08:04] sdgun commented on #596
Closing since this issue is not recreated anymore

[2021-12-22 08:04] #596 closed

[2021-12-22 08:22] sdgun commented on #593
Verified in dev env, the time is displayed correctly now.

https://user-images.githubusercontent.com/4592712/147059823-6ed47db8-4dfa-48ad-b4af-b7d5dab051c2.mp4

[2021-12-22 08:26] maxceem commented on #593
Challenge https://www.topcoder.com/challenges/f9030ea9-8a63-437a-9957-8013bd8e91ea has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-22 08:27] maxceem commented on #593
Challenge https://www.topcoder.com/challenges/f9030ea9-8a63-437a-9957-8013bd8e91ea has been assigned to xxcxy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-22 08:27] maxceem commented on #593
Payment task has been updated: https://www.topcoder.com/challenges/f9030ea9-8a63-437a-9957-8013bd8e91ea
*Payments Complete*
Winner: xxcxy
Copilot: maxceem
Challenge `f9030ea9-8a63-437a-9957-8013bd8e91ea` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-22 08:27] maxceem commented on #593
Thank you @xxcxy it works now, and payment has been processed.

[2021-12-22 08:39] maxceem commented on #596
Just for the reference. Here is the timing in log:
- `2021-12-22T05:54:57.550Z` - the interview was scheduled by Customer
- `2021-12-22T05:55:00.159Z` - interview invitation was sent (`InterviewEventHandler sendInterviewInvitationNotifications`)
And only after more than an hour:
- `2021-12-22T07:07:56.208Z` -  got reminder webhook that time was selected (`partiallyUpdateInterviewByWebhook`)
- `202

[2021-12-22 08:42] maxceem commented on #596
@sdgun just in case, after you choose time for this interview and email didn't come. Did you try selecting time again one more time somehow for the same interview?

[2021-12-22 08:53] sdgun commented on #596
@maxceem Yes, I scheduled another interview after some time to check.

[2021-12-22 09:42] maxceem commented on #596
@sdgun to be clear, did you schedule a new interview using customer user?
Or did you try to choose time again using Job Candidate user for **the same** interview?

[2021-12-22 10:30] sdgun commented on #596
@maxceem I scheduled a new interview using customer user

[2021-12-23 06:03] sdgun opened #597 "The interview scheduled time is displayed in UTC in calender invitation and in SCHEDULE INTERVIEW page"
**Steps**
Schedule an interview from a customer
Confirm a time and set up interview from JC through the email link
After JC submits the interview scheduling, the time displayed on the screen is changing to UTC and even in the calender invitation the time is sent in utc

https://user-images.githubusercontent.com/4592712/147195534-d39a286c-681f-45d5-9763-1a2f5538a200.mp4

[2021-12-23 08:51] maxceem commented on #597
@sdgun this happens for the customer user, right?

Customer uses sees time in UTC.

[2021-12-23 09:48] sdgun commented on #597
@maxceem This happens for the JC who schedules the interview using the 'Select Interview Time' link from "Schedule your interview for ..." email which comes after customer submits the interview request

[2021-12-23 09:57] maxceem commented on #597
@sdgun Got it. This email is sent by Google Calendar, so it must be using the timezone which is set inside the google calendar JC Google Account.

Could you please check it out?

![image](https://user-images.githubusercontent.com/146016/147223374-66aa66e0-c6e0-4b14-a775-cd36aa99e674.png)

![image](https://user-images.githubusercontent.com/146016/147223293-9ad11c15-b9c2-4e33-b1f9-260159ebb925.png)

[2021-12-23 10:10] maxceem opened #598 "[$20] Temporary hide feature for connecting Google/Microsoft calendars"
At the moment we don't yet have Google App verified, so we cannot allow connecting Google calendars on production.
Also, support for Microsoft calendars is not full on the Nylas side, so we also cannot use Microsoft calendars on production for now.

To avoid further delay we are going to push to Production Interview workflow without connecting calendars feature, so for now we have to hide it.

- H

[2021-12-23 10:10] maxceem commented on #598
@yoution this is open for pick up now.

[2021-12-23 10:11] yoution commented on #598
@maxceem please assign to me

[2021-12-23 10:56] sdgun commented on #597
This JC user has IST set as the primary TZ

![image](https://user-images.githubusercontent.com/4592712/147230676-ed4368c8-2f90-4aa4-8e58-2a031d5d54d1.png)

[2021-12-23 11:10] maxceem commented on #597
Hmm, @sdgun and what about the Customer's user calendar?

As this event is initially created inside Customer's Google calendar, maybe Google users Customer's Calendar timezone.

[2021-12-23 11:23] sdgun commented on #597
@maxceem I checked the customer's calender too, it also has IST as the primary TZ. Did you notice in the attached video in this issue description, the interview time displayed before submitting is changing to UTC time after submitting? Not sure why the time is changing after submitting.

[2021-12-23 11:28] maxceem commented on #597
Ah, sorry, I've missed that. Hmm, strange...

[2021-12-27 09:18] maxceem commented on #597
@sdgun the time which is shown on the thank you page is fixed:

![image](https://user-images.githubusercontent.com/146016/147456244-d0ffe85b-3e06-48f9-9bf4-bd57504390f6.png)

Regarding the time which is shown inside the Google Calendar email. As per my testing it always uses timezone which is used inside the JC's Google Calendar settings for me.

For example, I've changed JC's Google Calendar Time

[2021-12-28 06:46] sdgun commented on #597
This issue is fixed now.

https://user-images.githubusercontent.com/4592712/147536569-7fbe4e4b-e265-496a-87d4-372815474aef.mp4

[2021-12-28 07:04] sdgun opened #600 "Confirm button is not working when calender is not connected"
**Steps**
Go to schedule an interview(make sure no calender is connected)

Confirm button is not working when calender is not connected

Uploading confirm not working.mp4…

[2021-12-28 09:26] maxceem commented on #598
Challenge https://www.topcoder.com/challenges/9672b71e-ddd3-4449-a4da-7e4365a0bffc has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-28 09:26] maxceem commented on #598
Challenge https://www.topcoder.com/challenges/9672b71e-ddd3-4449-a4da-7e4365a0bffc has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-28 09:26] maxceem commented on #598
Payment task has been updated: https://www.topcoder.com/challenges/9672b71e-ddd3-4449-a4da-7e4365a0bffc
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `9672b71e-ddd3-4449-a4da-7e4365a0bffc` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-12-28 09:44] maxceem commented on #600
@sdgun this must be fixed now.

[2021-12-29 07:43] sdgun commented on #600
Verified, this issue is fixed in Dev

[2022-01-05 06:23] sdgun commented on #598
@maxceem When a new user(hasn't connected a calender) tries to schedule an interview, the pop up with calender connect option appears, we might need to remove that too?

Ex user - Tcconadmin

https://user-images.githubusercontent.com/4592712/148170017-91863e62-93cf-4c7e-aacb-d8f215fd1ad3.mp4

[2022-01-05 08:06] maxceem commented on #598
At the moment when the user first time schedules an interview, we are showing the choice

![image](https://user-images.githubusercontent.com/146016/148181712-258df41a-6c6d-449f-b0eb-59213e53370c.png)

- let's add a new constant `ALLOW_CONNECTING_CALENDAR=false` and not show this step if `ALLOW_CONNECTING_CALENDAR=false`
- also, let's uncomment all these places https://github.com/topcoder-platform/

[2022-01-05 08:08] yoution commented on #598
@maxceem please assign to me

[2022-01-05 10:47] maxceem commented on #598
@sdgun this is ready for QA.

[2022-01-05 14:40] sdgun commented on #598
Verified, isssue is fixed.

![image](https://user-images.githubusercontent.com/4592712/148235833-6db55d6c-d8ed-46e6-bddb-ab281ca8376a.png)

[2022-01-05 14:43] maxceem commented on #598
@yoution second part paid via https://www.topcoder.com/challenges/90304bea-1a96-4503-ba59-0e69befcc7a9

[2022-01-06 04:12] sdgun opened #602 "Error when scheduling interviews with new users"
**Steps**

- Created the new user 'taasintake900'(pw - appirio123)
- Log into Teams and created a new team
- Created a new job and applied to the job from gigs app from user taasintake 810 user
- From taasintake900 user tried to schedule the interview but got the below error

(This only happens for new user)

![image](https://user-images.githubusercontent.com/4592712/148327006-64700ba3-daa7-42a8-a

[2022-01-06 08:54] maxceem commented on #602
@sdgun this is fixed and ready for QA.

[2022-01-06 09:40] sdgun commented on #602
Verified in dev env, this issue is fixed.

https://user-images.githubusercontent.com/4592712/148362441-fb3da8fd-bea1-4536-8e9f-2f23ab1f8a58.mp4

[2022-01-13 06:12] maxceem commented on #586
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-01-13 06:13] maxceem commented on #586
Payment task has been updated: https://www.topcoder.com/challenges/5a1a53db-07c0-4b3b-a6a3-1d50a12c4e98
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `5a1a53db-07c0-4b3b-a6a3-1d50a12c4e98` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-18 06:27] sandhiyakavi opened #603 "[Dev Env] Job in rcrm is duplicated if the user make changes in the job"
Description:

Job in rcrm is duplicated if the user make changes in the job title/Salary range/hours per week etc.. The duplicated jobs are having different id's . The changes made in rcrm are not reflected in Taas app.

![image](https://user-images.githubusercontent.com/55895538/158948660-8b570013-03e6-4b45-b517-44e915ee2473.png)

![image](https://user-images.githubusercontent.com/55895538/158948

[2022-03-18 07:33] sandhiyakavi opened #604 "[Dev Env] Syncing from RCRM to Taas app fails"
Description:

Syncing from RCRM to Taas app fails in Dev Env . The below sync's are not happening now.
1. Job Edits in RCRM ( Title, Description, Application active flag, Min Salary, Max Salary, Currency, Rate type, Location,Duration,hours per week, timezone, featured, hotlist,job tag and hotlist excerpt)
2. Job Candidate assigned in RCRM
3. All Job candidate status change in RCRM.
4. Job Applicat

[2022-03-21 08:05] sandhiyakavi commented on #603
Issue is resolved. No duplicate jobs are created now in RCRM.

![image](https://user-images.githubusercontent.com/55895538/159223584-2d176a5f-5440-41c3-b3be-bcb2593d0454.png)

[2022-03-21 09:23] #603 closed

[2022-03-21 09:30] sandhiyakavi commented on #604
Reverified the issue.
Still some Status update is failing from RCRM to Taas.
Test Result in https://docs.google.com/spreadsheets/d/1k2ZJSQE5hwmLSpbln6DnT0Q7z5qvVvjD/edit#gid=1754014700

[2022-03-25 03:55] sandhiyakavi commented on #604
Issue is resolved.
Refer: https://docs.google.com/spreadsheets/d/1k2ZJSQE5hwmLSpbln6DnT0Q7z5qvVvjD/edit#gid=1754014700

[2022-03-25 03:55] #604 closed

[2022-04-05 03:02] sdgun commented on #598
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/161670624-d85dd986-5e6f-4543-9053-9145f9f3abd1.png)

[2022-04-05 03:02] #598 closed

[2022-04-05 03:03] sdgun commented on #526
Verified in production.

[2022-04-05 03:03] #526 closed

[2022-04-05 03:03] maxceem commented on #526
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-05 03:04] sdgun commented on #575
Unable to verify since cancel is not working in production, issue raised for that https://github.com/topcoder-platform/taas-apis/issues/690

[2022-04-05 03:05] sdgun commented on #518
Verifdied in production.

[2022-04-05 03:05] #518 closed

[2022-04-05 03:07] sdgun commented on #519
Removing the milestone since this feature was disabled in the current production release https://github.com/topcoder-platform/taas-app/issues/598

[2022-04-05 03:07] sdgun commented on #523
Verified in production.

[2022-04-05 03:07] #523 closed

[2022-04-05 03:10] sdgun commented on #549
Verified in production.

[2022-04-05 03:10] #549 closed

[2022-04-05 03:10] sdgun commented on #565
Removing the milestone since this feature was disabled in the current production release https://github.com/topcoder-platform/taas-app/issues/598

[2022-04-05 03:11] sdgun commented on #588
Removing the milestone since this feature was disabled in the current production release https://github.com/topcoder-platform/taas-app/issues/598

[2022-04-05 03:11] sdgun commented on #581
Removing the milestone since this feature was disabled in the current production release https://github.com/topcoder-platform/taas-app/issues/598

[2022-04-05 03:12] sdgun commented on #580
Removing the milestone since this feature was disabled in the current production release https://github.com/topcoder-platform/taas-app/issues/598