[2020-11-09 17:03] veshu opened #1 "Required skills"
In the UI, currently we are showing required skills and other skills. Remove that separation and just consider like all skills of jobs are required. Change the title to `Job Skills`

![image](https://user-images.githubusercontent.com/2202045/98572412-b2558d00-22dd-11eb-8d2e-3ef76dba86c0.png)

[2020-11-25 15:04] wdprice opened #5 "Team Creation & Connect Integration - v1.0"
Teams will be created in v1.0 through Topcoder Connect.

Workflow as follows:

1. Click New Project
2. Choose Talent as a Service
3. Complete the forms

3a. Forms to be updated to utilize skill list from v5/skills w/ skillProvider = Topcoder. This list should reflect the available skills list on member profiles.
3b. Essential fields documented in v5/job API.

4. Upon completion of intake form, but

[2020-11-25 15:20] wdprice opened #6 "My Teams Page - v1.0"
My Teams page is the default landing page when selecting the TaaS Experience from the App Selector in the MFE framework.

My Teams page will:
- List all Projects the user has access to see via v5/projects WHERE type = 'talent-as-a-service'
- Display summary information of the project (Detailed below)
- Display team profile pictures (if available)

Team Summary info:
1.  Start-End date - Displayed

[2020-11-25 15:28] wdprice opened #7 "Team Details Page (Top Bar) - v1.0"
![image](https://user-images.githubusercontent.com/6014049/100247044-e77df400-2f07-11eb-96b2-b60a84cd6810.png)

Summary information similar to the summary info from My Teams.

Weekly cost is the SUM of customerRate for all currently active resourceBookings associated to the project.

Overall Rating should be hidden in the v1.0 release.

Report an issue will open a mailto: with a Subject Line of: "

[2020-11-25 15:37] wdprice opened #8 "Team Details (Resource Bookings) - v1.0"
![image](https://user-images.githubusercontent.com/6014049/100248059-06c95100-2f09-11eb-852e-6d78235fd215.png)

Displays a list of all resourceBookings associated with the project.

Filter bar is out of scope in v1.0 and should not be displayed.

Handle & Name information come from v5/users via v5/resourceBooking

Job Title (Developer in screenshot) is the name of the job from v5/users, via v5/res

[2020-11-25 15:50] wdprice opened #9 "Team Details (Open Positions) - v1.0"
![image](https://user-images.githubusercontent.com/6014049/100249683-d682b200-2f0a-11eb-8110-1f5dd0d1221e.png)

List contains the jobs from v5/jobs that are associated to the project. Date / Rate are sourced from the job itself.

The status field will reflect the current state of jobCandidates:
- Sourcing: No jobCandidates currently assigned to job
- Candidates Available for Review: jobCandidates

[2020-11-25 16:08] wdprice opened #10 "Job Candidates View - v1.0"
![image](https://user-images.githubusercontent.com/6014049/100250880-2746da80-2f0c-11eb-921c-835ff6d06fe8.png)

Lists all jobCandidates associated to a particular job.

Skills list & match % comes from jobSkills and userSkills respectively.

Resume link should download the resume directly from RecruitCRM.

Interested in Candidate assigns them to a shortlist, and the appear on the Interested tab. N

[2020-11-25 16:14] wdprice opened #11 "RecruitCRM Integration - v1.0"
**Use Case 1:  Candidate tied to an open Job in Recruit CRM**

IF member DOES NOT exist in v5/users (matched using handle):
- Create the user in v5/users and associate to Topcoder organization.
- Continue steps below

- Create a record in jobCandidates on platform associating the member back to the job to which they have been assigned.

**Use Case 2: Candidate Rejected in RCRM**

IF member is reje

[2020-12-02 16:05] wdprice opened #12 "Jobs Edit UI"
Implement a UI for viewing & editing the details on a job from the Team Details page.

Must be able to view:
All fields except memberRate and system fields (createdBy, createdTime, externalID, etc.)

Must be able to edit:

Job Name
Job Description
Number of Openings
Job Skills

Only someone with access to the project can edit a a related job record, or TC admins.

[2020-12-02 16:07] maxceem commented on #12
Should we also be able to **create** new jobs from UI?

[2020-12-02 16:14] maxceem commented on #5
I would like to confirm this. In general, after project creation, we let users open the Project in **Connect App**. Should we make an exception here and open the project in **TaaS App**? (Now **Go to Project Dashboard** button opens the project in **Connect**)

![image](https://user-images.githubusercontent.com/146016/100899087-2264c680-34ca-11eb-84bf-b34440fe09c1.png)

[2020-12-02 17:26] maxceem commented on #9
@wdprice at the moment we don't have a place in API to keep the open position rate. Should we add a new field to the API?

![image](https://user-images.githubusercontent.com/146016/100908502-3ca3a200-34d4-11eb-99d7-aa7436c389cc.png)

[2020-12-02 17:34] wdprice commented on #5
That is correct. There is currently a ticket being worked on to update this link in the Connect repo.

Additionally there is a ticket to put a button on the Connect page if a project type = talent-as-a-service which will direct the user to taas-app.

[2020-12-02 17:36] wdprice commented on #12
Undecided at this time, but it won't be in until a later release if so, and we will add an additional ticket for it.

This feature is slated for a followup release and not for v1.0, so don't dedicate cycles here just yet.

[2020-12-02 17:47] maxceem commented on #5
Thanks, I missed this requirement in Connect task.

Just would refer to the corresponding issue in Connect here:
- Redirect to TaaS from the Project List https://github.com/appirio-tech/connect-app/issues/4195
- Create Jobs during when New Project is created https://github.com/appirio-tech/connect-app/issues/4130 (includes updating the link to the TaaS project)

[2020-12-03 08:38] maxceem opened #13 "[$100] Optimize production builds to reduce size"
Currently, production builds are not optimized:

![image](https://user-images.githubusercontent.com/146016/100984596-9a2b0380-3553-11eb-9415-508682aa54bd.png)

We should configure webpack in such a way that `npm run build` create a minified file. Note, that this application is configured to be a microapp inside a Single SPA application, so it cannot be run as a standalone application. And it has a

[2020-12-03 15:39] wdprice opened #14 "Project Access Management Controls"
Need to implement a solution for managing access to a project (team) within taas-app.

Option 1 (low effort) - add a link to Connect to perform team management functions inside Connect.

Option 2 (higher effort) - Update TaaS App Team Details page with controls to add users to the team, similar to Connect project control. TaaS app would only implement "topcoder" and "team" - topcoder members on a

[2020-12-04 08:30] maxceem commented on #6
@wdprice at the moment this page doesn't have a pagination

1. As admin users would have access to all the TaaS projects (teams), there could be quite a long list of Teams. Should we implement pagination for the first release? Also, Project API at the moment has the limitation and returns maximum 20 projects per request, though we can relax this limitation if needed, but I guess we don't wanna lis

[2020-12-04 09:26] maxceem commented on #9
@wdprice another thought on this. Who would be setting the rate for the jobs? customers or Topcoder managers?

If it would be the customers, we might also need to add a field for the rate in the TaaS intake form in Connect:

![image](https://user-images.githubusercontent.com/146016/101146100-4982db80-3623-11eb-9ebb-4abf55e2a96d.png)

[2020-12-07 08:06] maxceem opened #16 "[$60] Automatically get token during API requests using Axios"
At the moment for each request which requires user token we are repeating code for getting a token, see

![image](https://user-images.githubusercontent.com/146016/101324959-aaa0ee00-3873-11eb-8656-c7635cb511c4.png)

Instead of repeating the same code we have create an Axios Instance with interceptor which would automatically get the token like this https://github.com/appirio-tech/connect-app/blob/

[2020-12-07 15:54] wdprice opened #17 "Time Remaining on My Teams page language update required"
In the scenario that there are no resourceBookings on a team yet, the Time Remaining should read "TBD"

![image](https://user-images.githubusercontent.com/6014049/101373066-898fcb80-387a-11eb-87db-8253dc4ad1ed.png)

[2020-12-07 15:55] wdprice opened #18 "Hide Overall Team Rating on My Teams page"
Overall rating UI element should not be displayed on the My Teams page during the version 1.0 release

![image](https://user-images.githubusercontent.com/6014049/101373163-a62c0380-387a-11eb-995c-a411f0dd831f.png)

[2020-12-07 16:29] wdprice opened #19 "Report an Issue Interface"
Implement a modal (or equivalent) to appear when the user clicks on the "Report an Issue" button on the MyTeams page. Same Modal should be used when a user clicks the "Report an Issue" in the actions menu on a particular resource.

Model should include a Subject Line(non-editable) and Body labeled as "Describe your issue" (editable).

Subject Line (Team level): Issue Report - TEAM NAME
Subject Lin

[2020-12-08 15:38] wdprice opened #20 "Remove unused navigation options from Nav Sidebar"
Only navigation option in the v1.0 sidebar should be "My Teams"

Remove the options highlighted in the image
![image](https://user-images.githubusercontent.com/6014049/101504643-73007780-3941-11eb-95ff-5c8d8b5867fb.png)

[2020-12-08 19:32] maxceem commented on #20
Also:

![image](https://user-images.githubusercontent.com/146016/101532099-b6d49a80-399c-11eb-9e01-c595394ccb33.png)

and:

![image](https://user-images.githubusercontent.com/146016/101532159-cce25b00-399c-11eb-9ac7-2e263776daac.png)

[2020-12-08 19:38] maxceem commented on #20
Done via https://github.com/topcoder-platform/micro-frontends-navbar-app/pull/8

[2020-12-08 19:55] maxceem commented on #18
Done via 143c312e88367a7a85c04369b9703602b1c599ef

[2020-12-08 20:05] maxceem commented on #17
Done via 4615fc9c9310e7641a932913d1cf7e8c85352c81

[2020-12-08 20:13] maxceem opened #21 "Show user photo from TaaS API instead of using V3 API"
Because we use user ids from users V5 API, we cannot use V3 API for getting users photos, as ids are different.

- So we have to use `photo_url` returned by TaaS API
- Remove code to load Photo URL from V3 API

[2020-12-08 20:17] maxceem commented on #21
Done via

Teams List

![image](https://user-images.githubusercontent.com/146016/101536449-afb08b00-39a2-11eb-996b-be522225b274.png)

Team Details

![image](https://user-images.githubusercontent.com/146016/101536572-dcfd3900-39a2-11eb-9a7c-7f98c8066c05.png)

Position

![image](https://user-images.githubusercontent.com/146016/101536838-37969500-39a3-11eb-94bf-df04325c2df8.png)

[2020-12-08 20:45] wdprice opened #22 "ResourceBooking Customer rate not updating in UI"
The UI is displaying a $0 for customer rate
![image](https://user-images.githubusercontent.com/6014049/101539267-43b33000-396c-11eb-8d42-766bd5f05313.png)

When referenced in the taas-teams API, however, there is a value in customerRate:
![image](https://user-images.githubusercontent.com/6014049/101539336-604f6800-396c-11eb-8a12-48eac03826d7.png)

[2020-12-08 20:51] wdprice opened #23 "string "0" appended to skill strings"
Whenever a list of skills does NOT have enough skills to create the "and x more" link, there is a "0" appended to the end of the last skill:

![image](https://user-images.githubusercontent.com/6014049/101539925-43fffb00-396d-11eb-8968-0fcf33807ae2.png)

[2020-12-08 21:01] maxceem opened #24 "Show job title for resources"
![image](https://user-images.githubusercontent.com/146016/101540857-4a13cd00-39a9-11eb-92b3-f6b848f3fb03.png)

[2020-12-08 21:03] maxceem commented on #24
Done via c8ce24b5a89901c54796747cd00e7077713640e7

[2020-12-08 21:03] maxceem commented on #22
Done via https://github.com/topcoder-platform/taas-app/commit/9c2d2b533dc2259bcbf8a19173e393f2408fb5fe

[2020-12-08 21:19] maxceem commented on #23
Done by e2c5604cd8c6b2e9a50e1a0b417b0382c7c451bf

[2020-12-14 10:47] maxceem commented on #1
This is done via the challenge https://www.topcoder.com/challenges/30154890/?type=develop, so I'm closing this.

[2020-12-14 10:47] #1 closed

[2020-12-14 11:52] maxceem opened #25 "Update candidates status"
1.  Implement functionality for "Yes"/"No" buttons for candidates.
    - Clicking any of the buttons should disable them, and send a request to the server to update the candidate status: `PATHC {{TOPCODER_API_V5}}/jobCandidates/{{jobCandidateId}}` with body `{ "status": "..." }`.
    - "Yes" should update status to "shortlist", "No" - to "rejected"
    - If the request is successful, the candidate

[2020-12-14 12:20] maxceem opened #26 "Team menu on the Team List"
We have a dropdown menu for team on the team list. Which options should we leave for the first release?

![image](https://user-images.githubusercontent.com/146016/102080643-7c915000-3e17-11eb-81b5-95f910c242a6.png)

[2020-12-14 12:21] maxceem commented on #26
@wdprice could you please help me here?

[2020-12-15 17:23] maxceem commented on #26
Should we hide the "Request an Extension" option for the first release?

![image](https://user-images.githubusercontent.com/146016/102249378-fa825380-3f0a-11eb-88a4-19dcd202ffea.png)

[2020-12-15 17:54] wdprice commented on #26
No, continue having it do a "Mailto" customersuccess@topcoder.com

On Tue, Dec 15, 2020 at 12:23 PM maxceem <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

William Price

Developer Experience & TAAS

781-405-0598 |  @will_price <https://twitter.com/will_price>  | LinkedIn
<https://www.linkedin.com/in/william-price-21478010/>

www.topcoder.com  | @topcoder <http://twitter.com/to

[2020-12-16 12:30] maxceem opened #32 "Small improvements"
- [x] hide job cost
- [x] hide team weekly cost if 0
- [x] hide cost for resources if 0
- [x] remove mock server

[2020-12-16 12:32] maxceem commented on #32
Done via https://github.com/topcoder-platform/taas-app/commit/06df9d173288531b9081d434cb2bfd41e24f98b1, https://github.com/topcoder-platform/taas-app/commit/9681d6176c383f603f43de2a6da533f17e7952ef, https://github.com/topcoder-platform/taas-app/commit/c6029e3f81d9e0a94318e009e4083b6fd31487ba, https://github.com/topcoder-platform/taas-app/commit/7874305911c0f29bf243e11229d7b85e2fbd0c57

[2020-12-16 17:06] maxceem commented on #25
Contest https://www.topcoder.com/challenges/30158524 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-16 17:12] maxceem commented on #26
Thanks, @wdprice.

And what about the menu which we are showing for teams on the list? There are many options without actions for now. Should we only keep "Report an Issue" and hide all others?

![image](https://user-images.githubusercontent.com/146016/102381900-76939e80-3fd2-11eb-983d-cd8e1eab0795.png)

[2020-12-16 18:13] wdprice commented on #26
Great catch. Go ahead and remove all options aside from "Report an Issue"

On Wed, Dec 16, 2020 at 12:12 PM maxceem <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

William Price

Developer Experience & TAAS

781-405-0598 |  @will_price <https://twitter.com/will_price>  | LinkedIn
<https://www.linkedin.com/in/william-price-21478010/>

www.topcoder.com  | @topcoder <http://twitte

[2020-12-16 20:32] maxceem commented on #25
Contest https://www.topcoder.com/challenges/30158524 has been updated - maxceem has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 12:04] maxceem commented on #25
Done via 848668bc3c9e7a1acb2749c9c2749c565a217105. See demo video of the functionality https://monosnap.com/file/jl9Y66O87SNM88CUvTgw8gz28ErVGF

- Added and configured Redux Store
- Added and configured `toastr`, see how the popup looks like in the bottom left corner

![image](https://user-images.githubusercontent.com/146016/102485706-a5f8e880-4070-11eb-8331-c9e54f858a7e.png)

[2020-12-17 12:13] maxceem commented on #26
Done via 0a9cda2dedf55c525371b96dcf97fc9a737015b9

[2020-12-21 07:03] SathyaJayabal opened #33 "Skill Match % Calculation"
Skill Matched % should be percentage of a users skills that match the assigned jobs skills.

Example:
Job id: `d226c1d1-b38f-4ed8-82e7-36f1140f8ffe`
Job skills is
`2D Computer Graphics, 3D Projection, Java`
User Skills is:
`Java`

Expected : Skill Match %  should be 33.3 % (1 out of 3 skills)
Actual : Skill Match % is 1%

<img width="1440" alt="Screenshot 2020-12-21 at 12 32 02 PM" src="https://us

[2020-12-21 07:13] SathyaJayabal commented on #7
@wdprice , the subject line for Report an issue at present is
TaaS Issue: PROJECT NAME

Is this ok?

[2020-12-21 07:37] SathyaJayabal commented on #8
@wdprice , filter bar is not removed yet. Do we need to remove it? It works partially now (does not work for filter by roles etc)

cc @maxceem

[2020-12-21 09:34] SathyaJayabal commented on #26
verified
<img width="1440" alt="Screenshot 2020-12-21 at 1 40 16 PM" src="https://user-images.githubusercontent.com/58783823/102762116-d5279680-439d-11eb-9032-28414f08098c.png">

[2020-12-21 09:49] SathyaJayabal commented on #9
@wdprice, any updates on the rate associated with the job ?

How does the logic work here? A job has a rate for  example $500, does that mean that the weekly pay for one position is $500?

Each resource booking has a member rate and customer rate. Is the above rate that is considered as customer rate in the resource booking and what will be paid to the member?

[2020-12-21 09:55] SathyaJayabal commented on #21
verified on dev

[2020-12-21 10:07] maxceem commented on #5
This can be tested on DEV using TEST01 environment of Connect App https://connect-test01.topcoder-dev.com/new-project/talent-as-a-service

[2020-12-21 10:09] maxceem commented on #6
@wdprice so far BookingManagers can see maximum 20 teams, should we implement agitation as per described in the previous comment? https://github.com/topcoder-platform/taas-app/issues/6#issuecomment-738642639

[2020-12-21 10:13] maxceem opened #34 "Fix filtering by "role" and full name"
![image](https://user-images.githubusercontent.com/146016/102765876-ebc1f380-4385-11eb-9165-4b610515b113.png)

[2020-12-21 10:13] maxceem commented on #8
@SathyaJayabal I believe we can keep it, and just fix filtering by "role".

I would track filtering by "role" with a separate issue https://github.com/topcoder-platform/taas-app/issues/34

[2020-12-21 10:16] maxceem commented on #9
For the first release, we hide the job position rate as per https://github.com/topcoder-platform/taas-app/issues/32. It was discussed during the call.

[2020-12-21 10:48] sandhiyakavi commented on #25
Verified.Working as expected.

https://user-images.githubusercontent.com/55895538/102769095-8261d500-43c5-11eb-96ec-61c4b38a1fc0.mp4

[2020-12-21 10:54] SathyaJayabal commented on #23
verified
<img width="1440" alt="Screenshot 2020-12-21 at 4 23 55 PM" src="https://user-images.githubusercontent.com/58783823/102769640-f477f100-43a8-11eb-972a-5ba55c459fa5.png">

[2020-12-21 10:55] sandhiyakavi commented on #24
Verified.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/102769739-6b6fb280-43c6-11eb-9b77-7d2348f0a009.png)

[2020-12-21 10:55] SathyaJayabal commented on #18
verified
<img width="1440" alt="Screenshot 2020-12-21 at 4 25 13 PM" src="https://user-images.githubusercontent.com/58783823/102769789-27ba8000-43a9-11eb-8dfc-a71b01afaf1c.png">
<img width="1440" alt="Screenshot 2020-12-21 at 4 25 23 PM" src="https://user-images.githubusercontent.com/58783823/102769809-2c7f3400-43a9-11eb-8b48-906aa36ca4cc.png">

[2020-12-21 11:06] SathyaJayabal commented on #17
verified
<img width="1440" alt="Screenshot 2020-12-21 at 4 35 48 PM" src="https://user-images.githubusercontent.com/58783823/102770715-9a782b00-43aa-11eb-8ca2-2fe29ec07210.png">

[2020-12-21 11:10] SathyaJayabal commented on #8
Sure @maxceem , there were few more issues on the filter, we will update #34

[2020-12-21 11:38] sandhiyakavi commented on #34
@maxceem Also filtering by name is not working if there is firstname and lastname for the candidate (there is space in between).
Works only for firstname.

https://user-images.githubusercontent.com/55895538/102773282-5433c380-43cc-11eb-8e63-2cc263b6ddc6.mp4

[2020-12-21 11:44] sandhiyakavi commented on #20
Verified. Working as expected.

https://user-images.githubusercontent.com/55895538/102773875-4894cc80-43cd-11eb-8bbd-95bf1a0602e0.mp4

[2020-12-21 11:47] sandhiyakavi commented on #22
Verified.

![image](https://user-images.githubusercontent.com/55895538/102774124-b5a86200-43cd-11eb-9c5d-f5774ac7b51a.png)

[2020-12-21 13:57] SathyaJayabal commented on #32
@maxceem , what is the 4th point `remove mock server` ?

[2020-12-21 14:00] maxceem commented on #32
Before using real API we have some demo data inside this repository, so I've removed it. This cannot be seen from the outside here I just remove the code https://github.com/topcoder-platform/taas-app/commit/06df9d173288531b9081d434cb2bfd41e24f98b1

[2020-12-21 20:26] wdprice commented on #8
Confirmed - originally was listed out of scope but the team went above and beyond and get more done than expected.

[2020-12-21 20:27] wdprice commented on #8
Just update the help text to reflect the capabilities.

[2020-12-21 20:28] wdprice commented on #9
Confirming what Max noted above. This is something we'll solve for in a future release.

[2020-12-21 20:29] wdprice commented on #6
I think pagination would be great if it can be done quickly.

In a future release we'll need a better way to handle larger lists, but for now pagination will do.

[2020-12-21 20:30] wdprice commented on #7
This is acceptable @SathyaJayabal

[2020-12-22 04:56] SathyaJayabal commented on #5
@maxceem , there are no skills listed in the TEST01 connect environment, while creating a taas project and defining talent requirements
<img width="1440" alt="Screenshot 2020-12-22 at 10 25 21 AM" src="https://user-images.githubusercontent.com/58783823/102850737-1d979080-4440-11eb-8f98-3acf17990830.png">

[2020-12-22 06:20] SathyaJayabal commented on #10
@maxceem , the `Download Resume` link will be available only after RCRM integration, Am I right?

[2020-12-22 06:27] SathyaJayabal commented on #9
@maxceem , for jobs which have candidates ready for review, the `Select Candidates` button is not available unless the job status is updated to `in-review`. When does the job status get updated to in-review during the actual flow? When a candidate applies to the job from RCRM, a jobCandidate record will be created on the platform for that job. Will the job status be updated then?

[2020-12-22 07:13] SathyaJayabal commented on #9
@maxceem , also the automatic updation of the job status when the job positions are filled is not happening. When the resource bookings are created for a job and NUB of resource bookings >- number of open positions for the job the job status must be updated to "filled".

[2020-12-22 07:23] sandhiyakavi commented on #10
The Skill match % calculation is incorrect ,already raised issue https://github.com/topcoder-platform/taas-app/issues/33

Others are working fine.

https://user-images.githubusercontent.com/55895538/102860842-f063d600-4471-11eb-9ade-404caa2ff492.mp4

[2020-12-22 07:23] SathyaJayabal commented on #9
@wdprice, just a suggestion, it will be good to display the number of open positions available for the job. This will help the user to decide how many candidates to mark as interested.
<img width="1440" alt="Screenshot 2020-12-22 at 12 50 23 PM" src="https://user-images.githubusercontent.com/58783823/102860777-7c670500-4454-11eb-937d-80a4863f8e16.png">

<img width="1087" alt="Screenshot 2020-12-22

[2020-12-22 07:37] SathyaJayabal commented on #5
@maxceem , the following functionality verified and works fine
Teams will be created in v1.0 through Topcoder Connect. After Taas project creation. link is displayed to Taas team
Jobs created (job description, job duration and status) are carried over
On accessing the Taas Project from connect, button with link to Taas team is displayed

Project is created in v5/projects, jobs are added via v5/job

[2020-12-22 07:41] sandhiyakavi commented on #7
Verified.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/102862478-81d44780-4474-11eb-9abc-c2dc61126a50.png)

[2020-12-22 10:03] maxceem commented on #5
At the moment only `ubahn` / `bookingmanager` users can retrieve skills form v5. We have a ticket to create a new endpoint to return skills for any user https://github.com/topcoder-platform/taas-apis/issues/64.
So you may test it now with some `bookingmanager` for now.

I guess it's not ready yet. We have a separate issue to track it https://github.com/topcoder-platform/taas-app/issues/11

[2020-12-22 14:20] wdprice commented on #9
Good suggestion, we can move that to a future release.

[2020-12-22 14:22] wdprice opened #35 "[$15] Include count of open jobs in jobs list"
Include a county of the num of openings and how many have been filled within the job list UI:

![image](https://user-images.githubusercontent.com/6014049/102898201-26379900-4437-11eb-8e1b-8e9cae7ba9f8.png)

[2020-12-22 14:22] wdprice commented on #35
FYI @SathyaJayabal - logged this for a future release.

[2020-12-23 05:06] SathyaJayabal commented on #32
verified
<img width="1440" alt="Screenshot 2020-12-23 at 10 34 06 AM" src="https://user-images.githubusercontent.com/58783823/102961557-982ce280-450a-11eb-8de0-dfcb796dec14.png">

[2020-12-23 05:16] SathyaJayabal commented on #11
@wdprice, we should also include creation of jobs in RCRM once the a Taas project is created in connect
Step 5 in the below description
https://github.com/topcoder-platform/taas-app/issues/5#issue-750894805

[2020-12-23 07:16] SathyaJayabal commented on #5
@maxceem @wdprice , the job start date and end date is calculated from the job creation date (taas project creation date) and duration of the job. reference point 2 below
https://github.com/appirio-tech/connect-app/issues/4130#issuecomment-736336081

[2020-12-23 07:28] SathyaJayabal commented on #5
Verified skills selection for jobs/talent req using ubahn user
<img width="1440" alt="Screenshot 2020-12-23 at 12 55 24 PM" src="https://user-images.githubusercontent.com/58783823/102970823-3b3b2780-451e-11eb-99b5-479378aa4c5a.png">

[2020-12-23 09:33] sandhiyakavi commented on #8
Verified. Working as expected.

[2020-12-23 14:10] wdprice commented on #11
I think that can logically live in either ticket.

Let me know your preference on tracking this requirement @SathyaJayabal

[2020-12-23 14:54] SathyaJayabal commented on #11
@wdprice , I think it will be better to track it here as everything else is complete on the other ticket.

[2020-12-23 15:46] wdprice commented on #11
@SathyaJayabal updated the ticket

[2020-12-25 14:54] maxceem opened #36 "[$50] Logic for skills showing"
Initially, we had functionality for showing the required skills in popup by 2 columns with checkmarks and crosses. But as per https://github.com/topcoder-platform/taas-app/issues/1 it was removed.

![image](https://user-images.githubusercontent.com/146016/103137290-48981380-46d0-11eb-884c-8a3c929338fe.png)

It feels that we actually need this to show skills for resources and for job candidates.

#

[2020-12-25 15:21] maxceem commented on #33
Fixed via 3aa1bf4d565a16b5007125179743b49a326e226d

![image](https://user-images.githubusercontent.com/146016/103137853-759af500-46d5-11eb-8afa-fa73968c7eb3.png)

As part of this task, we don't use `skillMatched` which is generated by the server, and calculate client-side using the list of job and user skills. So now we can remove it from the server https://github.com/topcoder-platform/taas-apis/i

[2020-12-25 15:29] maxceem commented on #34
Fixed by 2f87b4182fddacd5748e77da1281bf7d41de55a9

![image](https://user-images.githubusercontent.com/146016/103137999-ab8ca900-46d6-11eb-8068-dc1edff20fcb.png)

![image](https://user-images.githubusercontent.com/146016/103138003-b6473e00-46d6-11eb-8fd9-d12aec7e3e0f.png)

[2020-12-25 15:30] maxceem commented on #10
@SathyaJayabal can we treat this as passed review on DEV? as we are tracking skills matching issue separately?

[2020-12-25 15:44] maxceem opened #37 "[$60] Pagination for My Teams Page (list of teams)"
Implement pagination and filter field for My Teams page:

![image](https://user-images.githubusercontent.com/146016/103138130-1985a000-46d8-11eb-8238-c59f763cbf6e.png)

Bellow add pagination like we have on other pages:

![image](https://user-images.githubusercontent.com/146016/103138151-4b970200-46d8-11eb-8a98-811bca38070e.png)

- it would on gray background on My Teams Page
- don't show "Show Mo

[2020-12-25 15:45] maxceem commented on #37
Contest https://www.topcoder.com/challenges/30160317 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-25 15:47] maxceem commented on #13
Contest https://www.topcoder.com/challenges/30160318 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-28 03:59] sandhiyakavi commented on #33
Verified. working as expected.

![image](https://user-images.githubusercontent.com/55895538/103188516-0f4be780-490c-11eb-8ce3-eda38795901a.png)

[2020-12-28 04:16] sandhiyakavi commented on #34
Verified.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/103188746-07407780-490d-11eb-9ebb-035d759d45a5.png)
![image](https://user-images.githubusercontent.com/55895538/103189168-bd589100-490e-11eb-8f57-9cfc06fec68f.png)

[2020-12-28 05:54] SathyaJayabal opened #38 "Hide Yes No buttons for Candidates list for user without access to update candidate status"
In cases where the user has only read permissions on the candidate, we must hide the `Yes` and `No`
 buttons  that update the candidate status
Example: Connect manager https://github.com/topcoder-platform/taas-apis/issues/72
<img width="1440" alt="Screenshot 2020-12-28 at 10 54 57 AM" src="https://user-images.githubusercontent.com/58783823/103192574-2afcc100-48ff-11eb-88bf-a06340f2b28d.png">
cc @m

[2020-12-30 10:23] yoution commented on #37
@maxceem  please assign to me

[2020-12-30 10:23] yoution commented on #16
@maxceem  please assign to me

[2020-12-30 10:23] yoution commented on #13
@maxceem  please assign to me

[2020-12-30 10:42] maxceem commented on #13
Contest https://www.topcoder.com/challenges/30160318 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-30 10:43] maxceem commented on #37
Contest https://www.topcoder.com/challenges/30160317 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-30 10:43] maxceem commented on #16
Contest https://www.topcoder.com/challenges/30160901 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-30 10:43] maxceem commented on #16
Contest https://www.topcoder.com/challenges/30160901 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:44] SathyaJayabal commented on #9
@maxceem , this is ready for qa?

[2021-01-04 13:47] maxceem commented on #9
Not yet, there are some API pending tasks not yet done.

[2021-01-04 14:21] wdprice commented on #36
Good idea @maxceem.

What is the LOE? I'm leaning towards pushing this to a future release.

[2021-01-04 14:35] maxceem commented on #36
I would target it the initial release as from API we have everything ready, and only have to update UI.

[2021-01-04 14:35] maxceem commented on #36
Contest https://www.topcoder.com/challenges/30161161 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 14:36] maxceem commented on #36
@yoution you may pick up this after Connect tasks, this can wait.

[2021-01-05 01:05] yoution commented on #36
@maxceem please assign to me

[2021-01-05 06:34] yoution commented on #36
@maxceem  please review

[2021-01-05 11:10] maxceem commented on #36
Contest https://www.topcoder.com/challenges/30161161 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 20:51] maxceem commented on #13
@yoution nice catch with `APPMODE` I haven't noticed that this have been already implemented. We don't need to add a new command `"build:prod": "webpack --mode=${APPMODE:-production} --env.config=${APPENV:-prod}",` as we just set environemtn variable `APPMODE` before running `npm run build` to `production` and it works.

Meanwhile, we should still minify CSS classnames:

![image](https://user-imag

[2021-01-05 20:55] maxceem commented on #13
Please, work on this issue as the last one, this has small priority and other issues are more important.

[2021-01-06 08:03] maxceem commented on #36
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 08:38] maxceem opened #42 "Update My Teams and Team List page to use `userId` from `resources`"
We are going to make a change in API https://github.com/topcoder-platform/taas-apis/issues/93.

- After this we would have to update UI to use `member.id` from `userId` to show users (if necessary).
- At the same time, as a `key` in React components, we have to use `resource.id` when showing a list of resources. We cannot use `userId` because the same user can be assigned multiple times as a resou

[2021-01-06 20:22] maxceem commented on #42
This is doesn't need a fix from the client-side. After fixing it the server-side https://github.com/topcoder-platform/taas-apis/issues/93 it works good now.

[2021-01-06 20:22] #42 closed

[2021-01-06 22:04] maxceem commented on #16
This is an internal refactoring which doesn't require QA.

[2021-01-06 22:04] #16 closed

[2021-01-06 22:05] maxceem commented on #16
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160901<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 22:09] maxceem commented on #36
QA hints:
- teams with some required skills https://platform.topcoder-dev.com/taas/myteams/16805
- job with some required skills https://platform.topcoder-dev.com/taas/myteams/16786/positions/c1f3e159-729e-4eae-a9db-4f445a37e968

[2021-01-07 03:45] SathyaJayabal commented on #5
requires re testing  after https://github.com/appirio-tech/connect-app/issues/4206 updates

[2021-01-07 04:21] sandhiyakavi commented on #37
@maxceem @yoution Filter by Team is not taking space into consideration.

![image](https://user-images.githubusercontent.com/55895538/103850631-1aacc900-50eb-11eb-8127-2e5890cf2151.png)

Other functionalities are working fine.

[2021-01-07 04:34] SathyaJayabal commented on #36
@maxceem ,
1. The skill match popup is displayed only when the  number of skills are more and we have a more link. We should have the popup show up on mouse over the "% skill matched" text, so its available for all cases. This is because now the popup is not just a list of extra skills that you cant show on the page and has extra  information.
<img width="1440" alt="Screenshot 2021-01-07 at 9 59 0

[2021-01-07 05:02] sandhiyakavi opened #44 "[$70] Error message for My Teams if user not logged in"
Description:

Error message "Error: Request failed with status code: 401" is displayed in My Teams page if user not logged in. Proper Error message should be displayed.

![image (17)](https://user-images.githubusercontent.com/55895538/103853174-cefd1e00-50f0-11eb-9a94-44516cb98b22.png)

[2021-01-07 06:17] SathyaJayabal commented on #9
@maxceem , verified, works as expected. But we need to test automatic updates to the job status as and when candidates are assigned and selected etc. We can do this after RCRM integration.

[2021-01-07 08:43] maxceem commented on #37
@sandhiyakavi could we please log this as a separate issue?

The thing is that for filtering we use Projects API: `https://api.topcoder-dev.com/v5/taas-teams?page=1&perPage=20&name=*taas%20project%20saar*` so the Project API mess around with spaces in requests and TaaS App UI just show all the teams which Projects API returns. We can investigate this issue for the next release, as filtering even w

[2021-01-07 08:48] maxceem commented on #36
@SathyaJayabal to keep the current issue scope as it is, can we handle 2 new requirements as a separate issue? Regarding 1, we have such design form the beginning see marvel https://marvelapp.com/prototype/921gg0f/screen/73987508/handoff and it was only required to show it on `more` even though there were checkmarks. So what you are suggesting is good enhancement for this feature.

And regarding 2

[2021-01-07 10:56] SathyaJayabal commented on #36
Sure @maxceem , please create a new issue in case you want to add 1. for future release.

[2021-01-07 11:05] maxceem opened #45 "[$50] Skills Popup Improvements"
Follow up from: https://github.com/topcoder-platform/taas-app/issues/36

example: more link on the below page
https://platform.topcoder-dev.com/taas/myteams/16786/positions/c1f3e159-729e-4eae-a9db-4f445a37e968

Sum up:
- I don't know a good way to fix this. Please suggest.

[2021-01-07 11:05] maxceem commented on #36
Created a follow-up issue https://github.com/topcoder-platform/taas-app/issues/45

[2021-01-07 11:06] maxceem commented on #36
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161161<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 12:56] SathyaJayabal commented on #10
@maxceem , how about the download resume link implementation?  This is still pending.

[2021-01-07 13:11] maxceem commented on #10
I remember Will asked us to remove Resume link for now. @wdprice, could you please confirm, that we remove the resume link for now?

[2021-01-07 14:35] wdprice commented on #10
I don't recall requesting that. I'd ideally like to have the link displayed, and have it get the Resume attached to the RCRM profile.

@nkumar-topcoder @maxceem - when adding jobCandidate externalId, lets also add a field to track the resume link. We can try to populate that w/ info during the Zap integration.

[2021-01-07 14:39] wdprice commented on #10
@nkumar-topcoder @maxceem

The resume URL is returned in the RCRM API:
![image](https://user-images.githubusercontent.com/6014049/103905164-3fde0f00-50cc-11eb-8614-89f867c984d4.png)

I also confirmed it is included in the jobCandidate Zapier integration.

[2021-01-07 22:12] maxceem commented on #44
Task:
- If the user is not logged-in and tries to access any page inside TaaS App we have to redirect the user to the login page.
- To redirect user to login page we have to reuse a method `login()`:
[code]
- To detect if user is logged-in or no, we have to use method `getAuthUserTokens`
[code]
- If promise returns `tokenV3` then user logged-in, we should not do anything and just show page
- If th

[2021-01-07 22:17] maxceem commented on #44
Contest https://www.topcoder.com/challenges/30161555 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 22:17] maxceem commented on #44
@yoution this is open for pick up now.

[2021-01-07 22:19] maxceem commented on #38
Let's keep this for the next release. At the moment we don't have a way to detect if the user has write permissions, only read permission client-side. I guess there would not be much harm if Connect Managers would see errors if they try to click these buttons as server would not let them update JobCandidates.

The best time to implement this is together with https://github.com/topcoder-platform/ta

[2021-01-07 22:23] maxceem commented on #6
@SathyaJayabal This is ready for QA.
Pagination is handled via separate issue https://github.com/topcoder-platform/taas-app/issues/37.

[2021-01-08 00:30] yoution commented on #44
@maxceem please assign to me

[2021-01-08 03:34] sandhiyakavi opened #46 "Filter by Team, not taking space into consideration"
Refer https://github.com/topcoder-platform/taas-app/issues/37#issuecomment-755873866

[2021-01-08 03:35] sandhiyakavi commented on #37
Other than the filter issue, other functionalities are working fine.

[2021-01-08 04:40] SathyaJayabal commented on #6
My Teams page works as expected.

[2021-01-08 11:06] maxceem commented on #36
Opening for testing Topcoder X behavior.

[2021-01-08 11:06] maxceem commented on #36
Closing for testing Topcoder X behavior.

[2021-01-08 11:06] #36 closed

[2021-01-08 15:00] maxceem commented on #44
Contest https://www.topcoder.com/challenges/30161555 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-08 15:02] #37 closed

[2021-01-08 15:02] maxceem commented on #37
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160317<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-10 09:23] maxceem commented on #44
@yoution during more testing I found one edge case in the current logic.

1. Imagine we have some page that doesn't require authentication

[2021-01-10 09:23] maxceem commented on #44
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-10 09:56] maxceem commented on #44
@yoution I found one edge case.

1. Imagin that Teams List page doesn't have authentication:

   ![image](https://user-images.githubusercontent.com/146016/104119167-6d2df580-5336-11eb-8309-8438b8c3e48a.png)

2. And let's say, authentication takes 10 seconds, so I patch method `getAuthUserTokens` to simulate delay:
[code]

3. Now I'm trying to open a page of some team like http://localhost:8080/taa

[2021-01-10 11:54] maxceem commented on #44
@sandhiyakavi this is ready for QA. But instead of showing error we've implemented the next logic, which is similar to other Topcoder apps:
- If the user is not logged-in and tries to access any page inside TaaS App we have to redirect the user to the login page.

[2021-01-11 04:52] sandhiyakavi commented on #44
@maxceem If we enter https://platform.topcoder-dev.com/taas , it is not directing to auth0 login page instead its displaying below page

![image (18)](https://user-images.githubusercontent.com/55895538/104148066-1ac30680-5414-11eb-9d0c-b5a154124768.png)

For other below URLs its directing to login page,
https://platform.topcoder-dev.com/taas/myteams
https://platform.topcoder-dev.com/taas/myteams/1

[2021-01-11 08:26] maxceem commented on #44
@sandhiyakavi at the moment TaaS App doesn't support such a page as https://platform.topcoder-dev.com/taas. And we don't have any link which leads to this page. What would you expect to see on this page?

[2021-01-11 08:48] maxceem commented on #10
@SathyaJayabal resume link is now shown for Job Candidates. See example Job http://localhost:8080/taas/myteams/16870/positions/9eaa6f3f-36f9-4e99-9902-274bfa6f5db8.

[2021-01-11 08:49] maxceem commented on #44
@sandhiyakavi actually on the second thought, I've implemented redirect from `https://platform.topcoder-dev.com/taas` to `https://platform.topcoder-dev.com/taas/myeams`. So if someone accidentally types that URL they would be redirected to the Teams List. Could you please have a look if it works good for you.

[2021-01-11 09:16] sandhiyakavi commented on #44
@maxceem Verified. Page is getting redirected to Teams List.

https://user-images.githubusercontent.com/55895538/104162975-ef9ede00-5438-11eb-94b6-1929ea726cc1.mp4

[2021-01-11 09:17] maxceem commented on #44
Thank you @sandhiyakavi.

[2021-01-11 09:17] #44 closed

[2021-01-11 09:17] maxceem commented on #44
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161555<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-12 22:32] maxceem opened #51 "Add link to the Connect Project"
On the request of Will on the Slack:

On each Team Details page, add a link "Open in Connect" which would open the same project in Connect App. At any of two places where arrows are pointing.

![image](https://user-images.githubusercontent.com/146016/104381903-e34c7b00-5535-11eb-9720-de5d43211c3d.png)

Add the same link to the project card menu on the My Teams page:

![image](https://user-images.g

[2021-01-12 22:35] maxceem commented on #51
Done via 5d8fa560c174351556bad13280edef0bcb4e9634

![image](https://user-images.githubusercontent.com/146016/104382521-e8f69080-5536-11eb-8405-f4605842e683.png)

![image](https://user-images.githubusercontent.com/146016/104382541-f01d9e80-5536-11eb-9491-ce9c4a59c6ee.png)

[2021-01-13 04:53] SathyaJayabal commented on #11
1. Job Description field  provided in connect is used as Job  title in RCRM
2. The below status updates through Zap are not happening:
Candidate status update to shortlist in RCRM - not updated to Taas
Candidate status update to rejected in RCRM - not updated to Taas
Candidate status update to reject in Taas - not updated to RCRM

Reference :https://github.com/topcoder-platform/taas-apis/wiki

[2021-01-13 05:00] sandhiyakavi commented on #51
Verified. Working as expected

![image](https://user-images.githubusercontent.com/55895538/104408391-432f3a00-55a7-11eb-937c-73c5e0acf144.png)
![image](https://user-images.githubusercontent.com/55895538/104408420-580bcd80-55a7-11eb-89bf-82e015ec5d16.png)

https://user-images.githubusercontent.com/55895538/104408540-8ee1e380-55a7-11eb-9b76-36dd18ffe31b.mp4

[2021-01-13 06:10] sandhiyakavi opened #53 "Hypen is displayed if date not added"
Description:

Hypen symbol is displayed if date not added
<img width="776" alt="hypen displayed" src="https://user-images.githubusercontent.com/55895538/104413224-4f1ff980-55b1-11eb-92d4-dcd880a4b274.png">

[2021-01-13 06:30] sandhiyakavi opened #54 "[$25] UI issues in Mobile"
1. Page numbers not visible in My Teams page.

![Screenshot_20210113-131826_Chrome (1)](https://user-images.githubusercontent.com/55895538/104414645-f7cf5880-55b3-11eb-9e32-3ab83418f7dc.jpg)

2. Alignment issue in displaying Required and Other skills.

![Screenshot_20210113-142115_Chrome](https://user-images.githubusercontent.com/55895538/104414837-3ebd4e00-55b4-11eb-9b5d-e4f42f0205c1.jpg)

Mobile

[2021-01-13 08:16] maxceem commented on #11
@nkumar-topcoder would you be able to have a look at the QA feedback here, as I cannot verify this part.

[2021-01-13 08:19] SathyaJayabal commented on #11
@maxceem , @nkumar-topcoder is aware of the issues, we tested them together. I am documenting here to keep track.

[2021-01-13 09:46] maxceem commented on #53
I've replaces to `TBD`, is it what expected when there is no time information?

![image](https://user-images.githubusercontent.com/146016/104435278-de6ae400-5594-11eb-8af6-a58a6c068237.png)

[2021-01-13 10:14] sandhiyakavi commented on #53
@maxceem Yes it's fine

[2021-01-13 12:58] sandhiyakavi opened #55 "Getting "Failed to authenticate token" in Mobile"
Description:

Getting "Failed to authenticate token" in Mobile. It is happening intermittently. Seems token refresh is not happening.

It happened after phone screen is locked down for about 15 minutes. Also the app is logged again automatically after refresh.

Note: Similar issue is seen once in system also.

![Screenshot_20210113-201824_Chrome (1)](https://user-images.githubusercontent.com/55895

[2021-01-13 13:39] sandhiyakavi commented on #55
Sharing the screenshot and video of issue happening in system.

![image](https://user-images.githubusercontent.com/55895538/104459403-076c9280-55f0-11eb-9d57-89470cf3534b.png)

https://user-images.githubusercontent.com/55895538/104459422-0dfb0a00-55f0-11eb-820a-b1fd462cc82b.mp4

[2021-01-13 15:11] maxceem commented on #53
@sandhiyakavi I've marked it as `QA Pass on Dev` feel free to remove it if there is anything else.

[2021-01-18 11:08] maxceem commented on #54
Sum up:
1. > Page numbers not visible in My Teams page.

Page numbers should go multiple lines if there are too many pages. And vertical space should be the same as horizontal space between them.

2. > Alignment issue in displaying Required and Other skills.

"Required skill" and "Other Skills" should align vertically one under another on small screens.

- All the fixes above should work good on a

[2021-01-18 11:08] maxceem commented on #54
Contest https://www.topcoder.com/challenges/30162681 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 11:10] maxceem commented on #54
@yoution this is open for pickup.

I've sent an invitation to this repo. After you accept the invitation, you should be able to assign the issue to you, please try.

[2021-01-18 11:18] maxceem commented on #54
Contest https://www.topcoder.com/challenges/30162681 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 14:52] wdprice opened #56 "ResourceBookings Edit UI"
Implement a UI for viewing details & editing resourceBooking records that exist on a project. Use same design language as using the [Job edit page](https://github.com/topcoder-platform/taas-app/issues/12)

This area of the page contains the resourceBookings:
![image](https://user-images.githubusercontent.com/6014049/104927702-bce07280-596f-11eb-9be2-94ebf666b07a.png)

Edit Feature should only be a

[2021-01-18 15:51] wdprice opened #57 "Legacy Jobs / Resource Booking Data Migration"
Migrate hitorical data into the TaaS App APIs.

Historical Job Info sourced from RecruitCRM - can be exported via API.

Historical ResourceBooking info will come from Salesforce. Will require mapping to Project & Job IDs.

[2021-01-19 01:27] yoution commented on #54
@maxceem
![image](https://user-images.githubusercontent.com/3863914/104976559-6ab75400-5a38-11eb-9b14-e69675333720.png)
how about add a `none` row?

[2021-01-19 04:36] yoution commented on #13
@maxceem  please review

[2021-01-19 07:59] maxceem commented on #54
- Let's make it `-` instead of `None`
- Also, let's add some space below the `-`:

   ![image](https://user-images.githubusercontent.com/146016/105004693-fdf28880-5a3c-11eb-8766-147e206c44fd.png)

[2021-01-19 09:16] yoution commented on #54
@maxceem  please reivew

[2021-01-19 11:30] SathyaJayabal commented on #11
This is verified in dev and works as expected.

[2021-01-19 11:32] SathyaJayabal commented on #10
Verified on dev

[2021-01-19 11:44] maxceem commented on #13
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160318<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 12:57] sandhiyakavi commented on #5
Verified. Working as expected

<img width="957" alt="job_description" src="https://user-images.githubusercontent.com/55895538/105037252-0e3c4f00-5aa1-11eb-988e-7337a4487d86.png">
<img width="960" alt="project_created" src="https://user-images.githubusercontent.com/55895538/105037334-2ca24a80-5aa1-11eb-9636-34054639a0c8.png">

Button redirects correctly.
![image](https://user-images.githubuserconte

[2021-01-19 14:09] maxceem commented on #14
Roles mapping between Topcoder and Connect roles:

![image](https://user-images.githubusercontent.com/146016/105045474-9fdf9880-5a70-11eb-8175-f4216f2b2463.png)

[2021-01-19 15:10] maxceem commented on #54
Good example for testing in this team http://localhost:8080/taas/myteams/16805

![image](https://user-images.githubusercontent.com/146016/105052951-17192a80-5a79-11eb-9927-ba9017b33fe5.png)

[2021-01-19 15:22] maxceem commented on #54
@sandhiyakavi ready for QA in DEV.

[2021-01-19 16:04] maxceem commented on #12
@wdprice

### Sum up:
1. Implement Job View page as per new design https://marvelapp.com/prototype/921gg0f/screen/75360459/handoff

   - But also show "Start Date", "End Date", "Resource Type", "Rate Type", "Workload" and "Status"

    ![image](https://user-images.githubusercontent.com/146016/105059229-b7724d80-5a7f-11eb-8060-7291e587b7d2.png)

2. Clicking "Eidt Job Details" should open edit job p

[2021-01-20 03:54] sandhiyakavi commented on #54
Verified.Working as expected.

![39773](https://user-images.githubusercontent.com/55895538/105124955-93197e00-5b1e-11eb-8612-7985dd40ccae.jpg)
![64792](https://user-images.githubusercontent.com/55895538/105124959-957bd800-5b1e-11eb-9cb8-357bcfc7d867.jpg)

[2021-01-20 09:59] maxceem commented on #54
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162681<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 15:47] maxceem commented on #14
### Details of this task:
- We would use Projects Service API to manage invitations `​/projects​/{projectId}​/invites` and members `/projects/{projectId}/members`.
- To add a user to the TaaS Team, such user should be invited by `hanlde` or `email`.
- We should list invited users together with members. Invited users should be somehow marked as invited.
- We should be able to remove invitations.
-

[2021-01-21 09:43] SathyaJayabal opened #63 "Unassignment of candidates in RCRM must be handled in Taas app"
1. Assign a candidate from RCRM
2. A candidate record is created on the Taas app
3. Unassign the candidate again in RCRM
4. Candidate is not removed in Tass app (expected: candidate record must be removed)
5. Reassign the candidate in RCRM
6. A duplicate candidate record is created in Taas app. We now have two candidates records for the same user.

example:
<img width="1440" alt="Screenshot 2021-0

[2021-01-21 10:06] maxceem commented on #56
### Sum up

- Add option "Edit" to "Actions" menu.
- It should lead to the resource booking editing page `/taas/myteams/{teamId}/rb/{resourceBookingId}/edit`.
- This page should have a design similar to Job Editing Page https://marvelapp.com/prototype/921gg0f/screen/75360460/handoff
- This form should have the next fields:
   - Job Title (READ ONLY) - pulled from related job record
   - Assigned R

[2021-01-21 14:42] wdprice commented on #56
I agree on your statements above.

I originally intended to allow a VIEW and EDIT, however the entirety of the data is displayed on "Team Detail" so there is no reason to have both. I like having the "Edit" option appear in the actions drop-down.

EDIT should only visible to admin users (role discussion pending still).

[2021-01-21 14:45] wdprice commented on #14
Lets keep the option to "Join Project" because if we choose to add a feature similar to "My Projects" in Connect then it would make filtering easier for those super users.

[2021-01-21 16:26] wdprice commented on #19
Our goal will be to integrate w/ SFDC to create an escalation record in place of sending an email to customer success. More details to come as we solution w/ the SFDC team.

[2021-01-22 04:20] SathyaJayabal commented on #12
@maxceem @wdprice , these job updates must also be synced back to RCRM right?

[2021-01-22 15:07] wdprice opened #64 "Review resouceBooking Statuses"
Need to review the status values on resourceBooking and map more effectively to the business.

Current state does not allow POST to update status, and defaults to `Sourcing` which is a value we won't be using since RB isn't created until sourcing is complete.

Need status values for:
- Active/Open
- Completed
- Cancelled
- re-assigned???

TODO:
- Discuss w/ Cards & Sumit to understand how these st

[2021-01-23 09:12] maxceem commented on #12
Nice catch @SathyaJayabal. @nkumar-topcoder what do you think about it?

[2021-01-25 14:06] maxceem commented on #56
Yes, we should edit "status" as per the discussion.

[2021-01-26 14:06] wdprice commented on #12
1. Also add duration. Calculate end date based on start date + duration (weeks)
2. We will need to handle zapier flow for updates to existing jobs.
3. Correct

Questions:
1. Icons removed in latest designs
2. Correct
3. Correct, that only exists on resourceBooking
4. TExt input is OK
5. Edit Requested Start Date + Duration (add requested to the label). See 1. above.
6. Yes, customer (or manager) r

[2021-01-27 04:59] nkumar-topcoder commented on #12
@maxceem @wdprice @SathyaJayabal job updates to RCRM is already taken care in the initial sync. So, adding/updating new job should take. However, once the UI implemented need to take care of any edge case

[2021-01-27 12:54] maxceem commented on #54
Reopen for tracking purposes.

[2021-01-27 12:55] maxceem commented on #13
Reopen for tracking purposes.

[2021-01-28 05:32] sandhiyakavi opened #67 "404 error page shown on clicking 'Open in Connect' link for booking Manager."
Description:

'404 error page' is shown on clicking 'Open in Connect' link for booking manager if he/she is not a member of the project.

Steps to reproduce:

1. Create a project  with TonyJ account.
2. Access the same project in Taas app with Booking Manager account.(should not be a member of the project in Connect)
3. Click the 'Open in Connect' from ellipses icon/Team details page.

Actual resu

[2021-01-28 05:38] SathyaJayabal commented on #67
So the booking manager has access to all projects in Taas, but may not have access to them in connect. In such acses when they click on open in connect link form taas, we get the above scenario.

[2021-01-28 07:19] maxceem commented on #67
Good catch @sandhiyakavi. This is as per current business requirements.
@wdprice is there anything we can do in such situations?

[2021-01-28 09:04] sandhiyakavi opened #68 "[$15] Selecting page in one tab of Job Candidates View screen is affecting the other tabs."
Description:
Selecting page in one tab of Job Candidates View screen is affecting the other tabs.

Steps to reproduce:

1. Click Select Candidates to Review button.
2.  Go to Page 2 of Candidates to Review tab.
3.  Click Interested/Not Interested tab.

Actual result:
If Interested/Not Interested tab is not having candidates in Page 2, no candidates is getting displayed on clicking the tab.
Candida

[2021-01-28 10:15] nkumar-topcoder commented on #67
@maxceem @sandhiyakavi Open In **connect** should be enabled only for limited set role. further discussion is needed on this  cc @wdprice

[2021-01-28 11:11] SathyaJayabal opened #69 "Resource Booking is not created when candidate is placed in some cases"
While placing a candidate from RCRM, the candidate status was updated to selected, but the RB was not created.

This issue is intermittent and we were not able to reproduce this.

<img width="1192" alt="Screenshot 2021-01-28 at 4 38 38 PM" src="https://user-images.githubusercontent.com/58783823/106130503-71a43c00-6187-11eb-83de-c877cdfa37ff.png">

cc @nkumar-topcoder

[2021-01-28 11:24] sandhiyakavi opened #70 "Missing Logic checking"
Description:

1. Able to create Job with some random Project Id
2. Able to create Resource booking with Project Id and Job Id belonging to another project.

![image](https://user-images.githubusercontent.com/55895538/106131786-775d4a00-61a6-11eb-9246-50b3354ba3d2.png)
![image](https://user-images.githubusercontent.com/55895538/106131968-aecbf680-61a6-11eb-8936-c02e293e5993.png)

[2021-01-28 13:08] SathyaJayabal opened #71 "Job status updated to "Assigned" even though all positions are not filled"
Job status updated to "Assigned" even though all positions are not filled
Example:
Only 2 out of 3 positions were filled for this job, But the job status was updated to assigned.

Expected: Job status must be updated to "Assigned" only after all positions are filled.

cc @nkumar-topcoder

<img width="1115" alt="Screenshot 2021-01-28 at 6 37 29 PM" src="https://user-images.githubusercontent.com/587

[2021-01-28 13:13] maxceem commented on #71
It works as expected, let me provide you details @SathyaJayabal:
- Job 2 has 2 positions
- Job 1 has 1 position
- So in total there are 3 positions.
- As Job 2 has 2 resources assigned it's marked as assigned.

[2021-01-28 13:16] SathyaJayabal commented on #71
@maxceem , thanks for the details. @nkumar-topcoder , this is not a bug as suspected and works as expected. I am closing this.

[2021-01-28 13:16] #71 closed

[2021-01-28 13:34] SathyaJayabal commented on #6
Verified on Prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 04 15 PM" src="https://user-images.githubusercontent.com/58783823/106145517-a7532000-619b-11eb-989d-d686c69aa653.png">

[2021-01-28 13:34] #6 closed

[2021-01-28 13:36] SathyaJayabal commented on #7
Verified on Prod
<img width="1129" alt="Screenshot 2021-01-28 at 7 06 05 PM" src="https://user-images.githubusercontent.com/58783823/106145756-ed0fe880-619b-11eb-8d3b-a4bb9ef677b2.png">

[2021-01-28 13:36] #7 closed

[2021-01-28 13:39] SathyaJayabal commented on #8
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 08 33 PM" src="https://user-images.githubusercontent.com/58783823/106146074-41b36380-619c-11eb-8631-a443243cc12c.png">

[2021-01-28 13:39] #8 closed

[2021-01-28 13:40] SathyaJayabal commented on #9
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 10 18 PM" src="https://user-images.githubusercontent.com/58783823/106146280-7f17f100-619c-11eb-8a8d-bb2d8073e05c.png">

[2021-01-28 13:40] #9 closed

[2021-01-28 13:44] SathyaJayabal commented on #11
Verified on prod

[2021-01-28 13:44] #11 closed

[2021-01-28 13:45] SathyaJayabal commented on #17
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 14 48 PM" src="https://user-images.githubusercontent.com/58783823/106146811-27c65080-619d-11eb-9989-5dbdf5cc3d0c.png">

[2021-01-28 13:45] #17 closed

[2021-01-28 13:53] SathyaJayabal commented on #18
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 10 18 PM" src="https://user-images.githubusercontent.com/58783823/106147838-58f35080-619e-11eb-995f-034ed289f5e6.png">

[2021-01-28 13:53] #18 closed

[2021-01-28 13:55] SathyaJayabal commented on #20
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 25 19 PM" src="https://user-images.githubusercontent.com/58783823/106148042-9657de00-619e-11eb-8245-3fe33a6f9e99.png">

[2021-01-28 13:55] #20 closed

[2021-01-28 13:56] SathyaJayabal commented on #22
Customer Rate Out of scope for initial release

[2021-01-28 13:56] #22 closed

[2021-01-28 13:58] SathyaJayabal commented on #23
Verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 27 43 PM" src="https://user-images.githubusercontent.com/58783823/106148345-f3ec2a80-619e-11eb-8d98-c641f55dd25e.png">

[2021-01-28 13:58] #23 closed

[2021-01-28 13:59] SathyaJayabal commented on #24
Verified in Prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 28 50 PM" src="https://user-images.githubusercontent.com/58783823/106148491-1aaa6100-619f-11eb-9251-1a940e645e03.png">

[2021-01-28 13:59] #24 closed

[2021-01-28 14:06] SathyaJayabal commented on #21
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 36 07 PM" src="https://user-images.githubusercontent.com/58783823/106149307-1d598600-61a0-11eb-89f5-041713d28dd1.png">

[2021-01-28 14:06] #21 closed

[2021-01-28 14:07] SathyaJayabal commented on #26
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 37 14 PM" src="https://user-images.githubusercontent.com/58783823/106149422-40843580-61a0-11eb-9aca-bdaeab7e68fe.png">

[2021-01-28 14:07] #26 closed

[2021-01-28 14:08] SathyaJayabal commented on #34
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 38 13 PM" src="https://user-images.githubusercontent.com/58783823/106149562-6c072000-61a0-11eb-8e90-44d35343cbf8.png">

[2021-01-28 14:08] #34 closed

[2021-01-28 14:09] SathyaJayabal commented on #33
verified in prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 39 24 PM" src="https://user-images.githubusercontent.com/58783823/106149680-8e00a280-61a0-11eb-8048-bc294d0f014b.png">

[2021-01-28 14:09] #33 closed

[2021-01-28 14:11] SathyaJayabal commented on #51
verified in prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 40 32 PM" src="https://user-images.githubusercontent.com/58783823/106149883-c2745e80-61a0-11eb-93ef-3a91e2458578.png">
<img width="1440" alt="Screenshot 2021-01-28 at 7 40 51 PM" src="https://user-images.githubusercontent.com/58783823/106149900-c7391280-61a0-11eb-8992-fd5a4e24d480.png">

[2021-01-28 14:11] #51 closed

[2021-01-28 14:13] SathyaJayabal commented on #32
verified on prod
<img width="1440" alt="Screenshot 2021-01-28 at 7 42 32 PM" src="https://user-images.githubusercontent.com/58783823/106150102-ffd8ec00-61a0-11eb-9010-9df4b62c2eae.png">
<img width="1440" alt="Screenshot 2021-01-28 at 7 42 35 PM" src="https://user-images.githubusercontent.com/58783823/106150123-05cecd00-61a1-11eb-948e-78b2b94d84f0.png">

[2021-01-28 14:13] #32 closed

[2021-01-28 14:15] SathyaJayabal commented on #5
verified in prod

Upon completion of intake form, button appears that says "Take me to my project" (or similar language)
Project is created in v5/projects, jobs are added via v5/jobs & added as a job in RecruitCRM associated to "TaaS Intake Holding Company"
When clicked, button navigates the user to the corresponding project in TaaS App.

<img width="1440" alt="Screenshot 2021-01-28 at 6 59 31 PM"

[2021-01-28 14:15] #5 closed

[2021-01-28 14:21] SathyaJayabal opened #72 "Candidates View: Sort by skill match is not working as expected"
When candidate list is sorted by "Skill matched", the users with higher match % must appear on top.

<img width="1440" alt="Screenshot 2021-01-28 at 7 47 21 PM" src="https://user-images.githubusercontent.com/58783823/106151098-0320a780-61a2-11eb-9d4e-236090578704.png">

cc @maxceem

[2021-01-28 14:29] SathyaJayabal commented on #25
Unable to update candidate status, getting an error "the user is not a member of project", even though the user is member of the connect project.
User: picachui
Project ID :26861
<img width="1440" alt="Screenshot 2021-01-28 at 7 20 03 PM" src="https://user-images.githubusercontent.com/58783823/106152242-39125b80-61a3-11eb-81c4-0658887f65e2.png">
<img width="1440" alt="Screenshot 2021-01-28 at 7 20

[2021-01-28 14:30] SathyaJayabal commented on #10
verified in prod.
Candidate status update issue is tracked in https://github.com/topcoder-platform/taas-app/issues/25
<img width="1440" alt="Screenshot 2021-01-28 at 8 00 01 PM" src="https://user-images.githubusercontent.com/58783823/106152424-6eb74480-61a3-11eb-9355-a895ec1d89af.png">

[2021-01-28 14:30] #10 closed

[2021-01-28 14:34] wdprice commented on #25
The logged in user is a member of the Connect project or a Connect Manager role?

@SathyaJayabal could you open the project access controls in Connect?

[2021-01-28 14:51] SathyaJayabal commented on #25
@wdprice , I can manage customer team, but only view topcoder team.
User Roles:
"Topcoder User", "copilot", "Connect Copilot"
<img width="1440" alt="Screenshot 2021-01-28 at 8 19 32 PM" src="https://user-images.githubusercontent.com/58783823/106155005-36fdcc00-61a6-11eb-9db6-4b07d43b1e62.png">

[2021-01-29 19:36] wdprice opened #73 "Change Job Candidate Creation Criteria"
Update the criteria to create a Job Candidate.

Current State - JobCandidate record created based on "Candidate Assigned" action from RCRM.

Future State - JobCandidate record should be created when the RCRM hiring status = `Ops Check Pass`

This request comes from the TaaS Ops team, who wants to ensure unapproved candidates are not presented to the customer.

[2021-01-29 19:36] wdprice commented on #73
@nkumar-topcoder - can you check this out for feasibility?

[2021-01-29 23:47] wdprice opened #74 "RCRM Job Description Formatting not carrying over"
When a Job is created in RCRM, no formatting is carried over:

![image](https://user-images.githubusercontent.com/6014049/106338676-640fb480-6262-11eb-846e-47ad282a3533.png)

Need to investigate how we can get that carry across.

[2021-02-04 19:50] maxceem opened #78 "Enable Segment Analytics"
On the request of Will and accommodated by Tony we've enabled Segment Analytics.

- Each page would be tracked by analytics (I guess this would work only on PROD, because we have only one analytics key for PROD, so we wouldn't enable it on DEV)
- Each page has its own title in the browser (DEV + PROD):

    ![image](https://user-images.githubusercontent.com/146016/106947209-c53bfa00-6732-11eb-81e9

[2021-02-04 19:53] maxceem commented on #78
This issue has been done in 2 repositories:
- TaaS APP: https://github.com/topcoder-platform/taas-app/pull/50
- Frame https://github.com/topcoder-platform/micro-frontends-frame/pull/10

Note, analytics would be only enabled on PROD if we set `SEGMENT_ANALYTICS_KEY` environment variable, rebuild and redeploy https://github.com/topcoder-platform/micro-frontends-frame

[2021-02-05 05:38] SathyaJayabal commented on #78
@maxceem , verified page titles on dev
<img width="247" alt="Screenshot 2021-02-05 at 11 06 49 AM" src="https://user-images.githubusercontent.com/58783823/106994238-69a95500-67a2-11eb-8991-4f36054bf7c8.png">
<img width="257" alt="Screenshot 2021-02-05 at 11 07 00 AM" src="https://user-images.githubusercontent.com/58783823/106994246-6b731880-67a2-11eb-8b19-3d7b21cd7462.png">
<img width="255" alt="S

[2021-02-05 18:54] wdprice opened #80 "[$40] Update Team Details Button Language & Candidate Selection Screen"
Update Button Text on Team Details Page:
Original Language: "Select Candidates"
New Language: "Review Candidates"
![image](https://user-images.githubusercontent.com/6014049/107076407-653c6680-67b9-11eb-8c4c-32a6be07aec5.png)

Add an icon to the "To Review" tab when users appear on that list.
![image](https://user-images.githubusercontent.com/6014049/107076549-93ba4180-67b9-11eb-9191-f6f55186927b.p

[2021-02-05 18:55] wdprice commented on #80
@maxceem - think this may be a small one - would be great to knock it out in this next release if possible.

If you need an icon for this, let me know and we can get it worked on.

[2021-02-06 11:07] maxceem commented on #80
@wdprice yes, we can include this into the release. Having an icon would be great, as I don't see any suitable in the current design.

[2021-02-08 10:57] maxceem commented on #12
This is ready for QA on DEV, except for a few things:

### Not yet done:
- `duration` is not added yet, as business required are not yet confirmed, so for now we have start/end date
- Edit button, for now, is visible for all the users, we would hide it after we implement member access management https://github.com/topcoder-platform/taas-app/issues/14

[2021-02-08 11:11] maxceem commented on #56
This is ready for QA on DEV except for a few things:

### Not yet done:
- "Member Rate" is shown to all the users. And edit button is shown to all the users. This would be done after implementing Project Access Management Controls https://github.com/topcoder-platform/taas-app/issues/14

[2021-02-08 11:42] maxceem commented on #13
QA Guide:
We have to check that CSS and JS is minified but functionality is not broken. Very quick smoke testing is enough. Just check a few pages if they open and looks correctly and nothing is visually broken. The same time we have to check that code is minified.
1. CSS: See how to check that CSS is optimized https://monosnap.com/file/SSJR2VaI7op4LnWn8065W10jjgWRjf. See how NOT-optimized CSS loo

[2021-02-08 11:55] maxceem commented on #14
@wdprice users who is invited to the project should have some UI to accept/decline invitation not only using links from email.

I suggest implementing the same UI like we have in Connect App

### Project List

![image](https://user-images.githubusercontent.com/146016/107215905-a8464600-6a14-11eb-9ca2-e281ad42b7f8.png)

![image](https://user-images.githubusercontent.com/146016/107215965-bb591600-6a

[2021-02-08 12:21] SathyaJayabal commented on #12
@maxceem , I do not see the edits made from the job edits page getting saved. There is no error on the PUT api call.

https://user-images.githubusercontent.com/58783823/107218856-367ef400-6a36-11eb-8b9e-010d3a8c4b30.mov

[2021-02-08 12:25] SathyaJayabal commented on #56
@maxceem , getting a loading page when clicking on resource name. Resource booking details page is not displayed.

example:
https://platform.topcoder-dev.com/taas/myteams/16926/rb/a8b9fda7-df1c-4fe2-ba4b-b76142ece345
user:tonyj
<img width="1440" alt="Screenshot 2021-02-08 at 5 53 36 PM" src="https://user-images.githubusercontent.com/58783823/107219179-bb6a0d80-6a36-11eb-9120-d4fbff53fdd5.png">

[2021-02-08 12:39] maxceem commented on #12
Right, there should **not** be any error.

[2021-02-09 08:44] sandhiyakavi commented on #13
CSS and JS both are optimized.

![image](https://user-images.githubusercontent.com/55895538/107337487-c3d94b80-6afd-11eb-9f2e-1ca4aa783934.png)
![image](https://user-images.githubusercontent.com/55895538/107337578-e703fb00-6afd-11eb-853d-36556e352f73.png)

@maxceem Not able to do smoke test as the changes done in api are not reflecting in Front End.

![image](https://user-images.githubusercontent.

[2021-02-09 09:39] sandhiyakavi commented on #12
Adding to the above,

1. Topcoder Member is not able to edit the job created along with the taas project in Connect (Taas project is created by the same Topcoder member) but has permission to edit the one created in the UI by the member.
![image](https://user-images.githubusercontent.com/55895538/107344462-d5265600-6b05-11eb-8ca7-78eb7d711ce9.png)
![image](https://user-images.githubusercontent.com

[2021-02-09 09:45] maxceem commented on #12
@SathyaJayabal editing jobs works now. Changes should be reflected after you save the Job. Please, let me know if you have such issues again.

[2021-02-09 10:34] sandhiyakavi commented on #12
@maxceem Able to Edit jobs now but
1.Able to set status as 'Assigned' for a job even if no candidate is assigned to the job. User should not be allowed to change status 'Assigned' in this scenario right?

![image](https://user-images.githubusercontent.com/55895538/107351107-92687c00-6b0d-11eb-9c74-fde2d50fefff.png)

2. The issues mentioned in comment https://github.com/topcoder-platform/taas-app/i

[2021-02-09 11:30] sandhiyakavi commented on #56
@maxceem Able to view the Resource booking details now. Below are some of the issues found

1.  FE showing error if the Member Rate is a decimal value but we are able to give decimal values through api. Is Member rate needs to be a whole number?
![image](https://user-images.githubusercontent.com/55895538/107356772-8e8c2800-6b14-11eb-83ea-3e3bbd4a8534.png)

2. Able to set End date less than the Sta

[2021-02-09 11:32] sandhiyakavi commented on #13
@maxceem Changes done in api are reflecting now in FE. Completed smoke testing. Everything is fine.

[2021-02-09 13:58] maxceem commented on #12
Great catch, and valid issue. We would fix it in Projects API.

Will add validation.

### Questions to Bussiness

Should we add any restrictions for these or we can keep these as it is.

1. Able to set Status for Job as Closed/Cancelled while Creating the Job.

2.Able to set status as 'Assigned' for a job even if no candidate is assigned to the job. User should not be allowed to change status 'Ass

[2021-02-09 14:09] wdprice commented on #12
Let's place the status field in read only only. Only BookingManager / Topcoder Admin can edit those fields.

[2021-02-10 16:31] maxceem opened #81 "[$15] Search/filter field should be on the right on Desktop"
See design https://marvelapp.com/prototype/921gg0f/screen/73987506/handoff
This was initially implemented the correct way, but after some moment it jumps down. Maybe it's because of the styles priority. **Don't use** `important` to fix it.

![image](https://user-images.githubusercontent.com/146016/107539588-c73c0800-6bcd-11eb-9ddb-2c150a69b7e1.png)
![image](https://user-images.githubusercontent.co

[2021-02-11 15:13] maxceem opened #82 "[$15] Update job dates format"
For Jobs we've removed `endDate` for jobs and added `duration` instead in API.

Now we are going to update UI accordingly. Perviously we've showed there `startDate - endDate`:

![image](https://user-images.githubusercontent.com/146016/107655227-0c267400-6c8c-11eb-88b3-230ff8f3f193.png)

Now, we would you like to update format to something which might be more comfortable, in particular to: `Request

[2021-02-11 15:15] maxceem commented on #80
@wdprice would you like to use some particular icon for this? Or should we find some on our taste?

[2021-02-11 15:40] wdprice commented on #14
@maxceem - I'd like to keep it as simple as possible. Do we need to support the invitation workflow or can we just consider it automatically accepted when added?

[2021-02-11 16:17] maxceem commented on #14
@wdprice only Topcoder Admins can add members directly or accept invites for other users. So we can only do so, if we restrict this functionality to Topcoder Admins.

Another to achieve this is to create new endpoints in **TaaS API** which would create members directly bypassing the invitation process. **TaaS API** can call **Projects API** using **M2M token** which can also add members directly b

[2021-02-11 16:30] wdprice commented on #14
I'm having a discussion more broadly w/ the Product group on this. Should get an update later today.

[2021-02-12 03:09] wdprice commented on #14
@maxceem  Go ahead with the M2M workaround. We will need to add some text to explain they can only add topcoder users. We're still discussing if the invitations are the way we want things long term.

[2021-02-12 08:18] maxceem commented on #14
@wdprice there are a couple more things if we go with direct member adding
- Just realized that even more easier way would be to update Projects API, so it allows adding members directly not only for Topcoder Admins but for other users also (trivial change). Then we even don't have to create new endpoints in TaaS API.
   - but Projects API only supports adding member by "handle" so if we would lik

[2021-02-13 12:09] maxceem opened #83 "Permissions"
- [x] During job editing https://github.com/topcoder-platform/taas-app/issues/12#issuecomment-775965604. Let's place the `status` field in read-only. Only BookingManager / Topcoder Admin can edit those fields.

- [x] "Edit Job Details" button (https://github.com/topcoder-platform/taas-app/issues/12) should be only visible to the users who can edit jobs:
   ![image](https://user-images.githubuserco

[2021-02-13 12:22] maxceem opened #84 "[$40] Jobs View/Edit UI: Replace "End Date" field by "Duration" field"
For Jobs we've removed `endDate` for jobs and added `duration` instead in API https://github.com/topcoder-platform/taas-apis/issues/143.

So now we have to update Job View Details page to show "Duration" instead of "End Date"

![image](https://user-images.githubusercontent.com/146016/107849805-52074780-6e06-11eb-8811-cfc7f9679d88.png)

And same for Job Edit Detail page:

![image](https://user-imag

[2021-02-13 12:26] maxceem commented on #12
@sandhiyakavi some of the issues are fixed now. And for some of them I've created separate issue for easier control. So after testing the fixed part, could we mark this issue as QA passed, and we would handle not yet fixed issues separately.

Already fixed. You may test it by creating a new Project. For the Project which is already created, it cannot be fixed.

This would be fixed by https://githu

[2021-02-13 12:32] maxceem opened #85 "[$50] ResourceBookings Edit UI: validation rules"
Follow up from: https://github.com/topcoder-platform/taas-app/issues/56#issuecomment-775872737

1. If the Member Rate is a decimal value it is showing validation error. But we are able to give decimal values through API. So we have to fix UI validation and allow decimal numbers

    ![image](https://user-images.githubusercontent.com/55895538/107356772-8e8c2800-6b14-11eb-83ea-3e3bbd4a8534.png)

2.

[2021-02-13 12:38] maxceem commented on #56
@sandhiyakavi I've created separate issues for easier control. Could we mark this issue as QA passed, and we would handle not yet fixed issues separately?

- Issues from this comment I've moved to https://github.com/topcoder-platform/taas-app/issues/56#issuecomment-775872737
- Also, we have to only allow editing Resourve Booking to Booking Managers and Topcoder Admins. This would be handled via ht

[2021-02-13 12:47] maxceem commented on #35
Sum up:
- Each job has `numPositions` field which should be shown as `2 open positions`
- We should count how many `resources` are associated with this job. And if there are more than 0 of them, then show their number as `1 / 2 open positions`.
- See screenshot for example for this Team https://platform.topcoder-dev.com/taas/myteams/16805 jobId `e7c3dcd2-4032-4426-9c72-ab0f6a68779d`. Note, that in

[2021-02-13 12:55] maxceem opened #86 "[$25] Skills Popup Improvements: Open on hover any skills"
Follow up from: https://github.com/topcoder-platform/taas-app/issues/36

![image](https://user-images.githubusercontent.com/146016/107850442-2044af80-6e0b-11eb-88e4-6d25834b9a62.png)

Sum up:
- we have update component, so the skills popup is shown when we put mouse or click on any place, even if we don't have `more` link. But keep the `more` text too (keep it blue).

   ![image](https://user-imag

[2021-02-13 13:03] maxceem commented on #25
@SathyaJayabal could you please add me to this project `maxceem` or share the password for the user you've used for testing (in Slack). So I could check this out, as it should not happen.

[2021-02-13 13:16] maxceem commented on #80
@wdprice what if we do like this (I'm trying to reusing existent styles from other pages from the provided Marvel design):

![image](https://user-images.githubusercontent.com/146016/107850787-baa5f280-6e0d-11eb-9afa-d47019cd824c.png)

Sum up:
- Implement a new reusable component called `Babge`
- It should support prop `type` with possible values `primary` - green (default) and `danger` red (simila

[2021-02-13 13:21] maxceem commented on #80
Sum up:
- Implement a new reusable component called `<Babge>`
- It should support prop `type` with possible values `primary` - green (default) and `danger` red (similar for Bootstrap https://getbootstrap.com/docs/5.0/components/badge/). See how we implemented Button component for example
- Design is from this page https://marvelapp.com/prototype/921gg0f/screen/73987521/handoff
- We should add this

[2021-02-13 13:28] maxceem opened #87 "Bug Bash/Hunt Helper Test"

[2021-02-13 13:29] maxceem commented on #87
@bug-bash-helper assign

[2021-02-13 13:31] maxceem commented on #87
@bug-bash-helper assign

[2021-02-13 13:34] maxceem commented on #87
@bug-bash-helper assign

[2021-02-13 13:34] maxceem commented on #87
@bug-bash-helper ready for review https://github.com/topcoder-platform/taas-app/pull/77

[2021-02-13 13:35] maxceem commented on #87
@bug-bash-helper unassign

[2021-02-13 13:35] #87 closed

[2021-02-13 13:36] maxceem commented on #35
Challenge https://www.topcoder.com/challenges/b362cd7f-7a5b-4566-b60c-71b2feae5557 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #45
Challenge https://www.topcoder.com/challenges/cc88ca2a-9fa9-479b-a88c-f6a093efa686 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #68
Challenge https://www.topcoder.com/challenges/3aa68ea9-3b6c-4f52-a4e1-c591d6909440 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #80
Challenge https://www.topcoder.com/challenges/020758b9-4517-4eb4-8a6f-9501572296dc has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #81
Challenge https://www.topcoder.com/challenges/661b1864-c7e7-4675-a306-e809926c54b3 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #82
Challenge https://www.topcoder.com/challenges/ee61ca51-bb83-48f7-b462-1d2c3c9bd427 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #84
Challenge https://www.topcoder.com/challenges/7cda4ef6-ec78-48b8-96c2-02a9691061ee has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #85
Challenge https://www.topcoder.com/challenges/1a3c6e3d-d552-40aa-ae15-38db93311a28 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:36] maxceem commented on #86
Challenge https://www.topcoder.com/challenges/5565ad9e-846e-4e04-bdec-acdb01c417a0 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 13:48] yoution commented on #45
@bug-bash-helper assign

[2021-02-13 13:48] maxceem commented on #45
Challenge https://www.topcoder.com/challenges/cc88ca2a-9fa9-479b-a88c-f6a093efa686 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 14:00] maxceem commented on #45
Challenge https://www.topcoder.com/challenges/cc88ca2a-9fa9-479b-a88c-f6a093efa686 yoution has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 14:01] yoution commented on #81
@bug-bash-helper assign

[2021-02-13 14:01] maxceem commented on #81
Challenge https://www.topcoder.com/challenges/661b1864-c7e7-4675-a306-e809926c54b3 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 14:09] yoution commented on #81
![image](https://user-images.githubusercontent.com/3863914/107851887-22792f00-6e48-11eb-9ed6-cf999c756daa.png)
@maxceem how to reproduce it?

[2021-02-13 14:15] yoution commented on #81
I can not reproduce the issue ,maybe have fixed

[2021-02-13 14:15] maxceem commented on #81
Challenge https://www.topcoder.com/challenges/661b1864-c7e7-4675-a306-e809926c54b3 yoution has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 14:20] yoution commented on #35
@bug-bash-helper assign

[2021-02-13 14:21] maxceem commented on #35
Challenge https://www.topcoder.com/challenges/b362cd7f-7a5b-4566-b60c-71b2feae5557 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 14:39] maxceem commented on #81
@yoution try here https://platform.topcoder-dev.com/taas/myteams

![image](https://user-images.githubusercontent.com/146016/107852543-f5ae2300-6e19-11eb-98a3-e399250e4d66.png)

I guess it's caused by the order in which styles are loading. So sometimes it's good, and sometimes no. I think we need to make sure that styles have the correct priority no matter what was the order of loading.

[2021-02-13 14:53] yoution commented on #35
Ready for Review": "@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/88 is ready for review

[2021-02-13 14:56] yoution commented on #81
@bug-bash-helper assign

[2021-02-13 14:58] yoution commented on #81
@bug-bash-helper assign

[2021-02-13 15:08] maxceem commented on #81
@yoution, please, try one more time.

[2021-02-13 15:10] maxceem commented on #81
@yoution to unassign yourself, please, use command `@bug-bash-helper unassign`, then it would work well and you could assign it again if you want. Don't unassign yourself manually.

[2021-02-13 15:11] yoution commented on #81
@bug-bash-helper assign

[2021-02-13 15:11] maxceem commented on #81
Challenge https://www.topcoder.com/challenges/661b1864-c7e7-4675-a306-e809926c54b3 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 15:11] yoution commented on #81
Ready for Review": "@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/89 is ready for review"

[2021-02-13 15:15] yoution commented on #80
@bug-bash-helper assign

[2021-02-13 15:15] maxceem commented on #80
Challenge https://www.topcoder.com/challenges/020758b9-4517-4eb4-8a6f-9501572296dc has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 15:21] maxceem opened #90 "[$60] ResourceBookings Edit UI: Should show related Job name"
Follow up from https://github.com/topcoder-platform/taas-app/issues/56#issuecomment-775109978

user:tonyj

This issue in some way happens to both pages:
- view: https://platform.topcoder-dev.com/taas/myteams/16926/rb/a8b9fda7-df1c-4fe2-ba4b-b76142ece345
- edit: https://platform.topcoder-dev.com/taas/myteams/16926/rb/a8b9fda7-df1c-4fe2-ba4b-b76142ece345/edit:

   ![image](https://user-images.github

[2021-02-13 15:21] dashu-baba commented on #68
@bug-bash-helper assign

[2021-02-13 15:21] maxceem commented on #68
Challenge https://www.topcoder.com/challenges/3aa68ea9-3b6c-4f52-a4e1-c591d6909440 has been assigned to nowshad.bappy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 15:22] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/88578d52-3659-404f-9fac-b58bec815c62 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 15:47] yoution commented on #80
@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/91 is ready for review

[2021-02-13 15:53] yoution commented on #68
@bug-bash-helper assign

[2021-02-13 15:58] yoution commented on #82
@bug-bash-helper assign

[2021-02-13 15:59] maxceem commented on #82
Challenge https://www.topcoder.com/challenges/ee61ca51-bb83-48f7-b462-1d2c3c9bd427 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 16:09] dashu-baba commented on #68
"Ready for Review": "@bug-bash-helper {https://github.com/topcoder-platform/taas-app/pull/92} is ready for review"

[2021-02-13 16:10] dashu-baba commented on #90
@bug-bash-helper assign

[2021-02-13 16:10] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/88578d52-3659-404f-9fac-b58bec815c62 has been assigned to nowshad.bappy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 16:14] yoution commented on #82
@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/93 is ready for review

[2021-02-13 16:15] yoution commented on #84
@bug-bash-helper assign

[2021-02-13 16:15] maxceem commented on #84
Challenge https://www.topcoder.com/challenges/7cda4ef6-ec78-48b8-96c2-02a9691061ee has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 16:38] dashu-baba commented on #90
@bug-bash-helper unassign

[2021-02-13 16:38] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/88578d52-3659-404f-9fac-b58bec815c62 nowshad.bappy has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 16:39] dashu-baba commented on #85
@bug-bash-helper assign

[2021-02-13 16:40] maxceem commented on #85
Challenge https://www.topcoder.com/challenges/1a3c6e3d-d552-40aa-ae15-38db93311a28 has been assigned to nowshad.bappy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 16:47] yoution commented on #84
@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/94 is ready for review

[2021-02-13 16:48] yoution commented on #90
@bug-bash-helper unassign

[2021-02-13 16:48] yoution commented on #90
@bug-bash-helper assign

[2021-02-13 16:49] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/88578d52-3659-404f-9fac-b58bec815c62 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 17:12] yoution commented on #90
@bug-bash-helper unassign

[2021-02-13 17:12] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/88578d52-3659-404f-9fac-b58bec815c62 yoution has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 17:12] yoution commented on #86
@bug-bash-helper assign

[2021-02-13 17:12] maxceem commented on #86
Challenge https://www.topcoder.com/challenges/5565ad9e-846e-4e04-bdec-acdb01c417a0 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 17:47] yoution commented on #86
@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/95 is ready for review

[2021-02-13 17:50] yoution commented on #90
@bug-bash-helper assign

[2021-02-13 17:50] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/88578d52-3659-404f-9fac-b58bec815c62 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-13 18:04] dashu-baba commented on #85
Ready for Review": "@bug-bash-helper {https://github.com/topcoder-platform/taas-app/pull/96} is ready for review

[2021-02-14 01:54] yoution commented on #90
@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/97 is ready for review

[2021-02-14 01:56] yoution commented on #90
test link  https://platform.topcoder-dev.com/taas/myteams/16926/rb/8ba02ff3-b142-4745-9b18-e578bfceb22d

[2021-02-14 02:04] yoution commented on #45
@bug-bash-helper assign

[2021-02-14 02:05] maxceem commented on #45
Challenge https://www.topcoder.com/challenges/cc88ca2a-9fa9-479b-a88c-f6a093efa686 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-14 04:47] yoution commented on #90
@maxceem  how about this ? https://monosnap.com/file/loqJTsLiAoYjwm4a7Xlhj2ZXRQ1A0u

[2021-02-14 04:47] yoution commented on #45
@maxceem how about this https://monosnap.com/file/loqJTsLiAoYjwm4a7Xlhj2ZXRQ1A0u

[2021-02-14 04:52] yoution commented on #45
@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/98 is ready for review

[2021-02-14 04:55] yoution commented on #45
please review this one after #86

[2021-02-15 04:23] SathyaJayabal commented on #25
@maxceem , sent invitation to the project.

[2021-02-15 05:29] sandhiyakavi commented on #12
Verified in Dev env .Comment #1 is working now

![image](https://user-images.githubusercontent.com/55895538/107908599-c3c3ca80-6f99-11eb-80f1-0f3c275b56a4.png)

[2021-02-15 05:32] sandhiyakavi commented on #56
Issue https://github.com/topcoder-platform/taas-app/issues/85 created for tracking  #56 (comment)

[2021-02-17 05:33] dashu-baba commented on #85
Okay I will update accordingly.

[2021-02-17 08:45] dashu-baba commented on #85
@bug-bash-helper https://github.com/topcoder-platform/taas-app/pull/96 is ready for review

[2021-02-17 11:54] maxceem opened #100 "[$70] Add Markdown text editor for the job description"
We have the ability to edit Job via the form https://platform.topcoder-dev.com/taas/myteams/16873/positions/c8aea4b6-da17-4226-91c3-a00ab7118934/edit

We would like to add Markdown editor for the Job Description field:

![image](https://user-images.githubusercontent.com/146016/108200752-9147d800-7127-11eb-8c2c-748681952d76.png)

Use the same editor and the same approach as for https://github.com/a

[2021-02-17 12:05] maxceem commented on #85
The payment for this task is increased to $50. But we would like to have a solution that properly utilizes Final Form features without workarounds.

[2021-02-17 13:56] maxceem opened #101 "Team List: keep filter param and page in URL"
We have ability to filter teams on the team list page by some word and we are showing several pages.
If after that we open some of the teams and we would go back, we would not see the same list of teams that we had before. The filter would be clean and the page would be reset to `1`.
See demo video https://monosnap.com/file/baTlUc2gZj2QSUYBwx5RR3QvE4ny6t

To solve this issue we have to do the next

[2021-02-17 15:04] maxceem commented on #19
Sum up:
- User can send a report for the **whole team** by clicking "Report Issue" on the team list page ([screenshot](https://monosnap.com/file/SJquSbwiIWBTcz7iyNXntyfJK116lm)) or on the Team Detail page ([screenshot](https://monosnap.com/file/vhx178nQKZmy4ldH3O07E4tqey2K33))
- Or we can send a report for a particular resource ([screenshot](https://monosnap.com/file/elhQxZLGG5MDRrrPxAZ5vuZWpdJIBN

[2021-02-18 04:07] sandhiyakavi commented on #45
Verified in Dev. Working as expected

https://user-images.githubusercontent.com/55895538/108303854-1398d080-71ea-11eb-8ba3-372531940923.mp4

[2021-02-18 04:22] sandhiyakavi commented on #86
@maxceem If we click any of the skills, a black rectangular box is showing around the displayed skills.

![image](https://user-images.githubusercontent.com/55895538/108304558-9f5f2c80-71eb-11eb-9cc9-12f5f5ae4f09.png)

Other than that the skills are correctly displaying when hovered over

![image](https://user-images.githubusercontent.com/55895538/108304800-214f5580-71ec-11eb-830f-cab523d7959c.png)

[2021-02-18 05:20] sandhiyakavi commented on #82
Verified on Dev env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/108309012-21535380-71f4-11eb-8b05-435d2d4d5857.png)

[2021-02-18 05:28] sandhiyakavi commented on #84
Verified on Dev Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/108309713-662bba00-71f5-11eb-94fa-ba22a31706aa.png)
![image](https://user-images.githubusercontent.com/55895538/108309775-8c515a00-71f5-11eb-8ba8-ab2c02bbb97f.png)

[2021-02-18 05:55] sandhiyakavi commented on #35
Verified on Dev Env. Working as Expected.

![image](https://user-images.githubusercontent.com/55895538/108311791-f8818d00-71f8-11eb-9134-44382c700473.png)

[2021-02-18 06:02] sandhiyakavi commented on #68
Verified on Dev Env. Working as expected.

https://user-images.githubusercontent.com/55895538/108312563-477bf200-71fa-11eb-96f0-1625de6da642.mp4

[2021-02-18 06:24] sandhiyakavi commented on #80
@maxceem If there are No records in the "To Review" list, it is not defaulting the view to the "Interested" Tab

https://user-images.githubusercontent.com/55895538/108314150-c4a86680-71fc-11eb-84fc-fb89d092d880.mp4

Other functionalities are working fine

![image](https://user-images.githubusercontent.com/55895538/108314252-f0c3e780-71fc-11eb-8985-0546ec2f4eeb.png)
![image](https://user-images.git

[2021-02-18 06:46] sandhiyakavi commented on #81
Verified on Dev. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/108316150-d4757a00-71ff-11eb-9ae0-372035e4f7ae.png)
![image](https://user-images.githubusercontent.com/55895538/108316179-e1926900-71ff-11eb-9dd9-c138b61a2b7a.png)

From Mobile
![93923](https://user-images.githubusercontent.com/55895538/108316491-506fc200-7200-11eb-810d-f7a9e762009b.jpg)
![32221](htt

[2021-02-18 06:58] sandhiyakavi opened #103 "Not able to view the job details if job is created using api"
Description:
Not able to view the job details if job is created using api.

Steps to reproduce:
1. Create a job using api POST request.
2. Click the job created ,in the UI.

sample: https://platform.topcoder-dev.com/taas/myteams/17091/positions/516830b2-ac5a-4388-a2c4-d331ce253be9

![image](https://user-images.githubusercontent.com/55895538/108317549-cb85a800-7201-11eb-8d84-0a384445a53d.png)

http

[2021-02-18 08:30] maxceem commented on #86
@sandhiyakavi the border when clicking is removed now by 27a62774a41fbc9b764cab05d45ef781542c8547. Could you please check again?

[2021-02-18 08:44] maxceem commented on #80
This is fixed by 9907a4fe0c4a220fd118e60e13f49623978f211a

@sandhiyakavi could you please try now.

[2021-02-18 08:52] maxceem commented on #103
Done by https://github.com/topcoder-platform/taas-app/commit/c375bb545c6a93933d91dcbbc3e4fc1490c0f031 and ready for QA on DEV.

[2021-02-18 09:18] sandhiyakavi commented on #86
Verified. Border is not displaying now and Working as expected.

![image](https://user-images.githubusercontent.com/55895538/108334551-68057580-7215-11eb-9e15-942bb4789042.png)

[2021-02-18 09:36] sandhiyakavi commented on #80
Verified on Dev. Working as expected.

https://user-images.githubusercontent.com/55895538/108337141-24f8d180-7218-11eb-8c6d-ceb97ce594b0.mp4

[2021-02-18 10:02] sandhiyakavi commented on #103
Verified. Able to view the job details now.

https://user-images.githubusercontent.com/55895538/108340329-cdf4fb80-721b-11eb-8086-de35aedb6a3f.mp4

[2021-02-18 10:51] nkumar-topcoder commented on #84
@sandhiyakavi

a) try to edit for a job and duration is TBD initially change to 2 weeks. Saving is not happening.

https://platform.topcoder-dev.com/taas/myteams/17091/positions/b4ee7bd4-c658-46d7-a1e6-e46e94369a32/edit

b) Create a new position with duration as monthly. Save acknowledgement msg appears. Verify on the page you will see still it display for weeks
![image](https://user-images.github

[2021-02-18 11:17] sandhiyakavi commented on #85
@maxceem If we made any changes in the Resource Booking, the changes are getting saved but we are not able to open the Edit Resource booking page again. It's loading continuously.
sample: "https://platform.topcoder-dev.com/taas/myteams/17091/rb/5f43acbf-9b90-4fd2-87e9-03ddbfafcc7d/edit"

https://user-images.githubusercontent.com/55895538/108347618-10bad180-7224-11eb-89b0-bee380cc9678.mp4

2. For E

[2021-02-18 13:55] maxceem commented on #84
This is fixed by b0d68644b75d874597da7e3079fceee52fdf0677. Could you please, try now?
The issue was because some jobs have skills ids which are not returned by V5. Now, I'm showing such skills as `Unsupported value: "12123-12313-12e2-12e12-"` so we would be aware if this happens and try to fix such data inconsistencies:

![image](https://user-images.githubusercontent.com/146016/108366921-94af9200-

[2021-02-18 14:19] nkumar-topcoder commented on #84
@maxceem Got it. Totally got confused.  In that case can we add small label next  to `duration`  as `default weekly`
cc @sandhiyakavi - pls ignore 2nd case.

@wdprice, max -  I think it's better to re-phrase `rate type ` at least in frontend - something like `Resource Rate Frequency`

[2021-02-18 14:24] nkumar-topcoder commented on #84
@maxceem @sandhiyakavi verified for case a) able to save. Thanks

[2021-02-18 15:06] maxceem commented on #84
@nkumar-topcoder I've updated the labels by

![image](https://user-images.githubusercontent.com/146016/108373568-b7917480-7208-11eb-8558-7b754731ebbb.png)

and during view:

![image](https://user-images.githubusercontent.com/146016/108373601-c11adc80-7208-11eb-99e4-f1fca92ecc06.png)

[2021-02-18 15:08] maxceem commented on #85
sample: "https://platform.topcoder-dev.com/taas/myteams/17091/rb/5f43acbf-9b90-4fd2-87e9-03ddbfafcc7d/edit"

@sandhiyakavi this is fixed now. It was another issue which I've just merged https://github.com/topcoder-platform/taas-app/issues/90

If you edit only one field it would show only one error for that field. But if you edit 2 fields, then it would show this error for 2 fields, because actuall

[2021-02-19 05:15] sandhiyakavi opened #105 "Create Job page: up/down arrow of Number of opening textbox increases/decreases value by decimal point."
Description:

Up/down arrow of "Number of opening" textbox in Create Job page, increases/decreases value by decimal point but decimal point values are not allowed for Number of Openings field.

https://user-images.githubusercontent.com/55895538/108460827-ccc7db00-72bc-11eb-9528-e927dc30f070.mp4

[2021-02-19 05:45] sandhiyakavi commented on #85
Verified on Dev Env.Working as expected.

Able to open the Edit Resource Booking page after saving the changes.The Member rate field is allowing the decimal point values.

https://user-images.githubusercontent.com/55895538/108462937-d2272480-72c0-11eb-9c84-70b4d8f40206.mp4

Start Date and End Date validation messages are displayed correctly. Also able to save if Start Date===End Date
![image](http

[2021-02-19 05:52] sandhiyakavi commented on #105
Similar issue for Duration field also.

![image](https://user-images.githubusercontent.com/55895538/108463637-1a931200-72c2-11eb-9c0b-8bb8657d8307.png)

[2021-02-19 06:05] sandhiyakavi commented on #84
@maxceem The above changes for Duration and Rate type labels are not reflected for Create Job page.

![image](https://user-images.githubusercontent.com/55895538/108464404-5da1b500-72c3-11eb-97f5-a46db9460e87.png)

Verified for all the duration cases. Working as expected.

[2021-02-19 07:08] maxceem commented on #84
Fixed via d8604e6349f936853cc4d9e28e96a7b7d6248eff

Ready for QA on DEV.

[2021-02-19 07:08] maxceem commented on #105
Fixed by https://github.com/topcoder-platform/taas-app/commit/850ce75c89a20a2dcad332cfcb01e79cd92f6068.

Ready for QA on DEV.

[2021-02-19 07:37] sandhiyakavi commented on #84
Verified .The labels are correctly getting displayed

![image](https://user-images.githubusercontent.com/55895538/108472891-a90e9000-72d0-11eb-8a22-065d40d7ee01.png)

[2021-02-19 07:57] sandhiyakavi commented on #105
Verified on Dev Env. Working as expected.

https://user-images.githubusercontent.com/55895538/108474899-584c6680-72d3-11eb-8288-192a1f455977.mp4

[2021-02-19 09:05] sandhiyakavi commented on #90
@maxceem  Resource booking page both View and Edit  are not displaying sometimes and getting displayed sometimes. It seems like a intermittent issue. Below are some of the issues I noted.

1. url: https://platform.topcoder-dev.com/taas/myteams/16928/rb/2423288f-aa53-4183-bc33-2d6c5b767189
![image](https://user-images.githubusercontent.com/55895538/108480947-ea0ba200-72da-11eb-8a60-75362aee7c81.png

[2021-02-19 09:37] maxceem commented on #90
@sandhiyakavi 1 & 2 are fixed by ee297cbaca5c824a9e80811bb976379db297c5d8. 3 was already fixed by 7d037b741b7b493b69a44e207422ee02f2b45b68 (note, that issue 3 has been reproducible on each time, it got broken during one of the previous fix).

Regarding showing `<Not Found> 123-23-234-234-234-12123` this is due to inconsistent data. This means that the Job to which RM was assigned is removed now.

[2021-02-19 10:35] sandhiyakavi commented on #90
Verified on Dev Env. Working as expected.

1. RB with Job available.

https://user-images.githubusercontent.com/55895538/108493369-93f22b00-72e9-11eb-8f84-8f2f70252c90.mp4

2. RB with Job not assigned.

https://user-images.githubusercontent.com/55895538/108493199-63aa8c80-72e9-11eb-828f-46829805df92.mp4

3. RB with Job removed.

https://user-images.githubusercontent.com/55895538/108493220-6ad19a80

[2021-02-19 11:34] sandhiyakavi opened #106 "Job's Assigned status is not getting changed if the assigned resource is removed."
Description:

Job's Assigned status is not getting changed for below scenarios.

For instance If there is 1 open position and its assigned. Then

1. Increase Job's open position in Edit Job page.
2.  Change assigned RB status to Sourcing/in-review/Closed/Cancelled.

In both above cases, 'Assigned' status of Job is not getting changed.

<img width="958" alt="status Assigned" src="https://user-image

[2021-02-19 11:38] maxceem commented on #106
@nkumar-topcoder @wdprice should we handle such cases?

[2021-02-19 12:17] maxceem commented on #35
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #45
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #68
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #80
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #81
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #82
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #84
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #85
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #86
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 12:17] maxceem commented on #90
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 05:51] nkumar-topcoder commented on #106
@maxceem  This is  valid scenario since we allow editing of jobs and any fields can be changed. My suggestion is always check any  `status` change  jobid.num of position = jobid.resourcebooking if true `assigned` else maintain as-it is
Business wise, after the job position is filled and status changed is `assigned` if business case allows position to be increased or extended then this is valid cas

[2021-02-21 08:19] maxceem commented on #86
Payment task has been updated: https://www.topcoder.com/challenges/5565ad9e-846e-4e04-bdec-acdb01c417a0
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `5565ad9e-846e-4e04-bdec-acdb01c417a0` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:19] maxceem commented on #90
Payment task has been updated: https://www.topcoder.com/challenges/88578d52-3659-404f-9fac-b58bec815c62
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `88578d52-3659-404f-9fac-b58bec815c62` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #35
Payment task has been updated: https://www.topcoder.com/challenges/b362cd7f-7a5b-4566-b60c-71b2feae5557
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `b362cd7f-7a5b-4566-b60c-71b2feae5557` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #45
Payment task has been updated: https://www.topcoder.com/challenges/cc88ca2a-9fa9-479b-a88c-f6a093efa686
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `cc88ca2a-9fa9-479b-a88c-f6a093efa686` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #68
Payment task has been updated: https://www.topcoder.com/challenges/3aa68ea9-3b6c-4f52-a4e1-c591d6909440
*Payments Complete*
Winner: nowshad.bappy
Copilot: maxceem
Challenge `3aa68ea9-3b6c-4f52-a4e1-c591d6909440` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #80
Payment task has been updated: https://www.topcoder.com/challenges/020758b9-4517-4eb4-8a6f-9501572296dc
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `020758b9-4517-4eb4-8a6f-9501572296dc` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #81
Payment task has been updated: https://www.topcoder.com/challenges/661b1864-c7e7-4675-a306-e809926c54b3
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `661b1864-c7e7-4675-a306-e809926c54b3` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #82
Payment task has been updated: https://www.topcoder.com/challenges/ee61ca51-bb83-48f7-b462-1d2c3c9bd427
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `ee61ca51-bb83-48f7-b462-1d2c3c9bd427` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #84
Payment task has been updated: https://www.topcoder.com/challenges/7cda4ef6-ec78-48b8-96c2-02a9691061ee
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `7cda4ef6-ec78-48b8-96c2-02a9691061ee` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:21] maxceem commented on #85
Payment task has been updated: https://www.topcoder.com/challenges/1a3c6e3d-d552-40aa-ae15-38db93311a28
*Payments Complete*
Winner: nowshad.bappy
Copilot: maxceem
Challenge `1a3c6e3d-d552-40aa-ae15-38db93311a28` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-22 12:50] maxceem commented on #56
@wdprice at the moment in UI we are always saying "Member Details" instead of the "Resource Bookings":

![image](https://user-images.githubusercontent.com/146016/108710755-262e4500-751d-11eb-9872-dae16dd72962.png)

Should update these text to say to distinguish resource bookings from Project/Team members which we can manage on the access page to?
- Resource Booking
- Edit Resource Booking

[2021-02-22 14:28] wdprice commented on #56
Yes, let's update that.

On Mon, Feb 22, 2021 at 7:50 AM maxceem <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

William Price

Developer Experience & TAAS

781-405-0598 |  @will_price <https://twitter.com/will_price>  | LinkedIn
<https://www.linkedin.com/in/william-price-21478010/>

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2021-02-22 14:29] wdprice commented on #106
@nkumar-topcoder I am OK with this logic.

[2021-02-23 07:14] sandhiyakavi commented on #19
@maxceem The email send to customersuccess@topcoder-dev.com doesn't have body section sent

![image (20)](https://user-images.githubusercontent.com/55895538/108811807-47606580-75f1-11eb-8ae1-28bcddd1e4cb.png)

Other than that ,everything is working fine

Getting success message for Report send from Team listings, Team details page and Report send for particular resource.

https://user-images.githu

[2021-02-23 08:14] maxceem commented on #83
At the moment 3 points out of 5 are ready for QA in this ticket.

[2021-02-23 08:31] nkumar-topcoder commented on #106
@maxceem as the priority is low . We can take this up post v1.5 scope release
cc @sandhiyakavi

[2021-02-23 08:42] maxceem commented on #106
that's good @nkumar-topcoder as I'd like to have more time to understand all the pros/cons of it.

[2021-02-23 08:56] maxceem commented on #19
@sandhiyakavi this is ready for QA now.

We've fixed the email body so now it's shown:

![image](https://user-images.githubusercontent.com/146016/108820977-a3ad9000-75c5-11eb-81a4-30f7429cee4a.png)

I’ve tried to improve formatting, but it appears hard to do without changing the email template. So I guess we have to release with such formatting for now and we would have to improve the email templa

[2021-02-23 09:29] sandhiyakavi commented on #19
Verified on Dev Env. It is working as expected.

![image](https://user-images.githubusercontent.com/55895538/108824266-e0e54280-7604-11eb-8604-950d35094d50.png)
<img width="776" alt="report failed_taas app" src="https://user-images.githubusercontent.com/55895538/108824330-ecd10480-7604-11eb-92bc-254eb783316a.png">

[2021-02-23 10:03] maxceem commented on #14
Updated requirements.

### Add members instead of invite

When we open this dialog [https://marvelapp.com/prototype/921gg0f/screen/75391358/handoff](https://marvelapp.com/prototype/921gg0f/screen/75391358/handoff) instead of calling endpoint to invite members we have to call API to **add** these users directly as members.

1. Rename dialog to "Add more people" and rename the button "Invite" to "Ad

[2021-02-23 12:55] maxceem commented on #100
Challenge https://www.topcoder.com/challenges/b38a6b34-7e17-46b3-a80d-d427e3e7da23 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 12:55] maxceem commented on #100
@yoution could you please comment this issue, so I could assign you after that for processing the payment.

[2021-02-23 12:56] yoution commented on #100
@maxceem please assign to me

[2021-02-23 12:56] maxceem commented on #100
Challenge https://www.topcoder.com/challenges/b38a6b34-7e17-46b3-a80d-d427e3e7da23 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 12:57] maxceem commented on #100
Payment task has been updated: https://www.topcoder.com/challenges/b38a6b34-7e17-46b3-a80d-d427e3e7da23
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `b38a6b34-7e17-46b3-a80d-d427e3e7da23` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 13:21] sandhiyakavi commented on #14
@maxceem Below are some issues found.

1. Booking Manager was not able to access the "Manage Access" page .Getting error " You do not have permissions to perform this action" but able to access the project and all its features. Booking Manager is able to access "Manage access" page only when added as member.
credential used: bookingmanager/Appirio123

<img width="960" alt="booking manager_not able

[2021-02-23 14:12] maxceem commented on #14
@sandhiyakavi thanks for reviewing.

credential used: bookingmanager/Appirio123

I cannot reproduce this issue, could you please try one more time. And if you still can reproduce it, maybe there any other details which might help me to reproduce it too.

Fixed, could you please check it.

This is expected behavior, same in Connect. Regular users don't have permissions to request suggestions.

Done

[2021-02-23 14:24] maxceem opened #111 "Fix permissions for BookingManagers users when they are not project members"
Follow up form https://github.com/topcoder-platform/taas-app/issues/14#issuecomment-784239658

credential used: bookingmanager/Appirio123

At the moment we have permission issues with BookingManagers users when they are not members of the project.

[2021-02-23 14:25] maxceem commented on #14
credential used: bookingmanager/Appirio123

@sandhiyakavi we DO have permission issues for BokingManager users who is not a member of the project and who doesn't have `Connect Manager` role. I've logged a separate issue for this, as this it would take some time to fix https://github.com/topcoder-platform/taas-app/issues/111

[2021-02-23 14:37] maxceem opened #112 "Allow user who created Job to edit it"
As a part of this issue https://github.com/topcoder-platform/taas-app/issues/12 we have to allow editing jobs for users who have permissions for that.

![image](https://user-images.githubusercontent.com/146016/108857819-25b4ad80-75f4-11eb-9362-3df5e01685a0.png)

At the moment we are only allowing editing jobs to the BookingManagers and Administrators, but we don't allow edit jobs to customer users

[2021-02-23 14:38] maxceem commented on #83
@sandhiyakavi this is fully ready for testing on DEV.

There is only one case that is not ready and it's logged as a separate issue https://github.com/topcoder-platform/taas-app/issues/112. I'm not sure if we could get it done for the `1.5` realease.

[2021-02-23 14:39] maxceem commented on #100
@sandhiyakavi this is ready for QA.

[2021-02-23 14:40] maxceem commented on #38
@sandhiyakavi this is ready for QA as a part of https://github.com/topcoder-platform/taas-app/issues/83

[2021-02-23 15:34] maxceem commented on #25
@SathyaJayabal I've tried it with my user whom you've invited `maxceem` but it worked good for me. Could you please, try one more time if you could still reproduce it?

[2021-02-23 15:54] maxceem commented on #74
This should work well now in both DEV and PROD.

[2021-02-23 16:47] SathyaJayabal commented on #25
@maxceem , still have the same issue.
<img width="1440" alt="Screenshot 2021-02-23 at 10 16 38 PM" src="https://user-images.githubusercontent.com/58783823/108877082-e3579480-7624-11eb-8cef-61ffe11a8ef4.png">

[2021-02-23 16:48] SathyaJayabal commented on #25
@sandhiyakavi , please try with your handle.

[2021-02-23 17:13] maxceem commented on #25
@nkumar-topcoder could you please help us debug this on RPOD.

Can we check the log the TaaS API.
What is the log message before `userId: 22778049 the user is not a member of project 26861`?

There should be a message produced be this line:
[code]
I wonder what it returns.

[2021-02-24 08:11] sandhiyakavi commented on #14
@maxceem Another issue I found while testing is for some users (Not for all) ,we are able to add them through handle but not through email id. Getting error message : " User doesn't exist"

Users: TCConnCopilot/topcoderconnect+Copilot@gmail.com, TopConnCustomer/topcoderconnect+Customer@gmail.com, TCConCopilotMgr/topcoderconnect+CopilotManager@gmail.com, TCConAccountMgr/topcoderconnect+AccountManag

[2021-02-24 09:27] codejamtc commented on #100
@maxceem

**Testing URL:** https://platform.topcoder-dev.com/taas/myteams/16873/positions/edda7f39-5297-461a-89be-2074faa8bdc8

- When we click on the URL posted on the description; it is redirected to `https://platform.topcoder-dev.com/taas/myteams/16873/positions/www.google.com` and displayed an error '"id" must be a valid GUID'

https://user-images.githubusercontent.com/42398485/108969022-881ab

[2021-02-24 10:26] sandhiyakavi commented on #38
Verified on Dev Env.Working as expected.

For members of the project.

![image](https://user-images.githubusercontent.com/55895538/108985965-fd50b000-76d4-11eb-8a16-463ef3ce9988.png)

For Connect manager

![image](https://user-images.githubusercontent.com/55895538/108986970-160d9580-76d6-11eb-9a9b-65ec5c550a69.png)

[2021-02-24 11:12] SathyaJayabal commented on #25
@maxceem , works fine now
<img width="1440" alt="Screenshot 2021-02-24 at 4 40 14 PM" src="https://user-images.githubusercontent.com/58783823/108992335-33833500-76bf-11eb-8abf-31dde2372396.png">

[2021-02-24 11:32] sandhiyakavi commented on #83
@maxceem Below are some of the discrepancies found,

1. Connect Manager and users who are just member of the project(not created the job/project) are able to access the Edit Job page. Not able to edit though
<img width="960" alt="for_connectmanager_able toaccess" src="https://user-images.githubusercontent.com/55895538/108990211-e2cd0580-76d9-11eb-869f-f192cb0b721e.png">
<img width="960" alt="membe

[2021-02-24 12:36] maxceem commented on #83
Thank you @sandhiyakavi

1. and 2. good catch, I will fix it.

At the moment we cannot show this button for the users who create jobs because of the API limitation. I've created a separate issue to track this https://github.com/topcoder-platform/taas-app/issues/112. It would be done after we create a new endpoint on API https://github.com/topcoder-platform/taas-apis/issues/154. Not sure if this co

[2021-02-24 12:39] SathyaJayabal commented on #25
This was fixed with update to m2m token scope

[2021-02-24 12:39] #25 closed

[2021-02-24 14:31] maxceem commented on #111
@sandhiyakavi this is ready for testing on DEV. Now pure `bookingmanager` users should have any permission issues.

[2021-02-24 14:43] maxceem commented on #100
@codejamtc good finigins. We are using some existent editor for this, and all of these are true, but it's not super fast to fix these. I'm not sure how hard would it be to fix these as such an editor usually a complex thing.

@wdprice are we ok with these issues for the current release? We can consider fixing them in the future, but we would not be able to do so for tomorrow release. All these are

[2021-02-24 14:53] wdprice commented on #100
@maxceem - I don't suppose there are any params we adjust use to hide indent/outdent in the editor?

I am OK with the odd behavior of numbered list and bulleted list for now.

The one thing I would love to see fixed if possible is the hyperlink - is that really part of the editor or just how we handle links in taas app itself?

[2021-02-24 15:27] maxceem commented on #100
@wdprice thank you for looking into this.

we for sure can hide/show any of these buttons and it's configurable. Let me know if you would like to hide any buttons.

I totally agree with you that this is a bad issue. Unfortunately, it's handled inside the editor, not by TaaS, you can reproduce the same issue here https://nhn.github.io/tui.editor/latest/tutorial-example01-editor-basic. We would try

[2021-02-24 15:54] wdprice opened #114 "RCRM Job Candidate Shortlist Status Integration Loop"
A loop exists in RCRM Job Candidate Status updates. This bug loops as follows:
1. Candidate Status in RCRM set to Interview Scheduled, Schedule Interview, Resume Handoff to Client, Phone Screening Organized, Shortlist
2.  Zapier Job `5 PROD - JOBCANDIDATE Update All Status RCRM to TaaS` executes and sets TaaS App JobCandidate Status = `shortlist`
3. Zapier Job `4-PROD-JOBCANDIDATE-Status-to-Rcrm`

[2021-02-25 05:55] sandhiyakavi commented on #74
@maxceem Verified on Dev Env. Everything is fine, except the numbering of the steps which is not highlighted in bold like the bullet point.

<img width="946" alt="dev_jobdescription_2" src="https://user-images.githubusercontent.com/55895538/109109822-5d009700-7779-11eb-90e8-025407981b89.png">
<img width="959" alt="dev_job description" src="https://user-images.githubusercontent.com/55895538/1091098

[2021-02-25 06:20] sandhiyakavi commented on #111
Verified on dev. Booking Manager is now having all the privileges even if not a member of the project.

![image](https://user-images.githubusercontent.com/55895538/109111755-d2ba3200-777c-11eb-93d4-487c6accd7f2.png)
![image](https://user-images.githubusercontent.com/55895538/109111784-e1084e00-777c-11eb-80d8-1d8933159661.png)

[2021-02-25 06:32] maxceem commented on #74
@sandhiyakavi I'm not sure what is the issue from the description above. Cold you please, provide more details on what is expected after which steps.

By the way, I would like to clarify the initial issue here:
1. When we create a job using Connect Intake Form https://connect.topcoder-dev.com/new-project/taas-jobs we can enter description with formatting:
     ![image](https://user-images.githubus

[2021-02-25 07:43] maxceem commented on #14
@sandhiyakavi all of this has been fixed and ready for testing on DEV.

[2021-02-25 08:31] sandhiyakavi commented on #74
@maxceem please Ignore the above comment.

I verified the issue in both Dev and Prod. Below are some of my observations.

1. Task kind of bullet is not displaying in RCRM.
<img width="960" alt="1" src="https://user-images.githubusercontent.com/55895538/109124756-a4455280-778e-11eb-858f-687834b63e3b.png">

2. Contents copied from Word doc and pasted are not getting aligned.
<img width="960" alt="2"

[2021-02-25 08:34] maxceem opened #117 "Don't allow user access Edit Job/RB page if user don't have permissions to edit it"
Follow up from https://github.com/topcoder-platform/taas-app/issues/83#issuecomment-785013145

Sum up:
- Some users cannot edit Jobs and Resource Bookings
- So they don't see buttons to "Edit"
- But they can still access pages with an edit form
- If they try to edit it on Edit Form they would get error from the server that they don't have permissions
- So generally we are safe as users who don't h

[2021-02-25 08:37] maxceem commented on #83
@sandhiyakavi regarding 1 and 2 it may take some time to fix it. But it looks for me that we might treat it as `enhancement` rather than a bug:
- user don't see links to access these pages
- even if user access this pages by the direct link, they cannot see there any secret data
- even is user tries to edit, they would get error form the server that they don't have permissions

So I suggest treat

[2021-02-25 08:50] maxceem commented on #114
This was fixed on PROD and DEV.

@nkumar-topcoder do you know if Zapier was updated on DEV accordingly? I know @wdprice did update it on PROD, though for testing on DEV, we have to update Zapier on DEV too.

[2021-02-25 09:06] sandhiyakavi commented on #14
Verified on Dev env. Working as expected.

https://user-images.githubusercontent.com/55895538/109129486-0bb1d100-7794-11eb-84d3-efdc6849330c.mp4

[2021-02-25 09:17] sandhiyakavi commented on #83
Verified on Dev Env.Working as expected

[2021-02-25 09:32] sandhiyakavi commented on #114
Verified on Prod Env with help from @nkumar-topcoder .Working as expected.

[2021-02-25 10:13] maxceem commented on #74
Below are just my comments for now. I would discuss it with WIll.

I think we should remove this option from the Editor, as customers really don't need it.

This issue is more related to the editor https://github.com/topcoder-platform/taas-app/issues/100. In the curren ticket, we only check how good what we enter inside Intake Form is displayed inside RCRM.
Also, we didn't have a requirement to su

[2021-02-25 10:32] maxceem commented on #74
I suggest removing features:

- Table - because cannot be converted properly to RCRM (in theory can, but somehow doesn't work)
- Tasks - because don't need and cannot be displayed in RCRM
- Indent - because of https://github.com/topcoder-platform/taas-app/issues/100#issuecomment-785131097
- Outdnet - because of https://github.com/topcoder-platform/taas-app/issues/100#issuecomment-785131097

Editor

[2021-02-25 10:37] sandhiyakavi commented on #114
Verified on Dev Env. Candidate status is not changed to shortlist in RCRM.

![image (22)](https://user-images.githubusercontent.com/55895538/109141295-ed060700-77a0-11eb-97d1-a333b4f067d0.png)

[2021-02-25 13:41] wdprice opened #119 "Manage Access - email additions"
The Manage Access page says you can add an email:
![image](https://user-images.githubusercontent.com/6014049/109161454-11cc9100-7745-11eb-9fcc-8d8e7f6dda35.png)

However if you try to input anything, you get an `Internal Server Error`:
![image](https://user-images.githubusercontent.com/6014049/109161511-26108e00-7745-11eb-966e-1ae85eca2a24.png)

Need to either remove the option to input email, or

[2021-02-25 13:43] wdprice opened #120 "[$15] Edit Jobs - Resource Type Field is text"
The Resource Type field is a text input, however that should be a drop down with same values displayed on the intake form:

![image](https://user-images.githubusercontent.com/6014049/109161751-6f60dd80-7745-11eb-8029-e831e9d1d68b.png)

![image](https://user-images.githubusercontent.com/6014049/109161825-830c4400-7745-11eb-8959-d89889a04a92.png)

[2021-02-25 13:45] maxceem commented on #119
This shouldn't happen. I will investigate.

[2021-02-25 13:56] codejamtc commented on #105
Fixed: 🆗 via milestone https://github.com/topcoder-platform/taas-app/milestone/3

https://user-images.githubusercontent.com/42398485/109163413-5258f880-779f-11eb-8d49-9725754f3fc2.mp4

[2021-02-25 14:06] #105 closed

[2021-02-25 14:45] wdprice opened #121 "Incorrect Link in Issue Report Emails"
Issue report emails contain a link to topcoder-dev, not to prod environment. See test email below:

![image](https://user-images.githubusercontent.com/6014049/109169828-337e4600-774e-11eb-870a-951ec494b451.png)

[2021-02-25 14:55] codejamtc opened #122 "When we click on the URL posted on the description; it is redirected to an invalid url"
**Testing URL:** https://platform.topcoder-dev.com/taas/myteams/16873/positions/edda7f39-5297-461a-89be-2074faa8bdc8

- When we click on the URL posted on the description; it is redirected to `https://platform.topcoder-dev.com/taas/myteams/16873/positions/www.google.com` and displayed an error '"id" must be a valid GUID'

https://user-images.githubusercontent.com/42398485/108969022-881ab600-76a7-1

[2021-02-25 14:59] #100 closed

[2021-02-25 15:06] lakshmiathreya commented on #111
lakshmia3006 is a bookingmanager in Prod:
<img width="1680" alt="Screenshot 2021-02-25 at 8 28 36 PM" src="https://user-images.githubusercontent.com/51733042/109172722-1aef4980-77a9-11eb-9a19-4fe9b59a295d.png">
<img width="1680" alt="Screenshot 2021-02-25 at 8 28 39 PM" src="https://user-images.githubusercontent.com/51733042/109172743-1f1b6700-77a9-11eb-8eff-8292485f7456.png">
<img width="1680" al

[2021-02-25 15:13] codejamtc opened #123 "If there are so many skills the dropdown is going all the way down"
https://user-images.githubusercontent.com/42398485/109173609-08c1db00-77aa-11eb-8d93-55454aad5339.mp4

[2021-02-25 15:14] codejamtc commented on #86
**Fixed**: 🆗 in **Production** via [milestone v1.5](https://github.com/topcoder-platform/taas-app/milestone/3)
- Popup related issue has been fixed; but if there are so many skills the dropdown is going all the way down https://github.com/topcoder-platform/taas-app/issues/123

![bandicam 2021-02-25 20-39-14-714](https://user-images.githubusercontent.com/42398485/109173747-327b0200-77aa-11eb-98a6-1

[2021-02-25 15:14] #86 closed

[2021-02-25 15:16] wdprice opened #124 "[$60] "Request Extension" Not updated to utilize email input form"
Request an Extension link on the resourceBooking still opens a mailto:

Should operate in same manner as the Report an Issue, which an email being sent via Sendgrid to customersuccess@topcoder.com

[2021-02-25 15:27] maxceem commented on #124
@wdprice should we allow customers to enter some text, same like for the report?

![image](https://user-images.githubusercontent.com/146016/109175754-cb038900-778e-11eb-9596-5360d90873b0.png)

[2021-02-25 15:34] codejamtc commented on #84
**Fixed**: 🆗 in **Production** via [milestone v1.5](https://github.com/topcoder-platform/taas-app/milestone/3)

URL: https://platform.topcoder.com/taas/myteams/26861/positions/8853c864-36bb-44ad-bcf6-1d2e871b799c

- So now we have to update Job View Details page to show "Duration" instead of "End Date"

![bandicam 2021-02-25 20-57-57-512](https://user-images.githubusercontent.com/42398485/10917657

[2021-02-25 15:35] codejamtc commented on #90
@lakshmiathreya

[2021-02-25 15:39] maxceem commented on #119
@wdprice this is fixed on PROD now. You should be able to invite users by email.

[2021-02-25 15:41] maxceem commented on #121
@wdprice this should work good now on PROD. I've sent a test report "Test report issue from "maxceem". The link to the project should work good now.". Please, let me know if it works good now, as I cannot read the email.

[2021-02-25 15:51] wdprice opened #125 "[$30] Security Issue - JD Edits from TaaS App"
Jobs that have a Job Application Form attribute = true in RCRM are posted directly to the Topocder.com Gig Work page. In scenarios where that field is true, a user in TaaS App could write anything and post directly to Topcoder.com without review. We cannot allow this behavior to occur.

**Proposed Solution**
1. Add a new boolean to Jobs API & database: `isApplicationPageActive`
2. Update Zapier in

[2021-02-25 15:52] wdprice commented on #125
@maxceem @nkumar-topcoder - read above. I think the solution outlined should support the scenario. Interested in your thoughts.

[2021-02-25 15:59] maxceem commented on #125
@wdprice solution looks right to me.

[2021-02-25 16:00] #82 closed

[2021-02-25 16:19] codejamtc commented on #81
**Fixed**: 🆗 in **Production** via [milestone v1.5](https://github.com/topcoder-platform/taas-app/milestone/3)

Ref: https://marvelapp.com/prototype/921gg0f/screen/73987506/handoff

**Desktop**:

![bandicam 2021-02-25 21-47-31-986](https://user-images.githubusercontent.com/42398485/109182576-192a8380-77b3-11eb-8fa6-790b60b760d3.jpg)
![bandicam 2021-02-25 21-47-39-576](https://user-images.githubuse

[2021-02-25 16:19] #81 closed

[2021-02-25 16:25] maxceem commented on #123
@codejamtc @wdprice please, let me know how would you like to show the skills if we have so many of them?

[2021-02-25 16:29] maxceem opened #126 "Markdown Editor quick improvements"
Follow up from https://github.com/topcoder-platform/taas-app/issues/100#issuecomment-785131097 and https://github.com/topcoder-platform/taas-app/issues/74.

Related to this issue https://github.com/topcoder-platform/taas-app/issues/122

I suggest removing features:

- Table - because cannot be converted properly to RCRM (in theory can, but somehow doesn't work)
- Tasks - because don't need and can

[2021-02-25 16:35] maxceem commented on #120
Sum up:
- add only 4 options
[code]
  - DON'T add 'QA Tester' and 'QA Engineer'
- This value is optional, so the dropdown list should have first empty option, same like Workload

   ![image](https://user-images.githubusercontent.com/146016/109184851-0f475700-7798-11eb-8903-2c9239759e0a.png)
- Note, that the values which we save to the server are different from the values which we show to the user

[2021-02-25 16:36] maxceem commented on #120
Challenge https://www.topcoder.com/challenges/515b690c-7e2c-42ea-9e00-421df868eb73 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-25 16:37] maxceem commented on #120
@yoution this is open for pickup.

[2021-02-25 17:07] maxceem commented on #124
Sum up:
- At the moment our code is tailored for Issue Reports. We have have to make it more general so we can also use it for Requesting extensions. We should not add ad-hoc code or workaround, but rather refactor the current code. Below is my suggestions regarding refactoring, but you may adjust as per your view if needed. The main aim is to have a general well-structured and well-named code.
-

[2021-02-25 17:15] maxceem commented on #125
@wdprice please, let me know if this is confirmed, and we may start working on this.

[2021-02-25 23:24] yoution commented on #120
@maxceem please assign to me

[2021-02-26 02:46] codejamtc commented on #80
**Fixed**: 🆗 in **Production** via [milestone v1.5](https://github.com/topcoder-platform/taas-app/milestone/3)
- Update Button Text on Team Details Page: Original Language: "Select Candidates", New Language: "Review Candidates"
image
- Add an icon to the "To Review" tab when users appear on that list.
- If the user opens the page and there are No records in the "To Review" list, default the view t

[2021-02-26 02:52] codejamtc commented on #80
@lakshmiathreya

[2021-02-26 03:16] codejamtc commented on #45
**Fixed**: 🆗 in **Production** via [milestone v1.5](https://github.com/topcoder-platform/taas-app/milestone/3)

- When there are many skills in the popup the page height should be increased to accommodate the bigger popup so that user can scroll and view all skills in the popup.

https://user-images.githubusercontent.com/42398485/109173609-08c1db00-77aa-11eb-8d93-55454aad5339.mp4

Separate convers

[2021-02-26 03:17] #45 closed

[2021-02-26 04:04] codejamtc commented on #54
**Fixed**: 🆗 in **Production** via [milestone v1.5](https://github.com/topcoder-platform/taas-app/milestone/3)

- Page numbers not visible in My Teams page. - **To be checked**
@lakshmiathreya Please check this with the manager account; because for the manager all the projects are there
- Alignment issue in displaying Required and Other skills.  🆗

![bandicam 2021-02-26 08-52-27-960](https://user-

[2021-02-26 04:09] codejamtc commented on #53
**Fixed**: 🆗 in **Production** via [milestone v1.5](https://github.com/topcoder-platform/taas-app/milestone/3)
- Hypen symbol is displayed if date not added  🆗

![bandicam 2021-02-26 09-37-40-332](https://user-images.githubusercontent.com/42398485/109253749-74da2880-7816-11eb-9773-442edd696477.jpg)
![bandicam 2021-02-26 09-37-51-103](https://user-images.githubusercontent.com/42398485/109253753-760

[2021-02-26 04:09] #53 closed

[2021-02-26 04:36] lakshmiathreya commented on #90
@sandhiyakavi as discussed pls add the latest screenshots of this screen from Dev - seems like it has changed ...

[2021-02-26 04:47] sandhiyakavi commented on #90
@maxceem The title for the Resource booking view and Edit page has been changed from "Member Details" and "Edit Member Details" to "Resource Booking" and "Edit Resource Booking" in Dev as well as Prod. Is it expected? Because I was not able to find an issue logged related to this.

![image](https://user-images.githubusercontent.com/55895538/109256305-16727180-7839-11eb-9701-9455375b15c6.png)
![ima

[2021-02-26 05:54] sandhiyakavi opened #128 "[$10] Open in Connect link in Team listings page is not working"
Description:

Open in Connect link in Team listings page is not working in both Dev and Prod Environment.

![image](https://user-images.githubusercontent.com/55895538/109260854-45411580-7842-11eb-9931-fecdb718012b.png)
![image](https://user-images.githubusercontent.com/55895538/109260974-791c3b00-7842-11eb-8357-ee91d65fa4bf.png)

[2021-02-26 06:19] sandhiyakavi commented on #83
Fixed: 🆗 in Production via milestone v1.5

The Edit Job Details button and Edit Resource Booking Details button and Edit Resource booking links are not visible for a member of the project.

![image](https://user-images.githubusercontent.com/55895538/109262190-6e62a580-7844-11eb-8fbf-5972940ab138.png)
![image](https://user-images.githubusercontent.com/55895538/109262207-7884a400-7844-11eb-9c6b-5823

[2021-02-26 06:57] sandhiyakavi commented on #103
Fixed: 🆗 in Production via milestone v1.5

![image](https://user-images.githubusercontent.com/55895538/109266218-17ac9a00-784b-11eb-82f3-34122d0ef92f.png)
![image](https://user-images.githubusercontent.com/55895538/109266276-2bf09700-784b-11eb-9b78-5b69da5cd163.png)

[2021-02-26 06:58] #103 closed

[2021-02-26 07:37] sandhiyakavi commented on #12
Fixed: 🆗 in Production via milestone v1.5

1. Able to create job
![image](https://user-images.githubusercontent.com/55895538/109269602-103bbf80-7850-11eb-9dab-cec68ad92ef2.png)
2. View Job details page.
![image](https://user-images.githubusercontent.com/55895538/109269681-2e092480-7850-11eb-8b66-e3ed80e21408.png)

@lakshmiathreya Edit Job details button is visible only to BookingManager/Admin. Nee

[2021-02-26 08:31] sandhiyakavi commented on #85
@lakshmiathreya Need to check this issue with Booking Manager/Admin role. Below features needs to be tested in edit Resource Booking page,

1. Change member rate as a floating point numbers and save.
2. Check by changing start date greater than End date, validation message "Start Date should not be after End Date" shown.
3. Check by changing end date lesser than Start date, validation message "End

[2021-02-26 08:37] lakshmiathreya commented on #12
<img width="1680" alt="Screenshot 2021-02-26 at 2 04 16 PM" src="https://user-images.githubusercontent.com/51733042/109276088-9ac5f400-783b-11eb-997e-2a5b863740a5.png">
<img width="1680" alt="Screenshot 2021-02-26 at 2 06 26 PM" src="https://user-images.githubusercontent.com/51733042/109276374-f1333280-783b-11eb-9bb4-21c5a2478ed7.png">

[2021-02-26 08:38] lakshmiathreya commented on #12
lakshmia3006 is a bookingmanager in Prod ...

[2021-02-26 08:45] sandhiyakavi commented on #68
@lakshmiathreya This one needs more candidates (atleast 2 page) in any one of the tabs ("To review", "Interested" or "Not Interested" tab) of the Review Candidates page. Mine is having only one candidate.
Please check this.

[2021-02-26 08:48] sandhiyakavi commented on #35
Fixed: 🆗 in Production via milestone v1.5

![image](https://user-images.githubusercontent.com/55895538/109277584-e045e980-785a-11eb-8d4b-c41f632d7b50.png)

[2021-02-26 08:48] #35 closed

[2021-02-26 08:55] sandhiyakavi commented on #38
Fixed: 🆗 in Production via milestone v1.5

Able to view Yes and No button for members of the project.
![image](https://user-images.githubusercontent.com/55895538/109278140-8abe0c80-785b-11eb-9237-3e1abc0c2d8d.png)

@lakshmiathreya Need to check Yes and No button not visible for Connect Manager (should not be a member of the project).

[2021-02-26 09:00] sandhiyakavi commented on #56
Fixed: 🆗 in Production via milestone v1.5

Able to view the Resource bookings page.

![image](https://user-images.githubusercontent.com/55895538/109278866-6151b080-785c-11eb-8078-a0f99c264c8e.png)

@lakshmiathreya Need to test Resource Booking edit using Booking Manager/Admin role.

[2021-02-26 09:03] lakshmiathreya commented on #54
Manager account display looks ok. But alignment Issue in Main menu.
![IMG_8349](https://user-images.githubusercontent.com/51733042/109279121-60f6ec80-783f-11eb-8ff0-08d81630b420.PNG)
![IMG_8352](https://user-images.githubusercontent.com/51733042/109279147-681dfa80-783f-11eb-8be6-999028123ba0.PNG)
![IMG_8350](https://user-images.githubusercontent.com/51733042/109279132-648a7380-783f-11eb-81fc-7585b

[2021-02-26 09:04] lakshmiathreya commented on #54
Pls note 'Submission Review' is misaligned.

[2021-02-26 09:09] #111 closed

[2021-02-26 09:12] #12 closed

[2021-02-26 09:23] sandhiyakavi commented on #13
Fixed: 🆗 in Production via milestone v1.5

![image](https://user-images.githubusercontent.com/55895538/109281048-269d4780-785f-11eb-8c08-48d84625a118.png)
![image](https://user-images.githubusercontent.com/55895538/109281279-7a0f9580-785f-11eb-8ad1-0ce20e15b72d.png)

[2021-02-26 09:23] #13 closed

[2021-02-26 09:30] lakshmiathreya commented on #84
This is seen with Manager role: @sandhiyakavi @codejamtc pls clarify - the Requirement seems to be to replace End date with Duration - which is seen as expected. Is it still QA Fail?
<img width="1680" alt="Screenshot 2021-02-26 at 2 57 52 PM" src="https://user-images.githubusercontent.com/51733042/109282150-298a3f00-7843-11eb-841c-c19aa8b1d2f9.png">

[2021-02-26 10:21] lakshmiathreya commented on #83
1. Job Editing by Admin and BM ...
<img width="1680" alt="Screenshot 2021-02-26 at 3 44 14 PM" src="https://user-images.githubusercontent.com/51733042/109288122-77ef0c00-784a-11eb-81de-98260d07d856.png">
<img width="1680" alt="Screenshot 2021-02-26 at 3 50 32 PM" src="https://user-images.githubusercontent.com/51733042/109288131-7a516600-784a-11eb-8ba5-b98bfa47c35f.png">

[2021-02-26 10:26] lakshmiathreya commented on #83
2. Connect manager not seeing Edit :
<img width="1680" alt="Screenshot 2021-02-26 at 3 54 49 PM" src="https://user-images.githubusercontent.com/51733042/109288569-095e7e00-784b-11eb-86c8-8ba6bee6e258.png">

[2021-02-26 10:32] yoution commented on #120
@maxceem please review

[2021-02-26 10:34] sandhiyakavi commented on #14
Fixed: 🆗 in Production via milestone v1.5

User already added.
![image](https://user-images.githubusercontent.com/55895538/109286972-4c7a1a80-7866-11eb-98d4-e32f9a177c12.png)
![image](https://user-images.githubusercontent.com/55895538/109287006-5a2fa000-7866-11eb-8559-28418db8e013.png)

If invited through connect
![image](https://user-images.githubusercontent.com/55895538/109288971-e642c700-7868-1

[2021-02-26 10:35] #14 closed

[2021-02-26 10:40] #56 closed

[2021-02-26 10:42] lakshmiathreya commented on #83
3. Member rate seen by Admin and BM:
<img width="1680" alt="Screenshot 2021-02-26 at 4 10 09 PM" src="https://user-images.githubusercontent.com/51733042/109290214-58a5ae00-784d-11eb-9baa-8f154b53d9a6.png">
<img width="1680" alt="Screenshot 2021-02-26 at 4 10 42 PM" src="https://user-images.githubusercontent.com/51733042/109290234-5cd1cb80-784d-11eb-9e51-f2963087681f.png">

[2021-02-26 10:43] #85 closed

[2021-02-26 10:43] #84 closed

[2021-02-26 10:45] sandhiyakavi commented on #57
@maxceem This is not yet moved to Production right?

[2021-02-26 10:51] lakshmiathreya commented on #83
5. @sandhiyakavi pls attach a Dev screenshot for this as reference. I will verify Connect Mgr on Prod based on that.

[2021-02-26 10:59] sandhiyakavi commented on #78
Verified Page titles. Displaying as expected.

@maxceem Please let me know what else needs to be verified from QA side.

My Teams page.

![image](https://user-images.githubusercontent.com/55895538/109290957-aa5d3100-786b-11eb-94fc-d7d33a9a7a91.png)

Team Details page.
![image](https://user-images.githubusercontent.com/55895538/109291252-19d32080-786c-11eb-8eff-24b889c9440f.png)

Manage Access
![im

[2021-02-26 11:07] sandhiyakavi commented on #83
Review Candidates page for Connect Manageer in Dev Env.

![image](https://user-images.githubusercontent.com/55895538/109292754-34a69480-786e-11eb-9c45-4471c0b8e8ac.png)

[2021-02-26 11:21] maxceem commented on #54
@lakshmiathreya the main menu is a part of another repository https://github.com/topcoder-platform/micro-frontends-navbar-app/issues.

We are using micro-frontend approach where different parts of the application are implemented as separate applications. So the topbar, main many, and side menu are implemented in another repository. Can we consider this issue as fixed and log the issue you found wi

[2021-02-26 11:24] sandhiyakavi commented on #80
Verified in Prod Env.

![image](https://user-images.githubusercontent.com/55895538/109294505-9e27a280-7870-11eb-9ace-57454a5e6e40.png)

![image](https://user-images.githubusercontent.com/55895538/109293279-e8a81f80-786e-11eb-9a31-e7ff12d0370b.png)
![image](https://user-images.githubusercontent.com/55895538/109294435-87814b80-7870-11eb-8556-8b8e782a22ae.png)

[2021-02-26 11:25] #80 closed

[2021-02-26 11:48] sandhiyakavi commented on #19
Verified in Prod Env.

https://user-images.githubusercontent.com/55895538/109296482-b3520080-7873-11eb-9446-e469509cdead.mp4

Failure message.
![image](https://user-images.githubusercontent.com/55895538/109296567-dc729100-7873-11eb-884a-87e16cbbed82.png)

Separate issue logged for Email template https://github.com/topcoder-platform/taas-app/issues/121

[2021-02-26 11:48] #19 closed

[2021-02-26 12:14] maxceem commented on #124
@mbaghel could you please comment on this issue, so I can assign it to you. Otherwise, GitHub doesn't allow it.

[2021-02-26 12:14] maxceem commented on #124
Challenge https://www.topcoder.com/challenges/f3f26850-22cd-417a-b287-b51a706526fe has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 12:15] maxceem commented on #57
@sandhiyakavi right, maybe we would do this next week.

[2021-02-26 12:46] mbaghel commented on #124
Replying so I can be assigned.

On Fri, Feb 26, 2021, 4:14 PM maxceem <notifications@github.com> wrote:

[2021-02-26 13:15] maxceem commented on #124
@mbaghel, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 13:18] maxceem commented on #124
@mbaghel could you please sign-up at https://x.topcoder.com/. You would have to login there with your Topcoder and Github account to assosiate them. After that, the payment would be processed automatically when this issue is completed.

[2021-02-26 13:21] maxceem commented on #120
Challenge https://www.topcoder.com/challenges/515b690c-7e2c-42ea-9e00-421df868eb73 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 13:29] maxceem commented on #128
Sum up:
- `Open in Connect` menu item should open a project in Connect App in `new window`. Same like it's done when we click `Open in Connect` inside the team details page:

   ![image](https://user-images.githubusercontent.com/146016/109306121-60625400-7847-11eb-9cff-ff23ddb124b4.png)

[2021-02-26 13:29] maxceem commented on #128
@yoution you may pick up this one.

[2021-02-26 13:29] maxceem commented on #128
Challenge https://www.topcoder.com/challenges/b0716142-8c9d-40f2-ad50-f0a20603eafb has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 13:38] maxceem commented on #125
@wdprice @nkumar-topcoder what about existent jobs records? Should we set this value `false` to all of them so the Description could be edited? Or should we set `true` to all existent records so the Description could not be edited?

Or is there any criteria that we can use when updating existent data so we can set the value depends on something which indicates if the Job was posted or no?

If ther

[2021-02-26 13:40] wdprice commented on #125
Set to false be default.

A script would be a great option, or we can also do minor updates to everything with active flags to force sync.

[2021-02-26 13:42] wdprice commented on #125
@maxceem I just checked and their Job table export includes this information, so I can provide a dump w/ Job slug + isApplicationPageActive

[2021-02-26 13:43] maxceem commented on #125
If there are not so many active jobs, then triggering sync manually could be easier. I guess script would be not so easy to create as providing demo access for a developer is not easy. And importing/sanitizing JSON data also takes effort.

[2021-02-26 13:43] maxceem commented on #125
@wdprice if it's easy to provide such a dump, then sure, please provide and we would create a script then.

[2021-02-26 13:50] maxceem commented on #124
@mbaghel, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 14:02] maxceem commented on #78
@sandhiyakavi I think that's all that can be verified by QA. I've also asked Will and Tony to check if there is good data is coming to the analytics. I guess only a limited number of people have access there.

[2021-02-26 14:08] maxceem commented on #90
yes, @sandhiyakavi it's expected, I've confirmed it with Will here https://github.com/topcoder-platform/taas-app/issues/56#issuecomment-783350810

[2021-02-26 14:36] yoution commented on #128
@maxceem please assign to me

[2021-02-26 14:38] maxceem commented on #128
Challenge https://www.topcoder.com/challenges/b0716142-8c9d-40f2-ad50-f0a20603eafb has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 15:35] #114 closed

[2021-02-26 15:36] #90 closed

[2021-02-27 06:20] lakshmiathreya commented on #83
Booking Manager - <img width="1680" alt="Screenshot 2021-02-27 at 11 48 39 AM" src="https://user-images.githubusercontent.com/51733042/109377500-e044f880-78f1-11eb-9a98-029d242289ed.png">

[2021-02-27 06:21] lakshmiathreya commented on #83
Connect Manager -
<img width="1680" alt="Screenshot 2021-02-27 at 11 50 33 AM" src="https://user-images.githubusercontent.com/51733042/109377547-14b8b480-78f2-11eb-8327-0bc8c3fa6870.png">

[2021-02-27 06:21] lakshmiathreya commented on #83
Admin -
<img width="1680" alt="Screenshot 2021-02-27 at 11 48 06 AM" src="https://user-images.githubusercontent.com/51733042/109377563-28641b00-78f2-11eb-813c-c818eaf8de52.png">

[2021-02-27 06:23] lakshmiathreya commented on #83
5. Connect manager unable to see Yes/No in Review candidates. However, Admin/BM are also not able to see Yes/No. Will close this and add this Q to #38

[2021-02-27 06:24] #83 closed

[2021-02-27 06:27] #54 closed

[2021-02-27 06:37] lakshmiathreya commented on #38
This has been checked for Connect Manager - see #83 .

[2021-02-27 06:38] #38 closed

[2021-02-27 06:48] lakshmiathreya commented on #73
@nkumar-topcoder - need your help to test this on Prod. cc @sandhiyakavi

[2021-02-27 06:51] lakshmiathreya commented on #68
@nkumar-topcoder we need help to populate candidates since it has be input via RCRM. cc @sandhiyakavi

[2021-02-28 08:45] maxceem commented on #124
@mbaghel, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-28 08:45] maxceem commented on #124
Paid manually via https://www.topcoder.com/challenges/f3f26850-22cd-417a-b287-b51a706526fe

[2021-03-01 06:14] #78 closed

[2021-03-01 06:15] nkumar-topcoder commented on #73
@lakshmiathreya  this was verified with @sandhiyakavi  during verification of new status `interview`

[2021-03-01 08:25] #73 closed

[2021-03-01 09:53] sandhiyakavi opened #132 "Alignment issue in mail sent for Report an issue and Request an Extension features."
Description:

Alignment issue in mail sent for Report an issue and Request an Extension features. All the contents of the mail are getting displayed as a paragraph.

<img width="1095" alt="image (24)" src="https://user-images.githubusercontent.com/55895538/109480809-577bb780-7abf-11eb-8736-952dbccf7dac.png">

[2021-03-01 09:55] sandhiyakavi commented on #124
Verified on Dev Env. Working as expected.

Pop up window.
<img width="959" alt="extension_1" src="https://user-images.githubusercontent.com/55895538/109479766-13d47e00-7abe-11eb-8ee6-56114863109c.png">

Success message:
<img width="959" alt="extension_3 success" src="https://user-images.githubusercontent.com/55895538/109479785-1b942280-7abe-11eb-9aee-eec6c2375c65.png">

Failure message:
<img width

[2021-03-01 20:46] wdprice opened #133 "Jobs showing "Assigned" when open positions still exist."
In situations with multiple openings, once someone is placed, the UI stops showing the Review Candidates button.

<img width="1070" alt="Screen Shot 2021-03-01 at 3 43 14 PM" src="https://user-images.githubusercontent.com/6014049/109556629-11b1f580-7aa5-11eb-80f3-3003430ac7b1.png">

[2021-03-02 09:16] maxceem commented on #125
Sum up:
- If `isApplicationPageActive` is `true` then disable description editor

   ![image](https://user-images.githubusercontent.com/146016/109625549-209db400-7b48-11eb-8e42-d779fd67bedc.png)

   - note, that we should be able to scroll the content inside the editor but should not be able to edit it
   - if the editor doesn't have a feature to "disable" it, then we can show the TuiViewer instea

[2021-03-02 09:17] maxceem commented on #125
Challenge https://www.topcoder.com/challenges/65521df7-adfe-4fbc-99b8-22ab140aa9ce has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 09:17] maxceem commented on #125
@yoution this is open for pickup.

Job for testing with `isApplicationPageActive=true` https://platform.topcoder-dev.com/taas/myteams/111/positions/4a996ad0-6ac9-4133-95ae-4abbc9db2f75/edit

[2021-03-02 09:19] maxceem commented on #125
@yoution there is one more requirement:
- Display a message underneath that reads: "You may not edit a Job Description that is currently posted to Topcoder.com. Please contact support@topcoder.com." when the Job Description is disabled.

We should implement it a good way, so still using our current from config. Do you have any good ideashow?

[2021-03-02 09:24] yoution commented on #125
@maxceem please assign me

[2021-03-02 09:32] maxceem commented on #125
Challenge https://www.topcoder.com/challenges/65521df7-adfe-4fbc-99b8-22ab140aa9ce has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 11:02] maxceem commented on #128
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 11:03] maxceem commented on #128
Challenge https://www.topcoder.com/challenges/ec422500-cb11-4dc0-910e-3d9cdca697e8 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 11:03] maxceem commented on #128
Payment task has been updated: https://www.topcoder.com/challenges/ec422500-cb11-4dc0-910e-3d9cdca697e8
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `ec422500-cb11-4dc0-910e-3d9cdca697e8` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 11:20] maxceem commented on #125
Payment task has been updated: https://www.topcoder.com/challenges/65521df7-adfe-4fbc-99b8-22ab140aa9ce
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `65521df7-adfe-4fbc-99b8-22ab140aa9ce` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 12:02] maxceem commented on #126
@wdprice could you please have a look on this issue. Is it ok to remove from the editor the features mentioned above, so they don't create problems to us, or do we need them?

We should do this the same for the editor in Connect and we already did that for demo https://connect-test01.topcoder-dev.com/new-project/taas-jobs (not in DEV and not in PROD yet). You may check it out.

[2021-03-02 12:16] maxceem commented on #133
@wdprice hmm, I cannot reproduce this via testing on DEV. So I guess this is a side effect of something else, it looks like it's not caused by the automation logic we have in API.

@nkumar-topcoder  I guess only you could help us. Can we check the log on PROD on all the actions which were called for this job. I wonder who or what changed the status for this job to assigned.

Or maybe someone incre

[2021-03-02 14:12] wdprice commented on #133
I created every record in this as part of a demo. Nothing changed after
assignment.

On Tue, Mar 2, 2021 at 7:16 AM maxceem <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

William Price

Developer Experience & TAAS

781-405-0598 |  @will_price <https://twitter.com/will_price>  | LinkedIn
<https://www.linkedin.com/in/william-price-21478010/>

www.topcoder.com  | @topcoder <http:

[2021-03-02 21:34] wdprice commented on #126
All good - removal of those features in both places is approved.

[2021-03-03 04:22] sandhiyakavi commented on #74
Closing this issue as a separate issue https://github.com/appirio-tech/connect-app/issues/4331 is opened for https://github.com/topcoder-platform/taas-app/issues/74#issuecomment-785792579

[2021-03-03 04:22] #74 closed

[2021-03-03 04:36] SathyaJayabal commented on #122
Verified on dev

https://user-images.githubusercontent.com/58783823/109753358-1e9b2a00-7c08-11eb-85f9-787d1a42f458.mov

@maxceem, Suggestion: should the link open in a new tab ?

[2021-03-03 04:48] SathyaJayabal commented on #126
verified on dev, Table, tasks, indent and outdent are removed
<img width="1440" alt="Screenshot 2021-03-03 at 10 16 53 AM" src="https://user-images.githubusercontent.com/58783823/109754224-a9305900-7c09-11eb-9375-33f99f30a0ef.png">

[2021-03-03 05:06] SathyaJayabal commented on #121
@wdprice , sent test reports from PROD with issue link. Will need help from you to verify if the reports were sent to the correct email addresses.

cc @maxceem

[2021-03-03 05:15] SathyaJayabal opened #135 "[$30] Clicking on user from Manage access is displaying a blank page"
Clicking on user from Manage access is displaying a blank page
Test URL:
https://platform.topcoder.com/taas/myteams/26861/access
<img width="1440" alt="Screenshot 2021-03-03 at 10 44 48 AM" src="https://user-images.githubusercontent.com/58783823/109756213-7f793100-7c0d-11eb-9e8c-187583cca494.png">

cc @maxceem

[2021-03-03 05:23] SathyaJayabal commented on #119
verified, was able to add users using their email
<img width="1440" alt="Screenshot 2021-03-03 at 10 51 14 AM" src="https://user-images.githubusercontent.com/58783823/109756833-a6843280-7c0e-11eb-88cf-86c11beb87f1.png">

[2021-03-03 05:23] #119 closed

[2021-03-03 05:37] sandhiyakavi commented on #125
Verified on Dev Env. The Job description field is not editable after Enabling the Job application form and isApplicationPageActive field changed to true

![image](https://user-images.githubusercontent.com/55895538/109757769-d0991d00-7c2d-11eb-9fcd-54573977aad4.png)

![image](https://user-images.githubusercontent.com/55895538/109757609-7dbf6580-7c2d-11eb-8885-bf720b46ccf5.png)

[2021-03-03 07:15] sandhiyakavi commented on #68
Verified on Prod Env. Working as expected.

https://user-images.githubusercontent.com/55895538/109767859-828b1600-7c3b-11eb-800e-52b1fe58ad12.mp4

[2021-03-03 07:16] #68 closed

[2021-03-03 07:31] maxceem commented on #135
Challenge https://www.topcoder.com/challenges/da33ad21-d998-45c3-8497-da1c630ca059 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 07:32] maxceem commented on #135
@yoution this is ready for pickup.

This already works on other pages, we need to use components for showing users properly.

![image](https://user-images.githubusercontent.com/146016/109769769-5784d000-7c03-11eb-9838-a2e38a4e2cad.png)

[2021-03-03 07:33] yoution commented on #135
@maxceem please assign to me

[2021-03-03 07:34] maxceem commented on #122
As for me, this is a good idea. We can create a separate issue for this enhancement and confirm with WIll if he likes it.

[2021-03-03 07:36] maxceem commented on #135
Challenge https://www.topcoder.com/challenges/da33ad21-d998-45c3-8497-da1c630ca059 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 07:37] SathyaJayabal commented on #122
@wdprice , should we open the links in the description in a new tab? If its fine, I will create a separate issue as enhancement.

[2021-03-03 08:06] yoution commented on #135
@maxceem
this is user profile page?
![image](https://user-images.githubusercontent.com/3863914/109772622-29ba7e00-7c39-11eb-9ec8-bf345d7a2acc.png)

the `manage access` page request for this [api](https://github.com/topcoder-platform/taas-apis/blob/dev/src/common/helper.js#L1072) to get user info, many info are lost, like `bookingResourceId`

[2021-03-03 08:08] maxceem commented on #135
@yoution no, this is user profile page https://www.topcoder-dev.com/members/tester1234.

For example, see how it works on this page http://localhost:8080/taas/myteams/16873/positions/eaa70908-20dc-488b-a9fb-e96dca98ec33/candidates

[2021-03-03 08:14] maxceem commented on #120
QA guidelines:
- Edit Job page shows correct values in the options https://platform.topcoder-dev.com/taas/myteams/16873/positions/edda7f39-5297-461a-89be-2074faa8bdc8/edit
- View Job page show the same selected value https://platform.topcoder-dev.com/taas/myteams/16873/positions/edda7f39-5297-461a-89be-2074faa8bdc8
- Some jobs might have value not in the list, in such case in the edit page we shou

[2021-03-03 08:18] maxceem commented on #120
Payment task has been updated: https://www.topcoder.com/challenges/515b690c-7e2c-42ea-9e00-421df868eb73
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `515b690c-7e2c-42ea-9e00-421df868eb73` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 08:57] sandhiyakavi commented on #120
@maxceem The text in the Resource type field is shown as "Select..." instead of "Resource Type" .

<img width="778" alt="resource type name is missing" src="https://user-images.githubusercontent.com/55895538/109779226-157e7d00-7c49-11eb-86bc-ba61707e7b28.png">

Other than that everything is good.

1. Four options are displayed correctly with blank space option.
<img width="960" alt="four_options_d

[2021-03-03 09:10] maxceem opened #137 "Show placeholder inside the selects with value equal to label"
In our form we have a common logic:
- When there is no value inside the field we are showing a placeholder inside the field and we don't show label

    ![image](https://user-images.githubusercontent.com/146016/109781238-68880e00-7c10-11eb-9621-44c30677075e.png)

- When we put the cursor inside the field, we hide the placeholder and show the label above:

   ![image](https://user-images.githubuser

[2021-03-03 09:11] maxceem commented on #120
@sandhiyakavi  nice catch, I've logged a separate issue for this https://github.com/topcoder-platform/taas-app/issues/137. The same issue we have for all selects.

[2021-03-03 11:34] maxceem commented on #124
@mbaghel, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 17:23] maxceem commented on #135
Payment task has been updated: https://www.topcoder.com/challenges/da33ad21-d998-45c3-8497-da1c630ca059
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `da33ad21-d998-45c3-8497-da1c630ca059` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 17:34] maxceem commented on #135
QA guidelines:
- Good team for checking various cases of members https://platform.topcoder-dev.com/taas/myteams/16873/access
   - Note, that user which is not yet registered in Topcoder and invited by email doesn't have link because they don't have profile.

[2021-03-04 04:19] sandhiyakavi commented on #135
Verified on Dev Env.Working as expected.

<img width="958" alt="no access" src="https://user-images.githubusercontent.com/55895538/109910717-1caa9700-7cec-11eb-8e87-dbc0dd6319e6.png">

https://user-images.githubusercontent.com/55895538/109910728-27fdc280-7cec-11eb-9d7d-58da76130ff1.mp4

[2021-03-09 08:45] maxceem opened #138 "[$25] Disable Job Edit form when status is "assigned", "cancelled" or "closed""
If job status is "assigned", "cancelled" or "closed" we should disable on the field in the Job Edit form **except of** "status" (so we should be able to edit status).

Example job: https://platform.topcoder-dev.com/taas/myteams/16873/positions/edda7f39-5297-461a-89be-2074faa8bdc8/edit

![image](https://user-images.githubusercontent.com/146016/110443126-4258e700-80c4-11eb-8eca-19d510042fb7.png)

[2021-03-09 08:45] maxceem commented on #138
Challenge https://www.topcoder.com/challenges/13478285-8e2f-48f9-b473-f771091ed561 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-09 08:46] maxceem commented on #138
@yoution this is ready for pickup.

[2021-03-09 09:27] maxceem commented on #138
Challenge https://www.topcoder.com/challenges/13478285-8e2f-48f9-b473-f771091ed561 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-09 10:46] sandhiyakavi commented on #122
Verified on Prod Env. Working as expected.

https://user-images.githubusercontent.com/55895538/110459206-0a779100-8110-11eb-96bc-8fed440bdca6.mp4

[2021-03-09 11:00] sandhiyakavi commented on #128
Verified on Prod Env. Working as expected.

https://user-images.githubusercontent.com/55895538/110460809-08163680-8112-11eb-97d2-413425a6cc1b.mp4

[2021-03-09 11:05] sandhiyakavi commented on #126
Verified on Prod Env. Tables, Task, Indent and Outdent are removed from both Create/Edit Job page.

![image](https://user-images.githubusercontent.com/55895538/110461323-a1454d00-8112-11eb-955b-f97fc285a06b.png)
![image](https://user-images.githubusercontent.com/55895538/110461465-cfc32800-8112-11eb-8238-2295461dddfd.png)

[2021-03-09 11:14] sandhiyakavi commented on #124
@maxceem Everything is working as expected in Prod Env. Not able to check the Email content for the same.

1. Popup window.
![image](https://user-images.githubusercontent.com/55895538/110461947-714a7980-8113-11eb-8e3b-0e5ae0616694.png)

2. Success message.
![image](https://user-images.githubusercontent.com/55895538/110462063-8e7f4800-8113-11eb-82d2-0cbf6a3d47ba.png)

3. Failure message.
![image](h

[2021-03-09 11:22] sandhiyakavi commented on #135
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/110463172-ebc7c900-8114-11eb-9211-883fa547ca4e.png)

https://user-images.githubusercontent.com/55895538/110463327-216cb200-8115-11eb-8b55-6ffc2b9f3967.mp4

[2021-03-09 12:08] #135 closed

[2021-03-09 12:09] #128 closed

[2021-03-09 12:10] #126 closed

[2021-03-09 12:11] #125 closed

[2021-03-09 12:12] #122 closed

[2021-03-09 12:12] #120 closed

[2021-03-09 12:25] sandhiyakavi commented on #124
@wdprice I am not able to check the Email for the "Request Extension" as I don't have access to customersuccess@topcoder.com. Can you please help me in checking the same?

[2021-03-10 01:03] yoution commented on #138
@maxceem I can not login
![image](https://user-images.githubusercontent.com/3863914/110559541-5d3c6180-817f-11eb-9636-b0792b4644e0.png)

[2021-03-10 08:12] maxceem commented on #138
@yoution this is fixed on DEV now, please try again. By the way it works locally anyway.

[2021-03-10 08:13] maxceem opened #139 "Invalid Token Issuer"
After the 1.5 release, every page returns error on PROD

![image](https://user-images.githubusercontent.com/146016/110597381-28cda300-8189-11eb-97e0-fb8512bafbdd.png)

[2021-03-10 08:14] maxceem commented on #139
Fixed by https://github.com/topcoder-platform/taas-app/pull/118

[2021-03-10 08:18] #139 closed

[2021-03-10 09:12] yoution commented on #138
@maxceem still not work
![image](https://user-images.githubusercontent.com/3863914/110605091-b928d980-81c3-11eb-85ac-37192c6e492d.png)

[2021-03-10 10:46] yoution commented on #138
@maxceem please review

[2021-03-10 12:20] maxceem commented on #138
@yoution could you please create a PR against this repository so I could review it.

[2021-03-10 12:29] yoution commented on #138
@maxceem please reviewe https://github.com/topcoder-platform/taas-app/pull/141

[2021-03-12 12:21] sandhiyakavi commented on #121
Closing this issue as it's confirmed with @wdprice

[2021-03-12 12:21] #121 closed

[2021-03-12 12:21] #124 closed

[2021-03-12 12:21] maxceem commented on #124
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-17 04:57] lakshmiathreya commented on #119
This prompted a hotfix - should have been marked P0.

[2021-03-17 06:01] SathyaJayabal commented on #114
labelling as p0 as it required a hotfix
cc @lakshmiathreya

[2021-03-18 11:48] maxceem commented on #46
hi @sandhiyakavi

we've fixed this issue as per discussion on https://github.com/topcoder-platform/tc-project-service/issues/645

Could you please test filtering by the team again, and tell if you get the expected results now.

The downside of the current fix, that we cannot find projects by partial words for example searching by `mark` would not return teams with `markdown` anymore, we would have

[2021-03-19 05:04] sandhiyakavi commented on #46
@maxceem Yes, This approach is better. I am able to search Taas team based on their full name as well as using keyword.

![image](https://user-images.githubusercontent.com/55895538/111733727-e65c4280-88bb-11eb-8f66-e451c87085e2.png)
![image](https://user-images.githubusercontent.com/55895538/111733752-f542f500-88bb-11eb-936b-07a8f8dea513.png)

[2021-03-19 08:16] maxceem commented on #138
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-19 08:46] sandhiyakavi commented on #138
@maxceem Can we have the border for all the fields (like before) when it is in non editable form. For the look and feel perspective. What do you think?

Before:
![image](https://user-images.githubusercontent.com/55895538/111751909-61cbed00-88d8-11eb-9954-6035cb820fe9.png)

After
![image](https://user-images.githubusercontent.com/55895538/111751957-70b29f80-88d8-11eb-849d-5e6bcba48a8f.png)

Other t

[2021-03-22 21:52] maxceem commented on #138
@sandhiyakavi added borders for the disabled fields:

![image](https://user-images.githubusercontent.com/146016/112062889-3f043780-8b69-11eb-8435-b6f0b5bbb92a.png)

[2021-03-23 04:32] sandhiyakavi commented on #138
Thanks @maxceem

Verified on dev env.

![image](https://user-images.githubusercontent.com/55895538/112092417-c938b400-8bda-11eb-8c81-1eb9160c07a3.png)
![image](https://user-images.githubusercontent.com/55895538/112092952-fdf93b00-8bdb-11eb-8f5c-cab5184113b3.png)

[2021-03-23 14:43] maxceem commented on #138
Payment task has been updated: https://www.topcoder.com/challenges/13478285-8e2f-48f9-b473-f771091ed561
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `13478285-8e2f-48f9-b473-f771091ed561` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-29 10:47] sandhiyakavi commented on #138
Verified on Prod. Working as expected.

1. Assigned status
![image](https://user-images.githubusercontent.com/55895538/112824888-0fec4980-90c6-11eb-9c55-15818a883438.png)

2. Cancelled status
![image](https://user-images.githubusercontent.com/55895538/112825167-66598800-90c6-11eb-8bd5-1bc03b1ee05c.png)

3. Closed status
![image](https://user-images.githubusercontent.com/55895538/112825257-825d2980

[2021-03-29 11:00] sandhiyakavi commented on #46
Verified on Prod Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/112827459-55f6dc80-90c9-11eb-963a-a5f56eae5aa1.png)
![image](https://user-images.githubusercontent.com/55895538/112827500-63ac6200-90c9-11eb-8c02-8167a1363012.png)

[2021-03-29 11:14] #138 closed

[2021-03-29 11:15] #46 closed

[2021-04-08 04:48] sandhiyakavi opened #142 "RCRM Job candidate Rejected Status Integration loop"
Inifinite loop scenario happening with the Zap: 5 PROD - JOBCANDIDATE Update All Status RCRM to TaaS and  4-PROD-JOBCANDIDATE-Status-to-Rcrm

[2021-04-08 09:16] maxceem commented on #142
### References:

- We had a similar issue with `shortlisted` status https://github.com/topcoder-platform/taas-app/issues/114
- We fixed by 3 PRs:
   - https://github.com/topcoder-platform/taas-apis/pull/159/files
   - https://github.com/topcoder-platform/taas-es-processor/pull/27/files
   - https://github.com/topcoder-platform/taas-app/pull/115/files

### Suggested fix:

As have been discussed on

[2021-04-09 08:01] maxceem commented on #142
We found out the root cause of this issue and fixed it via https://github.com/topcoder-platform/taas-es-processor/pull/33.

The general idea of the fix, we should not post to Zapier to update status, if status was not really updated. Added the next unit tests which verify this logic:
- should post to Zapier if status is changed to “rejected”
- should post to Zapier if status is changed to “shortli

[2021-04-09 09:58] SathyaJayabal commented on #142
Verified the status updates between RCRM and TaaS App after the addition of the new status. The syncing of the statuses between the apps is working fine on Dev.

[2021-04-09 13:12] SathyaJayabal commented on #142
Verified the status updates between RCRM and TaaS App after the addition of the new status. The syncing of the statuses between the apps is working fine on Prod.

[2021-04-09 13:12] #142 closed

[2021-04-12 08:24] SathyaJayabal opened #145 "Zap is not triggered sometimes on JC status updates on RCRM"
Zap is not triggered sometimes on JC status updates on RCRM. Noted in prod intermittently.
cc @nkumar-topcoder

[2021-04-12 08:27] SathyaJayabal commented on #69
Noticed this again on 9th Apr on prod. But we are not able to reproduce the issue.
cc @nkumar-topcoder

[2021-04-19 06:03] sandhiyakavi opened #146 "User should not be able to remove RB's start date, End date or both once created."
Description:
User should not be able to remove(make null) RB's start date, End date or both once created.

Steps to Reproduce:
1. Create RB with both start date and End date.
2. Check WP created for the same.
3.  Edit the RB by removing both start and End date.
4.  Check WP again.

Actual result:
 WP still existed with old start and End date limit.

Expected result:
User should not be able to remo

[2021-04-20 02:47] sandhiyakavi opened #147 "RB Status 'sourcing', 'in-review' still displayed in UI"
Description:

Status 'sourcing', 'in-review' still displayed in UI

![image](https://user-images.githubusercontent.com/55895538/115329969-17d37100-a1ce-11eb-9099-7a1633b1914f.png)

[2021-04-20 07:28] maxceem commented on #147
@sandhiyakavi fixed in DEV:

![image](https://user-images.githubusercontent.com/146016/115355197-1cdef300-a1c3-11eb-818d-145c7afb1cec.png)

[2021-04-20 07:39] sandhiyakavi opened #148 "No way to change status of RB from UI once its Status is 'closed' or 'cancelled'"
Description:
At present RB details will vanish from UI if status is not 'assigned' (changed to other status).Then if the user wants to move the closed/cancelled RB's back to 'assigned' status, it can only be done through api.

It would be better if the RB's still present in UI even with other status.

[2021-04-20 07:52] sandhiyakavi commented on #147
Verified on Dev Env. The status 'sourcing', 'in-review' removed.

![image](https://user-images.githubusercontent.com/55895538/115358649-d5735980-a1f8-11eb-8549-488d50c80416.png)

[2021-04-20 09:51] sandhiyakavi opened #149 "Error msg for RB status update is large if many WP are in partially-completed/completed status"
Description:
Error msg for RB status update is large if many WP are in partially-completed/completed status.
sample:
<img width="960" alt="RB_statuschange_error" src="https://user-images.githubusercontent.com/55895538/115375831-1ffcd200-a209-11eb-914e-bf3dd4abe63a.png">

[2021-04-21 07:55] maxceem opened #150 "Show/Edit Resource Bookings strat/end dates without time and timezone"
In API we've updated the Resource Bookings model to only store dates inside `startDate` and `endDate` https://github.com/topcoder-platform/taas-apis/issues/204

Now we have to update the UI for this:

- display the Resource Bookings dates as it is without timezone conversion, but in current date format
- edit Resource Booking page should load/updated dates correctly in a new format without any tim

[2021-04-22 07:46] maxceem commented on #150
Here are the screenshots of the Resource Booking pages with dates BEFORE the migration of dates, we could compare after the migration.

https://platform.topcoder-dev.com/taas/myteams/16873

![image](https://user-images.githubusercontent.com/146016/115675960-c820b100-a357-11eb-9889-6b847fba5bdd.png)

https://platform.topcoder-dev.com/taas/myteams/16873/rb/7c057525-6ddd-4b62-abdf-1371ff678015

![ima

[2021-04-22 12:30] SathyaJayabal commented on #150
verified on dev

Existing RB
https://platform.topcoder-dev.com/taas/myteams/16873
<img width="1440" alt="Screenshot 2021-04-22 at 5 51 39 PM" src="https://user-images.githubusercontent.com/58783823/115713359-89a8e780-a393-11eb-8311-6e4efe6b1e85.png">

https://platform.topcoder-dev.com/taas/myteams/16873/rb/7c057525-6ddd-4b62-abdf-1371ff678015
<img width="1440" alt="Screenshot 2021-04-22 at 5 51 36

[2021-04-26 10:58] SathyaJayabal opened #155 "WP updates"
feat: remove extra statuses for resource booking
feat: don't use time for Resource Bookings
docs: full local development guide

[2021-04-26 11:01] #148 closed

[2021-04-26 11:02] sandhiyakavi commented on #150
Verified in Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/116072662-5edbcd80-a6ca-11eb-9f63-b0913b8c876e.png)

[2021-04-26 11:04] sandhiyakavi commented on #147
Verified in Prod.Working as expected

![image](https://user-images.githubusercontent.com/55895538/116072841-977ba700-a6ca-11eb-95a3-db8aa8ad5671.png)

[2021-04-26 11:06] sandhiyakavi commented on #155
Verified in Prod. Everything working as expected.

[2021-04-26 11:09] #155 closed

[2021-04-26 11:09] #150 closed

[2021-04-26 11:09] #147 closed

[2021-04-28 16:28] SathyaJayabal opened #158 "[$30] When BM declines candidate, the JC status must be updated to "client rejected - screening""
When BM declines candidate, the JC status must be updated to "client rejected - screening". At present the FE tries to update to "rejected" and gets an error.

<img width="1440" alt="Screenshot 2021-04-28 at 9 58 29 PM" src="https://user-images.githubusercontent.com/58783823/116439184-e4977e80-a86c-11eb-9997-445e4fcb069d.png">

[2021-04-28 16:32] SathyaJayabal opened #159 "[$30] While selecting a candidate JC status must be updated to "selected""
While selecting a candidate JC status must be updated to `selected`. But the FE tries to update it to `shortlist`.
<img width="1440" alt="Screenshot 2021-04-28 at 9 59 57 PM" src="https://user-images.githubusercontent.com/58783823/116439513-43f58e80-a86d-11eb-9ea1-b82a43d5fd1a.png">

[2021-04-28 16:35] nikolay83 opened #160 "[minor] Clickable links in SCHEDULE YOUR AVAILABILITY popup"
2. Popup SCHEDULE YOUR AVAILABILITY: “View More Times” and “Overlay My Calendar” links are not clickable. scheduler@topcoder.com as well.

[2021-04-28 16:49] SathyaJayabal opened #161 "[$15] To Review Tab: Schedule Interview button doesn't close the popup and user is able to create more interviews by clicking on the button repeatedly"
1.. Go to "To Review" tab of candidates review screen
2. Click on Schedule interview from actions drop down
3. Schedule an Interview popup opens
4. Click on Add More under Attendees section
5. Click on Begin Scheduling button.

Expected: An error message should be displayed asking the user to enter the email address if the field is mandatory. Else the flow should move on to the next step.

Actual:

[2021-04-28 17:13] SathyaJayabal opened #162 "Unable to schedule an interview"
While scheduling an interview we get the error

interview.xaiTemplate" must be one of [interview-30, interview-60]
<img width="1440" alt="Screenshot 2021-04-28 at 10 42 56 PM" src="https://user-images.githubusercontent.com/58783823/116445111-20354700-a873-11eb-83bd-cfb35808e048.png">

Note: This was working fine sometime back

[2021-04-28 20:07] wdprice opened #163 "[$40] Interview Tab design off: Add options to select and decline a candidate"
Per earlier discussions, the Interview tab designs were updated to accommodate the ability to select or decline a candidate from that page:

**What has been implemented:**
![image](https://user-images.githubusercontent.com/6014049/116465440-3de6ba00-a83b-11eb-8988-55bd65bbae6f.png)

**The latest designs:**
![image](https://user-images.githubusercontent.com/6014049/116465771-ab92e600-a83b-11eb-94ae

[2021-04-28 20:45] wdprice opened #164 "[$15] Update "Select Candidate" Confirmation Page Text"
Update the text highlighted in the screenshot below:
![image](https://user-images.githubusercontent.com/6014049/116467278-80a99180-a83d-11eb-9baa-6a4005aead70.png)

New Text:

[2021-04-29 00:09] wdprice opened #165 "[$50] Default Email Addresses"
Schedule Interview screen should default to show the logged in user's email address:
![image](https://user-images.githubusercontent.com/6014049/116487195-62ec2480-a85d-11eb-9c47-457b36f5006c.png)

Additionally, the member identified in jobCandidate.id should be in the CC: field on the email, and their full name should be added to the payload passed to Kafka so the Sendgrid API call can include the

[2021-04-29 00:09] wdprice commented on #165
CC: @urwithat

[2021-04-29 00:09] wdprice commented on #164
CC: @urwithat

[2021-04-29 00:09] wdprice commented on #163
CC: @urwithat

[2021-04-29 02:26] SathyaJayabal opened #166 "Select Candidate Flow"
For the duration between when customer selects a candidate and the candidate is placed(and shows up as an RB/Team member) , where will the candidate be displayed ? Should we have a selected tab?

For example, this is the current flow:
1. Customer sees 4 candidates in the to review tab.
2. Customer schedules interview for 1, they show up in the interview tab
3. Customer declines one, They show up i

[2021-04-29 02:28] SathyaJayabal commented on #162
This is working now @nikolay83

[2021-04-29 02:39] SathyaJayabal commented on #165
@wdprice , should the Job candidate's email also be displayed by default in the above screen?

[2021-04-29 03:08] SathyaJayabal opened #167 "Customer is able to schedule interviews even though the previous round is still scheduled/being scheduled"
Customer is able to schedule interviews even though the previous round is scheduled/being scheduled. Should this be allowed?
<img width="1440" alt="Screenshot 2021-04-29 at 8 37 27 AM" src="https://user-images.githubusercontent.com/58783823/116497936-2e608300-a8c6-11eb-8c4e-21cf5c8a3deb.png">

[2021-04-29 04:57] sandhiyakavi opened #168 ""Decline candidate" confirmation popup text"
Description:

The current text in "Decline candidate" confirmation popup from To Review tab is shown as "Are you sure you want to decline the selected candidate?" . The candidate is mentioned as "selected" though they are not selected.

<img width="959" alt="declinecand_selected" src="https://user-images.githubusercontent.com/55895538/116504151-ab095680-a8f2-11eb-910d-d911dc02fb27.png">

[2021-04-29 05:06] SathyaJayabal commented on #168
@sandhiyakavi , i think they mean the currently selected candidate (selected from the list of candidates)

[2021-04-29 05:06] #168 closed

[2021-04-29 05:11] SathyaJayabal opened #169 "Update code to trigger Zaps on new status changes"
When the following status JC changes are made from the taas app, the zaps to sync to RCRM must be triggered

Open->Interview (from review tab)
Open->Client - Rejected Screening (from review tab)
Open-> Selected (from review tab)
Interview->Client - Rejected Interview (from interview tab)
Interview -> Selected (from interview tab)

cc @nkumar-topcoder @urwithat @nikolay83

[2021-04-29 05:19] nikolay83 commented on #162
Ok, will close it.

[2021-04-29 05:19] #162 closed

[2021-04-29 05:25] nikolay83 commented on #161
once we have candidate's and customer's e-mails fetched from member API, this will be expected behaviour. Should fix it now? @wdprice @urwithat

[2021-04-29 05:28] nikolay83 commented on #165
They should.
However, for now we couldn't retrieve any default e-mails due to member API issues. @urwithat could you advise if member API is fixed now?

[2021-04-29 05:28] nikolay83 commented on #165
IIRC, we agreed not to display candidate's e-mail

[2021-04-29 05:35] nikolay83 commented on #167
I assume a customer may want to plan >1 interviews with a candidate in parallel.

[2021-04-29 06:25] SathyaJayabal commented on #161
@nikolay83 , on further testing, this doesn't seem to be the issue with empty email input. Sometimes when we click on the Schedule Interview button on the popup, the popup doesn't close and the interviews keep getting created when user clicks on schedule interview button.

This issue doesn't happen always.

https://user-images.githubusercontent.com/58783823/116509832-91abde80-a8e1-11eb-9691-c713d3

[2021-04-29 06:34] sandhiyakavi opened #170 "[$25] The RB status 'Assigned' is still displayed in UI and 'Placed' displayed as unsupported value"
Description:

The RB status 'Assigned' is still displayed in UI and the new replaced status 'Placed' is displayed as 'Unsupported value: placed'

<img width="956" alt="RB_status" src="https://user-images.githubusercontent.com/55895538/116510696-481ebc00-a900-11eb-8fba-d48428974a69.png">

[2021-04-29 06:38] nikolay83 commented on #169
@urwithat from architecture PoV what should it at taas-app side? Not sure what to update so far?

[2021-04-29 07:00] sandhiyakavi opened #171 "[$25] Candidate with status 'rejected - other' are not getting displayed under Declined tab"
Description:

In existing records, the Job candidates with new status 'rejected - other' (changed from 'rejected' to 'rejected-other' are not getting displayed under declined tab.

![image](https://user-images.githubusercontent.com/55895538/116512951-d0529080-a903-11eb-85cc-ff2a3918aa6c.png)
![image](https://user-images.githubusercontent.com/55895538/116513048-f5df9a00-a903-11eb-8b5e-b7dd474fd887.

[2021-04-29 07:27] sandhiyakavi opened #172 "Schedule an interview pop up: Text for number of interviews limitation is missing"
Description:
 Text "You may have as many as 3 interviews with each candidate for the job" for denoting number of interviews limitation is missing in Schedule an interview pop up.

![image](https://user-images.githubusercontent.com/55895538/116514429-f8db8a00-a905-11eb-8377-5be9a2f85cc3.png)

[2021-04-29 07:47] sandhiyakavi opened #173 "[$15] Error message/Constraint should be added in UI when the project members tries to schedule an interview"
Description:

At present, No Error message/Constraint is added in UI when a member of the project tries to schedule an interview.

If the project member clicks Begin scheduling button, no action occurs.

<img width="959" alt="member_schedulean interview" src="https://user-images.githubusercontent.com/55895538/116517798-6984a580-a90a-11eb-8216-9eab90eb1c62.png">

[2021-04-29 08:39] sandhiyakavi opened #174 "Able to schedule more than three interviews for a Job candidate"
Description:

User is able to schedule more than three interviews for a Job candidate. Warning pop up "You've reached the cap of 3 interviews with this candidate. Now please make your decision to Select and Decline them"  not displayed. Popup for interview scheduling still appear.

![image](https://user-images.githubusercontent.com/55895538/116523917-bae46300-a911-11eb-8a9a-eeb8b118eb21.png)
![ima

[2021-04-29 09:14] SathyaJayabal commented on #171
@nikolay83 @sandhiyakavi Candidates with all three rejected statuses must be displayed here
`rejected-other` , `Client - Rejected Screening` and `Client - Rejected Interview`

[2021-04-29 09:39] SathyaJayabal commented on #174
@sandhiyakavi , thats out fo scope for now. But lets keep this open to track.

[2021-04-29 09:40] SathyaJayabal commented on #172
@sandhiyakavi , thats out fo scope for now. Will be done when we fix
https://github.com/topcoder-platform/taas-app/issues/174

[2021-04-29 09:40] #172 closed

[2021-04-29 09:46] SathyaJayabal commented on #173
@nikolay83, @sandhiyakavi ,@urwithat Only Booking Manager/Admin should be bale to see the schedule interview button.

[2021-04-29 09:57] SathyaJayabal commented on #169
@nikolay83 , @nkumar-topcoder is working on this. Fixes to be made to the taas-es-processor.

[2021-04-29 10:08] cagdas001 commented on #158
If it's rejected from the TO REVIEW list, the status will be `client rejected - screening`. If it's rejected from the INTERVIEW list, then  the status will be `client rejected - interview` Please confirm if this is correct

@urwithat @nikolay83

[2021-04-29 10:09] sandhiyakavi opened #175 "Email not sent for following interviews scheduled if same attendees mentioned."
Description:
Email not sent for following interviews scheduled if same attendees mentioned.

Steps to Reproduce:
1. Add an email address as attendee for first interview scheduled.
2.  Add the same email address as attendee for second interview scheduled.

Actual result:
Email received for the interview round 1 and the Email for interview round 2 not received.

Expected result:
Email should be rece

[2021-04-29 10:09] cagdas001 commented on #159
If selected from the TO REVIEW list, the status will be `selected` If selected from the INTERVIEWS list, the status will be `placed`. Please confirm if this is correct

@urwithat @nikolay83

[2021-04-29 10:19] SathyaJayabal commented on #169
This is fixed thro
https://github.com/topcoder-platform/taas-es-processor/commit/90c4b4f52e6a40b358fa539a407dfbfb61db8e72

All JC Status updates between RCRM and Taas are working as expected
<img width="800" alt="Screenshot 2021-04-29 at 3 48 58 PM" src="https://user-images.githubusercontent.com/58783823/116536356-6eddf200-a902-11eb-9360-a95d5d5c3d0d.png">

[2021-04-29 10:19] #169 closed

[2021-04-29 10:22] SathyaJayabal commented on #158
@cagdas001 , if there is atleast one interview associated with the candidate, it will be client rejected - interview. So yes to your question.

[2021-04-29 10:23] SathyaJayabal commented on #159
@cagdas001 ,  If selected from the INTERVIEWS list, the status will be still `selected`

[2021-04-29 10:29] SathyaJayabal opened #176 "Email is not sent to the customer and candidate email ids"
When an interview is scheduled, the emails are not sent to the customer and candidate email addresses. The email is sent only to the manually entered attendees email id.

[2021-04-29 10:40] nkumar-topcoder commented on #170
@nikolay83 @urwithat
 please update values from "assigned" to "placed"

https://github.com/topcoder-platform/taas-app/blob/cfeec2e85bf72fc115e8880d6fea8b378c803b5d/src/constants/index.js#L300

[2021-04-29 11:30] sandhiyakavi opened #177 "Project members able to view the attendees from UI but not through api"
Description:

The Project members are able to view the attendees for a particular interview scheduled through 'View Previous Interviews' button.

But while trying to fetch Interview details through Endpoints "GET /v5/jobcandidates/:id/interviews/" and "GET /v5/jobcandidates/:id/interviews/:round" returns 403 Forbidden error.

What is expected? Should the project members able to view previous inter

[2021-04-29 13:27] wdprice commented on #173
@SathyaJayabal This is not true - customers would be the ones hitting this button. Basically anyone with access to the project should be able to.

[2021-04-29 13:29] wdprice commented on #167
@nikolay83 your interpretation is accurate. This is working as intended.

[2021-04-29 13:30] SathyaJayabal commented on #173
@wdprice , yes you are right. We should check the permissions on the backend.

[2021-04-29 13:30] wdprice commented on #165
Do not display the candidates email in the UI, it only needs to be passed in the payload.

[2021-04-29 13:32] wdprice commented on #166
Good point @SathyaJayabal. A selected tab would be great (but only if it is easy to implement quickly).

@nikolay83 - what do you think?

[2021-04-29 13:33] #167 closed

[2021-04-29 13:37] nikolay83 commented on #173
Final requirement: regular member (a customer) must be able to schedule an interview.

[2021-04-29 15:09] cagdas001 commented on #173
Only book (i.e. requestInterview)? I guess the update endpoint will remain with the same permissions?

And, by regular member, you mean any member with a valid token right? or do customers have a specific role?

[2021-04-29 15:22] nikolay83 commented on #173
Actually everything developed within the Interview Scheduler must be allowed.
Yes, Any member with the token.

[2021-04-29 15:33] maxceem commented on #163
@nikolay83, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-29 15:45] wdprice commented on #173
Any member who is associated with the parent project, plus bookingAdmin and Topcoder Admin can click "Schedule Interview", "Schedule Another Interview", and "Begin Scheduling"

[2021-04-29 15:54] nikolay83 commented on #176
because they are mocked. Must be fixed by today's update we are waiting for.

[2021-04-29 15:55] nikolay83 commented on #171
@cagdas001

[2021-04-29 16:15] cagdas001 commented on #173
What I understand from this, customers have nothing to do with the updateInterview endpoint. They'll only schedule/create interviews. And, AFAIK, the updateInterview will already be called by Zapier, it's a part of the automated flow.

So, we'll require project-level permission to schedule interviews.  Does this also apply when viewing the interview details? Technically endpoints will return all t

[2021-04-29 16:17] cagdas001 commented on #165
To clarify, the UI will pass the candidate email to the backend right? So backend won't find any email based on candidate/customer etc., it'll send to whatever it gets from UI, as recipients.